<p><span translate>Welcome to HealthData.</span> <span translate>Please have a look at the following short video with instructions on how to perform administrator tasks on the HealthData data collection platform.</span></p>

<iframe class="iframe-video" src="//player.vimeo.com/video/131750275?title=0&byline=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

<p translate>Additional help can be accessed while using the application by clicking on the help icon in the upper right corner.</p>

<div class="row vid-content">
  <label class="checkbox dialog-confirm"><input type="checkbox" ng-model="intro"><span translate>Do not show this dialog again</span></label>
  <button class="btn btn-secundary fRight" ng-click="saveIntroduction()" translate>Start</button>
</div>