<p>{{ 'Dear data provider' | translate }}, <p>
<p>{{ 'Your healthdata software has been upgraded to a new version (version' | translate }} {{ version}}).</br>
  {{ 'To know what has changed in this new version, please consult the' | translate }} <a class="features_support" target="_blank" href="{{  link }}">{{ "support article" | translate }}</a>. </p>

<p>{{ 'Kind regards' | translate }}, </br>
{{ 'The healthdata team' | translate }}</p>
</br>
<label class="checkbox dialog-confirm"><input type="checkbox" ng-model="intro"><span translate>Do not show this dialog again</span></label>
<button class="btn btn-secundary fRight" ng-click="saveBoolean()" translate>Ok</button>