<p><span translate>Welcome to HD4DP, the healthdata for data providers software that facilitates data collection for registries.</span>
  <span translate>You are invited to participate in</span>
  <span ng-repeat="collection in dclist">{{ collection.label | translate }}<span ng-if="!$last">, </span><span ng-if="$last">.</span></span>
</p>

<p translate>Before you start using HD4DP, we recommend you have a look at this introduction video, which gives you a quick overview of the main functionalities.</p>

<iframe class="iframe-video" src="//player.vimeo.com/video/121136499?title=0&byline=0" width="300" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p translate>If you need additional help while using the application, please click on the guide icon or help icon in the upper right corner.</p>

<div class="row vid-content">
  <label class="checkbox dialog-confirm"><input type="checkbox" ng-model="intro"><span translate>Do not show this dialog again</span></label>
  <button class="btn btn-secundary fRight" ng-click="saveIntroduction()" translate>Start collecting data</button>
</div>