/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/********************
 *** Configurations */

/**************
 *** Document */

// Input fields
$inputHeight: 34px;
$inputBorder: 1px solid $lightgrey;

// Text
$inputTextColor: $lightgrey;

/******************
 *** Theme Styles */

$themeControlWidth: 80px;
$themeControlPadding: 25px;

label {
  color: #757575;
  display: block;
  margin-bottom: 0;
}

.fa-stack{
  color: #ccc;
}

.radio label + skr-editor-component{
  .form-group{
    margin-left: (-$themeControlPadding) - 20px !important;
  }
}

div label + skr-editor-component, #doc-content .select{
  .form-group{
    border-left: 1px solid $main;
    padding-left: 20px;
    margin-left: 5px;
    margin-bottom: 10px !important;
  }
  .doc-control{
    margin-left: 0;
    border-left:none ;
  }
}
div label + skr-editor-component skr-editor-component:first-of-type .doc-control{
  margin-top: 5px;
}

.addListItem{
  .fieldset{
    border: 1px dashed !important;
  }

  legend{
    background: $border;
    border: none !important;
    border-bottom: 1px dashed #ccc !important;
  }
}

.addList{
  > div > label {
    display: block;
  }
  div div:first-of-type .btn-list-del{
    margin-top: 12px;
  }
  > .comment-button{
    display: none;
  }
}
.btn-list-del{
  border: none;
  background: rgba(255, 0, 0, 0.4);
  height: auto;
  color: #fff;
}

.radio label{
  font-weight: bold;
}
.radio > label{
  font-weight: normal;
}
