/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/********************
 *** Configurations */

// Add dot before labels (inline,none)
$labelDot: none;

/**************
 *** Document */

// Input fields
$inputHeight: 30px;
$inputBorder: 1px solid $lightgrey;

// Block elements
$blockPadding: 25px;
$blockBackground: $white;

// Labels
$labelColor: $black;
$labelSize: 16px;

// Text
$inputTextColor: $lightgrey;

$docTitleSize: 21px;
$docSubTitleSize: 18px;

// Borders
$docBorderStyle: 1px solid $border;


/******************
 *** Theme Styles */




