<nav ng-controller="DocumentMenuCtrl">
  <div class="alignright action-menu">

    <div class="menu-items">
      <!-- uib-popover needs to be added to a surrounding div since disabled buttons block events -->
      <div ng-repeat="item in actionMenu"
           uib-popover="{{ itemClass(item).disabled ? item.disabledHelptext() : undefined | translate }}" popover-append-to-body="true" popover-placement="auto bottom" popover-trigger="'mouseenter'">
        <button ng-disabled="itemClass(item).disabled"
                ng-click="item.click()"
                class="btn-new"
                ng-class="itemClass(item)">
          <span ng-if="!item.icon">{{item.name | translate}}</span>
          <span ng-if="item.icon"><i class="fa {{ item.icon }}"></i></span>
        </button>
      </div>
    </div>
  </div>
</nav>