<div id="document-menu">
  <ul class="nav navbar-nav">
    <div class="navbar" id="document-menu-bar">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in documentMenu" ng-class="navClass(item)">
          <a data-position="left" data-intro="{{ item.intro | translate }}" ng-click="activate(item)"
             class="{{item.class}}"><span class="{{item.icon}}"></span><span class="hide-text">{{ item.name | translate }}</span></a>
        </li>
        <li ng-if="loggedUser.username == 'admin' || loggedUser.username == 'admin@skryv.com' ">
          <a ng-click="active.id = 'raw'"><span class="fa fa-laptop"></span>raw</a>
        </li>
      </ul>
    </div>
  </ul>
</div>