/* Original work Copyright (c) 2015 Skryv
 * Modified work Copyright (c) 2015-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.ngdialog-content, #docdef-container{
  .btn{
    border-radius: 0;
  }
  .btn-success{
    background-color: $main;
    border-color: darken($main, 3%);
  }
}

#docRaw{
  textarea{
    resize: vertical;
    width: 100%;
    min-height: 450px;
  }
}


#docdef-container {
  margin-top: -55px;

  .preview-toggles{
    width: auto;
    font-weight: normal;
    font-size: 14px;
    padding-left: 8px;

    input{
      margin-right: 0;
      height: 10px;
    }
  }

  .btn-success:hover, .btn-success:focus {
    background-color: darken($main, 2%)
  }

  .node-nested .angular-ui-tree-node {
    padding: 2px;
  }

  #doc-content{
    padding: 0;
    top: 0;
    position: relative;
    width: 100%;
    overflow-y: visible;
  }
  #document-menu{
    position: static;
    padding: 0;
    .navbar{
      background-color: $main;
      border-radius: 0;
    }
  }
}

.docdefeditor input[type="text"], .docdefeditor input[type="number"], .docdefeditor input[type="email"], .docdefeditor input[type="password"], .docdefeditor input[type="checkbox"], .docdefeditor select, .docdefeditor textarea, .btn {
  display: inline;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  width: 800px;
}

.nav-tabs{
  a {
    border-radius: 0 !important;
    &:hover{
      cursor: pointer;
    }
  }
}

span.mouse_pointer {
  cursor: default;
}

div.contenteditable {
  border: 1px solid #CCC;
  border-radius: 0;
  padding: 6px 12px;
  line-height: 1.3em;
}

.docdef-header{
  background-color: white;
  padding: 10px 10px;
  z-index: 5;
  position: relative;
}

.docdef-title{
  padding: 2px 2px 2px 50px;
  position: relative;
  margin-top: 0;
  background-color: #dedede;
  i{
    position: absolute;
    bottom: 10px;
    left: 13px;
  }
  &:hover{
    cursor: pointer;
  }
  input{
    font-size: 31px;
    color: #444;
    border: none;
    padding: 5px 10px;
    box-shadow: none;
    background: #fafafa;
    &:focus{
      background-color: white;
      border: none;
    }
  }
}

.docdef-actions{
  position: absolute;
  right: 10px;
}

.docdef-body{
  padding: 10px;
  background: #FFF;

  .tree-main-item{
    margin: 5px 0;
    border: 1px solid #eee;
    padding: 7px 10px;
  }
}

.node.nodeActive{
  padding-bottom: 6px;
  color: #777;
}

.node, .node-nested{
  position: relative;
  .btn{
    margin: 10px 0;
  }
}

.node{
  padding-right: 50px;
  &:hover{
    cursor: pointer;
    > .node-name{
      color: $main;
    }
  }

  .node-name{
    display: block;
    p{
      margin-bottom: 0;
    }
  }

  .node-swap, .node-actions{
    i{
      font-size: 13px;
      padding: 3px 5px;
      &:hover{
        background: $main;
        color: white;
        cursor: pointer;
      }
    }
  }

  .node-actions{
    right: 10px;
    position: absolute;
    top: 0;
  }


  .node-swap{
    float: left;
    margin-right: 10px;

    i{
      padding: 0 5px;
    }
  }
}

.node-nested{
  border: none;
  border-top: 1px solid #eee;

  .node{
    margin: 5px 0;
    font-size: 14px;
  }
  .node-actions{
    top: 1px;
  }
  .node.nodeActive{
    padding-bottom: 0;
    color: #777;
  }

  .angular-ui-tree-nodes {
    min-height: 20px;
  }
}

.angular-ui-tree-placeholder {
  background-color: rgba(0,0,0, 0.02);
}
.empty-list-placeholder-node {
  opacity: 0;
  margin-top: -10px;
  margin-left: -20px;
  min-height: 10px;
}

.btn.btn-primary + .btn.btn-primary {
  margin-left: 5px;
}

.json-valid,.json-invalid {
  display: block;
  width: 100%;
  color: $green;
  padding: 3px 0px;
}


.json-invalid{
  color: $red;
}

.dde-field-edit {
  .row {
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 0px;
    line-height: 34px;;
  }
  [ng-repeat]:last-child .row {
    border-bottom: none;
  }
  .row-group .row {
    border-bottom: none;
  }
  .row-group .row:last-child {
    border-bottom: 1px solid #F0F0F0;
  }
  [ng-repeat]:last-child .row-group .row:last-child {
    border-bottom: none;
  }
}
