/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
// Possible configurations
@import 'themes/htd.scss';

// Text
$inputTextColor: $lightgrey;

#doc-form.read_only, #sticky-wrapper.read_only {
  .btn-list-del {
    display: none;
  }
  input[type="text"], input[type="number"], select, input[type="textarea"] {
    background-color: #f7f7f7 !important;
    pointer-events: none !important;
    border: 1px solid #ddd !important;
  }
  .btn-date {
    background-color: #f7f7f7 !important;
    border: 1px solid #ddd !important;
    display: none;
  }
  input[type="radio"] {
    pointer-events: none !important;
  }
  .radio:not(.radio-selected), .checkbox:not(.checkbox-selected) {
    opacity: 0.6;
  }
  .radio, .checkbox {
    pointer-events: none !important;
    &:hover {
      cursor: default !important;
    }
  }
  .input-group-btn button{
    pointer-events: none !important;
    background-color: #f7f7f7 !important;
  }
}

input[type="text"]:read-only, input[type="number"]:read-only, select:disabled, input[type="textarea"]:read-only {
  background-color: #f7f7f7 !important;
  pointer-events: none !important;
  border: 1px solid #ddd !important;
}
.btn-date:disabled {
  background-color: #f7f7f7 !important;
  border: 1px solid #ddd !important;
  display: none;
}
input[type="radio"]:disabled {
  pointer-events: none !important;
}
.radio.radio-read-only:not(.radio-selected), .checkbox.checkbox-read-only:not(.checkbox-selected) {
  opacity: 0.6;
}
.radio.radio-read-only label, .checkbox.radio-read-only {
  pointer-events: none !important;
  &:hover {
    cursor: default !important;
  }
}


// Global input styles
input, select {
  border: $inputBorder;
  outline: none;
  max-width: 100% !important;
  width: auto;
  box-shadow: none;
}

input[type="text"], input[type="number"], input[type="email"], input[type="password"], select, textarea {
  display: block;
  padding: 4px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #555555;
  font-weight: normal;
  font-family: $fRegular;
  border-color: #cccccc;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea {
  border-color: #aaa;
}

// Classes for editor elements
div.radio {
  margin: 10px 0 0 0;
  > label {
    font-family: $fRegular;
    display: inline-block;
    font-size: 15px;
    width: auto;
    min-width: 25px;
  }
  input[type="radio"] {
    width: 15px;
    height: 13px;
    margin-right: 8px;
  }
  // Space between radio buttons
  + div.radio, > label + label {
    margin-top: 5px;
  }
}

.checkbox {
  margin: 0;
  font-size: 15px;
  width: auto;
  display: inline-block;
}

.checkbox:hover {
  cursor: pointer;
}

// Sections
.section-folder {
  border: 1px solid #bbb;
  color: #444;
  background: #FFF;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
  margin-top: 10px;
}

.section-folder:hover {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
  box-shadow: inset 0px 2px 2px 0px rgba(50, 50, 50, 0.2);
}

.questionnaire {
  width: 100%;
  margin-top: 10px;
  tr td {
    background-color: #fcfcfc;
    padding: 2px 5px;
    label {
      font-size: 14px;
    }
  }
  tr td:first-of-type {
    text-align: left;
  }
  tr:nth-of-type(odd) td {
    background-color: #f6f6f6;
  }
  thead tr td {
    background-color: #999 !important;
    color: white;
    border: 1px solid #888;
    padding: 2px 5px;
    text-align: center;
  }
  td label {
    font-weight: normal;
  }
  .answers {
    text-align: center;
    input {
      vertical-align: sub;
    }
    label {
      font-size: 14px;
    }
  }
  .answers label:hover {
    cursor: pointer;
  }
}

ol {
  padding-left: 0;
}

.doc-ol {
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #eee;
  padding: 10px;
  > li {
    margin-left: 23px;
    color: #888;
    padding: 3px 10px;
    span {
      float: right;
      font-size: 11px;
      display: none;
    }
  }
  > li:hover {
    cursor: pointer;
    color: #666;
    span {
      display: block;

    }
  }
  li + ol {
    label {
      margin-top: 10px;
    }
  }
  select {
    max-width: 100%;
  }
}

.radio {
  label.checkbox {
    font-weight: normal;
    padding-left: 0;
  }
  div.choice-option {
    margin-left: 20px;
  }
}

.radio label{
  font-weight: bold;
}
.radio > label{
  font-weight: normal;
}

.choice-option:first-of-type {
  margin-top: 10px;
}

.choice-option + .choice-option {
  margin-top: 2px;
}

label.radio:hover, label.checkbox:hover {
  cursor: pointer;
}


#sticky-wrapper {
  .section-help {
    display: none;
  }
  .section-content {
    border: none;
  }
}

link-label, .doc-control label a {
  text-decoration: underline;
  &:hover {
    color: $main;
    cursor: pointer;
  }
}
