/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#mainmenu{
  margin: 0;
  border: none;
}

#navbar-action{
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 5;
}

.navbar-fixed-top .row .col-md-8 {
  padding-right: 0px;
}

.navbar-fixed-top .row {
  background-color: #8d9e9b;
}

.navbar{
  min-height: 0px;
}

// Upper navigation menu
#menu-bar {
  margin: 0;
  padding: 0;
  background: #fff;
  border-bottom: 1px solid $main;
// Navigation icons
  .nav.navbar-nav{
    float: left;
    display: inline-block;
    >li .dropdown{
      button{
        background: none;
        border: none;
        text-align: center;
        padding: 12px 18px;
        color: $textgray;
        font-size: 14px;
        text-transform: capitalize;
        &:hover{
          color: $main;
        }
      }
    }
    >li .dropdown.open{
      button {
        color: $main;
      }
    }
    >li{
      text-align: center;
      >a{
        padding: 12px 18px;
        color: $textgray;
        font-size: 14px;
        text-transform: capitalize;
        span{
          display: block;
          margin-bottom: 5px;
        }
      }
      >a:hover{
        color: $main;
      }
    }
    > li.active{
      >a{
        background: none;
        color: $main;
      }
    }
    > li:hover{
      cursor: pointer;
      >a{
        color: $main;
      }
    }
  }
// User icons
  .nav.user-nav{
    float: right;
  }
// Selectbox
  .menuDropdown{
    display: inline-block;
    float: left;
    height: 0;
    color: #fff;
    border-bottom: 44px solid $main;
    border-right: 36px solid;
    padding: 0px 20px 0px 0px;
    width: 250px;
    button:focus{
      outline: 0;
    }
    button{
      position: relative;
      text-align: left;
      padding: 11px 32px;
      box-shadow: none;
      color: #fff;
      width: 253px;
      background: transparent;
      border: none;
      font-size: 18px;
      font-family: "proxima_novasemibold";
      span{
        white-space: pre-line;
        vertical-align: sub;
        margin-top: 4px;
      }
      i{
        color: #FFFFFF;
        position: absolute;
        right: 0;
        padding: 8px 6px;
        top: 8px;
        font-size: 14px;
      }
    }
    .menu-period{
      opacity: 0.5;
      font-size: 12px;
      display: block;
      span{
        vertical-align: baseline;
      }
    }
    .menu-name{
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > ul.dropdown-menu{
      top: 36px;
      left: 20px;
      background-color: #fff;
      border: none;
      min-width: 233px;
      .dropdown-menu{
        color: #000;
      }
    }
  }
  .menu-dropdown-grey a{
    color: #CCC;
    cursor: default;
  }
  .menuDropdown.open{
    i{
      background-color: #fff;
      color: $main;
      border-radius: 4px 4px 0 0;
    }
  }
}

#action-bar {
  background: $main;
  padding: 2px 25px;
  li a.disabled, li a.disabled:hover{
    pointer-events: none;
    background-color: #DDD;
    color: #BBB;
    cursor: not-allowed;
    box-shadow: inset 0px 0px 1px 0px rgba(50, 50, 50, 0.6);
  }
  li{
    float: none;
    display: inline-block;
    padding: 12px 5px;
    a{
      display: inline-block;
      padding: 5px 20px;
      background-color: #FFFFFF;
      box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
      color: #666;
      font-size: 14px;
      font-family: "proxima_novasemibold";
    }
    a:hover{
      color: $main;
      cursor: pointer;
      text-decoration: none;
    }
  }
  li a.back-button{
    background-color: $lightorange;
    color: #fff;
  }

  li a.back-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
}

.dropdown-menu .active > a {
  background-color: $main;

  &:hover {
    background-color: $main;
  }
}

.tooltip {
  background-color: $darkgrey;
}

.tooltip-arrow {
  background-color: $darkgrey;
}

.mobile.navbar-right{
  margin-right: 30px !important;
  margin-top: 6px;
  padding: 0;
  height: 0px;
  float: right !important;
  .dropdown{
    float: right !important;
    p{
      display: inline-block;
    }
  }
  .dropdown-toggle{
    background-color: transparent !important;
    i{
      font-size: 20px;
    }
  }
  p.title-mobile{
    float: left;
    font-size: 21px;
    margin-right: 10px;
    margin-top: 13px;
    color: #999;
    text-transform: capitalize;
  }
  p.title-mobile + a{
    float: right !important;
  }
  .nav.navbar-nav li a:hover{
    color: $main;
  }
}

#menu-bar .mobile .nav.navbar-nav li:hover a{
  color: #999 !important;
}

.menu-mobile{
  margin-top: 50px !important;
}

.mobile .dropdown-menu {
  background: #fff !important;
  margin-left: -100px;
  border: 1px solid #999  !important;
  li.active{
    display: none !important;
  }
}
.dropdown-help .dropdown-menu{
  left: -62px;
}

.dropdown .dropdown-menu.navigation-dropdown-menu {
  right: -15px !important;
  top: 35px !important;
  left: auto !important;
  //background: #f5f5f5;
  li:first-of-type {
    a {
      border-top: none;
    }
  }

  .fa-caret-up {
    position: absolute;
    right: 10px;
    top: -10px;
    color: rgba(0, 0, 0, 0.15);
    font-size: 17px;
  }
}

.navigation-item-user {
  border-left: 1px solid #eee;
  button {
    background: #fafafa !important;
  }
}