.counter-rounded {
  border-radius: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  line-height: 19px;
  border: 1px solid;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.top-padding {
  padding-top: 20px;
}

.text-center {
  text-align: center;
}