/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$icon-font-path: "../../bower_components/sass-bootstrap/fonts/";

// Fonts
@import 'fonts/fonts';
$fRegular : "proxima_nova_rgregular";
$fBold : "proxima_nova_rgbold";
$fSemiBold : "proxima_novasemibold";
body{
  font-family: $fRegular;
}

// Imports
@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';
@import 'skryv';
@import 'header';
@import 'document_content';
@import 'notification';
@import 'dde';
@import 'listview/listview';
@import 'collection/collection';
@import 'participation/participation';
@import 'utils/utils';
@import 'document/document';
@import 'helpers';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  background: $background;
  color: $lightgrey;
  font-size: 16px;
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  color: #575757;
}

a:hover {
  color: $main;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.screen{
  display: block !important;
}
.mobile{
  display: none !important;
}

ul.nav.navbar-nav.navbar-right.mobile ul.menu-mobile{

  li{
    padding: 0;
    height: auto !important;
  }
  li a{
    color: #999 !important;
    border-bottom: 1px solid #f0F0F0 !important;
    padding: 10px 0 !important;
  }
  li:last-of-type a{
    border-bottom: 0px solid #f0F0F0 !important;
  }
  li:hover a {
    color: $main !important;
  }
}

.mail-subject {
  width: 100%;
}
.mail-body {
  width: 100%;
  resize: vertical;
  min-height: 300px;
}

@media screen and (max-width: 1250px) {
  #document-menu span.hide-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 930px) {
  #menu-bar .nav.navbar-nav li a {
    font-size: 11px;
    margin-top: 3px;
  }
}

@media screen and (max-width: 865px) {
  #document-menu span.hide-text {
    font-size: 14px;
  }
  #menu-bar{
    display: block;
    .menuDropdown{
      width: 260px;
      button{
        width: 260px;
      }
    }
  }
  #action-bar{
    display: block !important;
    margin: 0;
    padding-top: 3px;
    margin-top: -1px;
    padding-bottom: 3px;
    ul.nav.navbar-nav{
      margin: 0;
    }
    li{
      padding: 4px 5px;
    }
  }
  #container {
    padding-top: 90px;
  }
  .container{
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .screen{
    display: none !important;
  }
  .mobile{
    display: block !important;
  }

  .pagination-sm > li > a, .pagination-sm > li > span {
    padding: 8px 14px !important;
  }
  .pagination{
    margin: 13px 0;
  }
  .config-icons a {
    font-size: 18px;
  }
  h1{
    margin-top: 35px;
  }
  .white-form{
    .col-md-4, .col-md-6, .col-md-3{
      margin-bottom: 10px;
    }
    .col-md-4:last-of-type, .col-md-6:last-of-type, .col-md-3:last-of-type{
      margin-bottom: 0;
    }
  }
  .btn{
    padding: 10px 20px;
  }
  .white-form button.btn-primary, .white-form button.btn-secundary{
    padding: 10px 3px;
  }
  #document-menu{
    position: static !important;
    margin-top: 0 !important;
    padding-right: 0 !important;
    background-color: #ccc !important;
    .navbar-nav li a{
      background-color: #666 !important;
    }
  }
  #document-menu-bar {
    margin-bottom: 10px;
    border: none;
  }
  #document-menu .navbar-nav{
    margin-top: 15px;
    background: transparent;
    background-color: transparent;
    height: auto !important;
  }
  #document-menu .navbar-nav
  {
    li.active{
      a{
        background-color: #888 !important;
      }
    }
    li {
      display: inline-block;
    }
    a {
      .hide-text{
        display: block !important;
      }
      padding: 6px 10px 4px 10px !important;
      display: inline-block;
      font-size: 14px !important;
      border-right: 3px solid #ccc !important;
    }
  }

  #doc-container #doc-content{
    padding: 20px 25px 10px 25px;
    width: 100%;
    position: static;
    overflow-y: hidden;
  }
  #doc-meta #content, #doc-meta {
    position: static !important;
    overflow-y: hidden;
    background-color: #dedede;
  }
  #doc-meta{
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-left: none;
  }
  nav {
    border-bottom: none !important;
  }
  .hide-details{
    float: right;
  }
  .nav-to-top{
    display: block !important;
  }
  #settings .col-md-6{
    padding: 10px 0;
  }
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 0;
    right: 0;
  }
  .dr-notification-container{
    top: 105px;
  }
}

.alignleft {
  float: left;
}
.alignright {
  float: right;
}