/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$bg-color: rgba(2,45,59,0.85);
$border-color: lighten($bg-color, 13%);
$title-color: #FFF;
$text-color: #BFE2DE;
$logo-color: #adfaff;
$height: 52px;
$width: 380px;
$bounce-in: cubic-bezier(0.310, 0.390, 0.210, 1.650);

#notifications {
  position:fixed;
  z-index: 99999; // Above dialog overlay
  margin: 0px;
  top: 50px;
  right: 0px;
  font-size: 14px;
  padding:0px;

  .alert{
    cursor: pointer;
    border-radius: 0;
    margin-bottom: 10px;
    display: block;
    padding: 6px 12px;
    background: $valOrange;
    border: 1px dashed rgba(255,255,255, 0.2) !important;
    color: white;
    margin-right: 10px;
    vertical-align: middle;

    .fa-times {
      margin-left: 5px;
    }
  }
  .alert-success{
    background: $green;
  }
  .alert-info{
    background: $valOrange;
  }
  .alert-error{
    background: $red;
  }
}

.dr-notification-container.bottom {
  bottom: 20px;
}

.dr-notification-container.right {
  right: 20px;
}

.dr-notification-container.left {
  left: 20px;
}

.dr-notification-container.top {
  top: 20px;
}

.dr-notification-container.center {
  left: 50%;
  margin-left:-190px;
}

.dr-notification-wrapper {
  width: $width;
  position:relative;
  margin: 10px 0;
}

.dr-notification {
  width: $width;
  background-color: $bg-color;
  clear:both;
  min-height: $height;
  max-height: 90px;
  @include border-radius(5px);
  color: $text-color;
  border: 1px solid $border-color;
  overflow:hidden;
}

.dr-notification > div {
  background-color: $bg-color;
}

.dr-notification-close-btn {
  @include border-radius(20px);
  display:inline-block;
  padding:3px;
  background-color: darken($bg-color, 5%);
  font-size:14px;
  color: $logo-color;
  border:1px solid $border-color;
  position:absolute;
  i {
    padding-left:3px;
  }
  right:-11px;
  top:5px;
  @include transition(all 0.35s $bounce-in);
  cursor: pointer;
  &:hover {
    @include scale3d(1.25,1.25,1);
  }
}

.dr-notification-image {
  width: $height;
  height: $height;
  border-right: 1px solid $border-color;
  float:left;
  display:block;
  font-size: 40px;
  color: $title-color;
  text-align:center;
  i {
    display:block;
    width:100%;
    padding-top:25px;
  }
  img {
    margin:15px;
    // width: 100%;
    max-width:70px;
    min-width:48px;
  }
}

.dr-notification-image.dr-notification-type-info {
  color: #FFF;
}

.dr-notification-image.dr-notification-type-warning {
  color: #FFA226;
}

.dr-notification-image.dr-notification-type-error {
  color: #FF4B4F;
}

.dr-notification-image.dr-notification-type-success {
  color: #B4D455;
}

.dr-notification-image.success {
  color: #B4D455;
}

.dr-notification-content {
  padding-left: 100px;
  padding-right:15px;
  padding-top:10px;
}

.dr-notification-title {
  color: $title-color;
  margin: 0px;
  padding:0px;
  font-size:20px;
}

p.dr-notification-text {
  margin-top: -5px;
  font-size:12px;
}

@media (max-width: 720px) {
  #notifications {
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
}