/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  p{
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
}

#container {
  min-height:100%;
  position:relative;
  padding-top: 100px;
  padding-bottom: 25px;
}

//#body {
//  padding-bottom:60px;   /* Height of the footer */
//}

.fLeft{
   float: left !important;
 }
.fRight{
  float: right !important;
}

.lx-footer {
  text-align: center;
}

.lx-msg {
  font-weight: bolder;
  text-align: center;
  padding-bottom: 10px;
}

.lx-msg-error {
  @extend .lx-msg;
  color: red;
}

div section h4 {
  //background-color: #DFF0D8;
  background-color: #428bca;
  //border-color: #D6E9C6;
  border-color: #006699;
  color: white;
  padding: 5px;
}

.jumbotron {
  background-color: #f2f2f2;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*
 * FORM
 */

.searchbox {
  border: 1px solid darken($lightgrey, 20%);
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

.searchbox:focus  {
  border: 1px solid $grey;
  outline: 0;
  box-shadow: inset 0 0px 0px #8a8a8a, 0 0px 6px $border;
}

.align-right {
  text-align: right;
}


.documentcontainer {
  border-left: #c2c6c5 solid 1px;
  border-right: #c2c6c5 solid 1px;
  padding: 0px;
  min-height: 100%;
  height: 100%;
}

.document {
  border-right: #c2c6c5 solid 1px;
  padding: 40px;
  min-height: 100%;
  height: 100%;
}

.document > h1 {
  padding-top: 0px;
  margin-top: 0px;
}





/**
 * INLINE GLYPHICONS
 */

.left-inner-addon {
  position: relative;
}

.left-inner-addon input {
  padding-left: 30px;
}

.left-inner-addon i {
  position: absolute;
  padding: 10px 12px;
  pointer-events: none;
}

.right-inner-addon {
  position: relative;
}

.right-inner-addon input {
  padding-right: 30px;
}

.right-inner-addon i {
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  pointer-events: none;
}

h4 {
  background-color: #87cab8;
  color: white;
}

div #doc-content {
  padding: 20px 35px 10px 35px;
  bottom: 0;
  left: 0;
  top: 102px;
  position: absolute;
  width: 66.7%;
  overflow-y: scroll;
}

.pop-help {
  font-size: 10px;
  color: lighten(#575757, 50%);
}

.popover, .popover-content, .popover-inner {
  font-size: 14px;
  background-color: white;
}
.popover.right{
  max-width: 350px;
  color: #000;
  font-weight: normal;
  font-family: "proxima_nova_rgregular";
}

.novis{
  visibility: hidden;
}

h1 {
  font-family: "proxima_nova_rgbold";
  color: #444;
  border-bottom: 1px dashed rgba(153,153,153,0.4);
  margin-bottom:20px;
  font-size: 32px;
  text-transform: uppercase;
  span{
    font-size: 32px;
  }
  i{
    font-size: 16px !important;
    margin-right: 8px;
  }
}

//fieldset .doc-title + fieldset skr-document-model skr-document-model:first-of-type .form-group{
//  padding-top: 15px;
//}

//fieldset .doc-title + fieldset skr-document-model skr-document-model fieldset skr-document-model skr-document-model:not(:first-of-type) .form-group{
//  padding-top: 0;
//}

.novis + .col-md-11{
  border-left: 1px solid $border;
  padding: 15px 0 15px 20px;
}

.alert {
  padding: 5px 10px;
  background-color:rgba(246,246,246,0.9);
}

.alert-success {
  color: $grey;
  border: 1px solid $grey;
}

.alert-info {
  color: $grey;
  border: 1px solid $grey;
}

.alert-error {
  color: $red;
  border: 1px solid $red;
}

article {
  min-height: 100px;
}

.text-menu {
  font-family: Georgia, serif;
}

.text-menu .options button {
  width: 26px;
}

.panel-body {
  background-color: #ffffff;
}

/* Progress bars */
.progress-bar{
  box-shadow: none;
}

.progress{
  width: 100%;
  height: 10px;
  border-radius: 0;
  .progress:first-of-type{
    border-left: none;
  }
}

.progress-bar-success {
  background-color: $green;
}

.progress-bar-warning {
  background-color: $metamain;
}

.progress-striped {
  background-color: $lightgrey;
  border: 1px solid darken($lightgrey, 10%);
}

.btn-primary, .btn-primary:focus, .btn-secundary, .btn-secundary:focus {
  background: $btn;
  color: #FFF;
  border-radius: 0;
  box-shadow: 0px 1px 1px 0px rgba(50, 50, 50, 0.2);
  border: none;
  a{
    color: white;
  }
}

.btn-secundary{
  background: $lightorange;
}
.btn-secundary:focus{
  background-color: $main;
}
.btn-secundary:focus, .btn-primary:focus{
  outline: 1px solid rgba(0,0,0,0.2);
}
.btn-secundary:hover{
  color: #fff;
  > a{
    color: #fff !important;
    text-decoration: none !important;
  }
  background-color: $main;
}



.btn-primary:hover, .btn-primary[disabled] {
  background: $btnup;
  color: #fff;
  text-decoration: none;
  a{
    color: #fff;
  }
  a:hover{
    color: #fff;
    text-decoration: none;
  }
}

/*MAIN PAGE*/

::-webkit-input-placeholder { color:#ccc !important; }
::-moz-placeholder { color:#ccc !important; } /* firefox 19+ */
:-ms-input-placeholder { color:#ccc !important; } /* ie */
input:-moz-placeholder { color:#ccc !important; }

#mainpic {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.container-md-height {
  display:table;
  padding-left:0px;
  padding-right:0px;
}
.row{
  margin: 0;
}
.row-md-height {
  display:table-row;
}
.col-md-height {
  display:table-cell;
  float:none;
}

#maincontainer {
  margin: 50px 0px 20px 0px;
  border: 1px solid lighten($grey, 20%);
  border-radius: 2px;
  box-shadow: 0 2px 1px -1px lighten($main, 10%);
  background: $white;
  min-height: 300px;
}

#maincontainer .col-md-3 {
  padding: 20px 40px;
  border-right: 1px solid lighten($grey, 40%);
}

#maincontainer .col-md-3 ul {
  padding-left: 15px;
}

#maincontainer .doctitle {
  color: $main;
  font-weight: bold;
}

#maincontainer .col-md-3 ul a:hover, #mainrow .col-md-3 ul a:hover .doctitle {
  color: $main;
}

.rightmost {
  border: 0px !important;
}

.sm-err{
  color: $red;
  font-size: 12px;
}

/* Custom Icons */
.i-custom{
  height: 16px;
}
.i-custom.dashboard{
  background: image-url('nav/dashboard.png') no-repeat center;
}
.i-custom.overview{
  background: image-url('nav/overview.png') no-repeat center;
}
.i-custom.forms{
  background: image-url('nav/forms.png') no-repeat center;
}
.i-custom.reporting{
  background: image-url('nav/reporting.png') no-repeat center;
}
.i-custom.help{
  background: image-url('nav/help.png') no-repeat center;
}
.i-custom.gear{
  background: image-url('nav/gear.png') no-repeat center;
}
.i-custom.logout{
  background: image-url('nav/logout.png') no-repeat center;
}
.i-custom.login{
  background: image-url('nav/login.png') no-repeat center;
}
.i-custom.documents{
  background: image-url('nav/document.png') no-repeat center;
}

/* Login */
#request-form{
  margin-top: -50px;
  width: auto;
  display: inline-block;
  text-align: left;

  select{
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    width: 100%;
  }
}

.user-view-request {
  text-align: center;
}

#login-form, #request-form {
  .lx-msg{
    margin: 0;
    background: $main;
    color: #fff;
    padding: 7px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  }
}

#login-form{
  form{
    padding: 30px 40px;
    background-color: #F7F7F7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  .btn.btn-primary{
    padding-left: 30px;
    padding-right: 30px;
  }
  select{
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    width: 100%;
  }
  input[type="password"],input[type="email"]{
    width: 100%;
  }
  p {
    color: black;
  }
}

div.workbenchEditor #doc-content{
  position: relative !important;
}

/*********************** */

/* Spinner */
.loader{
  width: 100%;
  text-align: center;
  img{
    width: 35px;
  }
}

/* View: Table */
.config-table{
  div.radio{
    margin: 0;
  }
  .edit-config-key {
    margin: 0;
    padding: 5px 0px;
  }
  tbody{
    tr:hover td, .config-active td{
      background-color: #f8f8f8;
    }
  }
}

.config-icons{
  .fa-undo{
    color: $valBlue;
  }
  .fa-check{
    color: $green;
  }
  .fa-remove{
    color: $red;
  }
  .fa{
    opacity: 0.5;
    padding: 0px 2px;
    font-size: 16px;
  }
  .fa:hover{
    opacity: 1;
    cursor: pointer;
  }
}

.edit-config:hover{
  cursor: pointer;
}

.ul-no-style{
  padding-left: 0;
  li{
    list-style: none;
  }
}

// Notification page
#notification-page{
  padding: 30px 40px;
  margin-top: 30px;
  background-color: #F7F7F7;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}


// Settings
#settings {
  margin-top: 20px;
  .col-md-6{
    padding: 20px;
    .elastic-status{
      float: right;
      margin-top: -15px;
      > span{
        display: block;
        color: #ccc;
        font-size: 12px;
      }
    }
  }
  a{
    text-decoration: none;
    margin-right: 5px;
    color: white;
    background-color: #999;
    padding: 4px 10px;
  }
  a:hover{
    text-decoration: none;
    background-color: #888;
  }
  a:focus{
    color: #99;
  }
  select, input, button, .input-group-btn button{
    font-size: 14px;
    height: 24px;
    padding: 2px 5px;
  };
  input.no-right{
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .input-group{
    float: right;
    input{
      margin-right: -3px;
    }
  }
  .input-group, .input-group-btn{
    display: inline-block;
  }
  .input-group-btn button{
    border:1px solid #aaaaaa;
    vertical-align: text-top;
  }
}

.datepicker-template{
  width: 70%;
  float: left;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.datepicker-template + ul + button{
  height: 34px;
  border: 1px solid #aaaaaa;
  outline: none;
  border-radius: 3px;
  width: auto;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.user-view{
  input[type='text'], input[type='password'], input[type='email']   {
    width: 100%;
  }

  .password-cancel{
    width: auto;
    float: left;
    & + span{
      font-size: 12px;
      margin-left: 10px;
    }
    & + span:hover{
      cursor: pointer;
    }
  }
  ul{
    padding-left: 20px;
  }
  .radio{
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 15px;
    width: 100%;
    input{
      height: 12px;
    }
  }
  .user-roles{
    input{
      margin-bottom: 5px;
    }
    label{
      margin-top: 3px;
      display: block;
      margin-bottom: 5px;
      font-size: 15px;
    }
  }

  .fieldset-title{
    color: $main;
    font-size: 12px;
  }

  .form-block {
    width: 260px;
    vertical-align: top;
    display: inline-block;
    + .form-block{
      margin-left: 25px;
    }
  }

}

.list-table-toolbar, .config-list-toolbar{
  width: 100%;
  margin-bottom: 10px;
  display: block;
  overflow: auto;
  .btn{
    vertical-align: sub;
  }
  select{
    float: left;
    margin-right: 10px;
  }
  input[type="text"]{
    float: right;
  }
  .toolbar-date input{
    float: left;
  }
  * {
    display: inline-block;
  }
}

.config-list-toolbar{
  .btn.btn-primary + .btn.btn-primary{
    margin-left: 0;
  }
}

.config-icons a:focus, .config-icons a:focus i{
  color: #575757;
}

.form-control{
  border-radius: 0;
  outline: none;
}
.form-control:active,.form-control:focus{
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border-color: #aaaaaa;
}

// Configurations
.edit-hover {
  input{
    width: 100%;
  }
}

.custom-file-input{
  span{
    position: absolute;
    width: 100%;
    padding: 3px 20px 5px 20px;
    color: #333333;
    cursor: pointer;
  }
  span:hover, input:hover{
    cursor: pointer;
  }
  input{
    opacity: 0;
  }
}

.custom-file-input:hover{
  background-color: #f5f5f5;
  cursor: pointer;
}

input.ng-invalid-same-as{
  border: 1px solid red;
}
input.ng-valid-same-as{
  border: 1px solid green;
}

.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span, .pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span{
  border-radius: 0 !important;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus{
  background-color: #999;
  outline: none;
  border-color: #adadad;
}

.user-list-item{
  border-radius: 0 !important;
}

.white-form{
  background-color: #fff;
  padding: 20px 10px;
  border: 1px solid #ddd;
  textarea{
    height: 230px;
  }
  a.btn{
    padding: 7px 12px 8px 12px;
    &:focus, &:hover, &:active{
      text-decoration: none;
    }
  }
}

.dummy {
  opacity: 0 !important;
  width: 0 !important;
  padding: 5px 0 !important;
}

.dummy:hover {
  cursor: default !important;
}

.workbench {
  display: inline !important;
}

.list-columns{
  white-space: pre;
}

.popover-content {
  white-space:pre-wrap !important;
  text-transform: initial !important;
  color: #000;
}

.progress-bar-success + .popover .popover-content, .progress-bar-success + .popover{
  background-color: #0fa343;
  color: white;
}

.progress-bar-success + .popover .arrow::after{
  border-top-color: #0fa343;
}

.progress-bar-danger + .popover .popover-content, .progress-bar-danger + .popover{
  background-color: #d9534f;
  color: white;
}

.progress-bar-danger + .popover .arrow::after{
  border-top-color: #d9534f;
}

.progress-bar-info + .popover .popover-content, .progress-bar-info + .popover{
  background-color: #5bc0de;
  color: white;
}

.progress-bar-info + .popover .arrow::after{
  border-top-color: #5bc0de;
}

@media screen and (max-width: 880px) {
  .workbench {
    display: none !important;
  }
}

.ngdialog.ngdialog-theme-introduction{
  padding-bottom: 2% !important;
  padding-top: 2% !important;

  .ngdialog-content{
    width: 720px;
  }
}

// Max 5 dialogs at same time
// Make sure first comment is displayed at front
// Because clicking outside dialog results in closing the first
$i: 5;
@while $i > 0 {
  .ngdialog:nth-of-type(#{$i}) {
    z-index: 1000 + $i;
  }
  $i: $i - 1;
}

.dialog-confirm.checkbox {
  font-size: 12px;
  font-weight: normal;
  > input {
    height: 12px;
  }
}

.iframe-video{
  width: 70%;
  margin-left: 15%;
  margin-bottom: 15px;
  border: 1px solid #999;
  margin-top: 10px;
}

.ngdialog.ngdialog-theme-default .ngdialog-content{
  border-radius: 0;
  background-color: #FFF;
  font-family: proxima_nova_rgregular, Helvetica, Arial, sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px 5px #888888;
  padding: 20px;
  button {
    margin-right: 5px;
  }
}

.vid-content{
  label{
    width: auto !important;
    float: left;
  }
  li{
    width: 40%;
    float: left;
    padding-right: 4%;
  }
}

.doc-ssin{
  font-size: 12px;
}

.hide-details {
  height: 20px;
  float: right;
  a{
    color: #666;
    font-weight: normal;
    float: right;
    cursor: pointer;
    font-size: 12px;
    text-decoration: underline;
  }
  a:hover {
    color: #333;
  }
}

#sticky-wrapper + h3{
  padding-top: 15px !important;
  border-top: 1px solid #CCC !important;
}

.req-label:after {
  content:" *";
}

.login-status{
  position: absolute;
  right: 40px;
  bottom: 0;
  z-index: 99999;
  .fa.fa-circle.status-circle{
    color: #449d44;
    margin-left: -15px;
    float: none;
    margin-right: 10px;
    font-size: 7px;
  }
  .fa.fa-circle.status-circle.status-circle-offline{
    color: #d9534f;
  }
  .fa.fa-circle.status-circle.status-circle-busy{
    color: #fae900;
  }
  button{
    border-radius: 0;
    .caret{
      border-bottom-color: #fff;
    }
  }
  ul{
    left: -100%;
    min-width: 157px;
    border-radius: 0;
    li{
      padding: 5px 20px 5px 45px;
      color: #000;
    }
    li:hover{
      cursor: pointer;
    }
  }
}

.login-status{
  .btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active {
    &:not(.btn-success):not(.btn-danger) {
      background: #FFF;
      box-shadow: none;
      border: 1px solid #adadad;
      cursor: default;
    }
  }
}

#settings .login-status{
  button{
    height: auto;
    padding: 6px 12px;
    border-radius: 0;
  }
  .login-status{
    right: 20px;
    top: 0;
  }
  ul{
    border-radius: 0;
  }
}

.status-color-false {
  background: $red !important;
}
.status-color-true {
  background: $green !important;
}
.view-table table th.activeColumnStatus{
  background-color: $lightmain;
}

.view-table.status-table table td{
  border-top: none;
}

.status-date-filter{
  float: right;
  margin-bottom: 10px;
  input{
    margin-top: 0;
    width: 105px;
  }
  .btn-date{
    margin-top: 0;
  }
}

.status-dc-select {
  height: 34px;
  display: inline-block;
  max-width: 200px !important;

  + .toolbar-date {
    display: inline;
  }
}

.status-dc-input {
  width: 200px !important;
}

.status-report table > tbody {
  > tr {
    &:hover td {
      background: #FFF;
      cursor: default;
    }
    td {
      text-align: center;
    }
    td:first-of-type{
      text-align: left;
    }
  }

  .comment-total{
    &:hover{
      td {
        background: #f5f5f5 !important;
      }
    }
    td {
      font-weight: bold;
      font-size: 16px;
      background: #f5f5f5;
    }
  }
}

.center{
  text-align: center;
}

.configuration-date input{
  width: 200px;
  margin: 0;
}

.menu-hd{
  color: rgb(255, 255, 255);
  font-family: proxima_novasemibold;
  font-size: 18px;
  padding: 0 32px;
  margin-top: 9px;
  text-transform: uppercase;
}

.introjs-helperNumberLayer{
  line-height: 20px;
  border: 2px solid white;
  background: $main;
  box-sizing: content-box;
}

.introjs-tooltiptext{
  font-size: 14px;
  color: #444;
}

.user-dc-labels{
  font-family: "proxima_nova_rgregular";
  font-weight: normal;
  float: left;
  clear: both;
  input{
    height: auto !important;
    margin-top: 3px !important;
  }
  &:hover{
    cursor: pointer;
  }
}


.user-password-change{
  .error{
    color: $red;
  }
  input{
    margin-bottom: 15px;
    width: 100%;
  }
}

.skr-dialog{
  button{
    float: left;
  }
}

#docTranslations{
  table td {
    height: 100%;
    word-break: break-word !important;
  }
  h3{
    display: inline-block;
    span{
      &:hover{
        cursor: pointer;
      }
      &.activeTranslate{
        color: $main;
      }
    }
  }
  input[type="text"] {
    float: right;
    margin-top: 16px;
  }
  textarea{
    min-height: 50px;
    height: 100%;
    width: 100%;
    resize: vertical;
  }
}


.list-table-actions{
  a{
    margin-right: 3px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}

.main-bar {
  display: inline-block;
  background: $main;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

  .back {
    color: white;
    text-decoration: none;

    .fa {
      border: none;
    }
  }

  .main-title {
    span {
      font-size: 22px;
    }
    border: none;
    margin: 0;
  }
}

h1.main-title{
  span{
    font-size: 19px;
  }
  small{
    color: #FFF;
  }
  font-size: 19px;
  border: 1px solid #EEE;
  background: $main;
  padding: 10px 20px;
  color: #FFF;
  display: inline-block;
  float: none;
}
h1.main-md-title {
  margin-left: 16px;
}
.ldap-search {
  input[type="text"] {
    display: inline-block;
  }
  .btn-secundary {
    padding-top: 7px;
  }
}

.ngdialog-wide .ngdialog-content{
  width: 940px !important;
}

.btn-append{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.request-form {
  margin-top: -50px;
}

.login-request{
  margin-left: 15px;
  font-size: 14px;
}

.input-help {
  font-size: 14px;
}

.settings-item {
  a {
    position: relative;
  }

  .numberCircle {
    background: white;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    border: 1px solid #888;
    color: #888;
    text-align: center;
    display: inline-block;
    position: absolute;
    top: -9px;
    right: -9px;
    font-size: 12px;
    line-height: 19px;
  }
}

.settings-item{
  h2{
    color: #999;
    margin-top: 0;
    margin-bottom: 20px;
    border-bottom: 1px dashed #999;
    padding-bottom: 7px;
  }
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  .searched{
    background: #eee;
    margin-top: 15px;
    padding: 10px;
    ul{
      margin-bottom: 0;
      span{
        font-size: 12px;
      }
    }
  }
  .pass-repeat{
    margin-top: 5px;
  }
  .password{
    background: #eee;
    margin-top: 15px;
    padding: 5px;
    .btn-secundary{
      padding: 4px 10px;
    }
    .btn-primary{
      padding: 0;
    }
    input[type='password']{
      width: 100%;
    }
    .col-md-6{
      padding: 10px;
    }
  }
  .fa.fa-circle {
    color: $green;
    font-size: 9px;
    vertical-align: middle;
    padding-bottom: 2px;
  }
  .fa.fa-circle.status-circle-offline{
    color: $red;
  }
  .fa.fa-circle.status-circle-busy{
    color: #fae900;
  }
}
.settings-buttons {
  display: block;

  & > a,button {
    display: inline-block;
    margin-top: 10px;
  }
}

#settings .settings-notification input[type="text"] {
  display: inline;
  background: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  padding: 0;
  width: 40px;
  text-align: center;
  min-width: 0;
}

.user-form small {
  display: block;
  margin-top: 5px;
}

.features_support{
  color: $main;
  text-decoration: underline;
}

.follow-up-timing {
  input, select {
    display: inline-block !important;
    width: auto !important;
  }

}