/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
html{
  min-width: 620px;
}
#menu-bar{
  display: block;
  .menuDropdown{
    width: 260px;
    button{
      width: 260px;
    }
  }
}
#action-bar{
  display: block !important;
  margin: 0;
  padding-top: 3px;
  margin-top: -1px;
  padding-bottom: 3px;
  ul.nav.navbar-nav{
    margin: 0;
  }
  li{
    padding: 4px 5px;
  }
}
#container {
  padding-top: 90px;
}
.container{
  padding: 0;
  margin: 0;
  width: 100%;
}
.screen{
  display: none !important;
}
.mobile{
  display: block !important;
}
#listview-wrapper{
  padding-left: 15px;
  padding-right: 15px;
}
#listview-wrapper .btn-toolbar{
  margin-bottom: 10px;
  .btn-group.btn-solo{
    width: 20%;
  }
  .btn-group{
    width: 56%;
    padding: 10px 5px;
  }
  .btn-group:last-of-type button{
    border-radius: 0;
    padding: 7px;
  }
  .btn-grouped > li.screen{
    display: none !important;
  }
}

#listview-wrapper .btn-toolbar.mobile{
  width: 100%;
  height: 40px;
  margin-bottom: 13px;
  li{
    list-style: none;
    border: 1px solid #CED2D5;
    background: #fff;
  }
  i{
    width: 4%;
    padding-left: 9px;
    margin-right: 0;
  }
  input[type="text"]{
    background: #fff;
    width: 95%;
    height: auto;
    padding: 10px;
  }
}

.pagination-sm > li > a, .pagination-sm > li > span, #listview-wrapper .amount-per-page button{
  padding: 8px 14px !important;
}
#listview-wrapper .amount-per-page, .pagination{
  margin: 13px 0;
}
.config-icons a {
  font-size: 18px;
}
h1{
  margin-top: 35px;
}
.white-form{
  .col-md-4, .col-md-6, .col-md-3{
    margin-bottom: 10px;
  }
  .col-md-4:last-of-type, .col-md-6:last-of-type, .col-md-3:last-of-type{
    margin-bottom: 0;
  }
}
.btn{
  padding: 10px 20px;
}
.white-form button.btn-primary{
  padding: 10px 3px;
}
#document-menu{
  position: static !important;
  margin-top: 0 !important;
  padding-right: 0 !important;
  background-color: #ccc !important;
  .navbar-nav li a{
    background-color: #666 !important;
  }
}
#document-menu-bar {
  margin-bottom: 10px;
  border: none;
}
#document-menu .navbar-nav{
  margin-top: 15px;
  background: transparent;
  background-color: transparent;
  height: auto !important;
}
#document-menu .navbar-nav
{
  li.active{
    a{
      background-color: #888 !important;
    }
  }
  li {
    display: inline-block;
  }
  a {
    padding: 6px 10px 4px 10px !important;
    display: inline-block;
    font-size: 14px !important;
    border-right: 3px solid #ccc !important;
  }
}

#doc-container #doc-content{
  padding: 20px 25px 10px 25px;
  width: 100%;
  position: static;
  overflow-y: hidden;
}
#doc-meta #content, #doc-meta {
  position: static !important;
  overflow-y: hidden;
  background-color: #dedede;
}
#doc-meta{
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-left: none;
}
nav {
  border-bottom: none !important;
}
.hide-details{
  float: right;
}
.nav-to-top{
  display: block !important;
}
#settings .col-md-6{
  padding: 10px 0;
}

.workbench {
  display: none !important;
}

.dr-notification-container{
  top: 110px;
}
