/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
// first we set the variables:
$darkgrey: #454649;
$grey: #808080;
$textgray: #999999;
$lightgrey: #aaaaaa;
$background: #eeeff1;
$black: #191a1e;
$white: #FFFFFF;
$border: #E5E5E5;

// buttons
$btn: #999;
$btnup: #888;

  //main menu
$main: lighten(#1286da, 0%);      // #ed7925;
$darkmain: darken($main, 10%);    // #549281;
$metamain: lighten($main, 6%);    // #7ec7b6;
$lightmain: lighten($main, 40%);
$lightorange: #43a7ef;

//meta menu
$darkdocmenu: #596166;
$docmenu: #808b93;
$metadocmenu: lighten($docmenu, 8%);
$docmenuback: #E5E5E5;

//validation colors
$green: #90c488;
$valBlue: #a0b7df;
$red: #de7568;
$valOrange: #eebe8d;

// Images
.i-custom.comment:hover{
  background: image-url("comment_hover_hd4res.png") no-repeat center;
  background-size: 20px 20px;
  cursor: pointer;
}

.i-custom.comment.activeComments{
  background: image-url("comment_hover_hd4res.png") no-repeat center;
  background-size: 20px 20px;
}

.i-custom.comment{
  background: image-url("comment.png") no-repeat center;
  background-size: 20px 20px
}

#document-menu .navbar-nav{
  li.active, li:hover{
    cursor: pointer;
    a{
      background-color: #4aa2d8;
    }
  }
}

.listview-table{
  > tbody > tr > td.td-workflow {
    background: #fafdfe
  }
}

@import '../main';