<div class="row">
  <form name="board_form">
    <label>{{ 'Name of the view' | translate }}:</label>
    <input type="text" ng-model="newViewName" name="newviewName">
      <br />
      <button class="btn btn-secundary" ng-click="submitView()" translate>Save</button>
      <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button>
  </form>
</div>