<div class="row"> 
  <p>{{ 'You want to delete' | translate }} '{{ name }}'?</p>
  <button class="btn btn-secundary" ng-click="deleteViewConfirm()" translate>Delete</button> 
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button> 
</div>