<div class="loader" ng-if="loadingSubmission">
  <img src="images/loader_hd4dp.gif" id="loading-indicator" ng-if="platform == 'hd4dp'"/>
  <img src="images/loader_hd4res.gif" id="loading-indicator" ng-if="platform == 'hd4res'"/>
  <p translate>Submitting for review, please wait ...</p>
</div>

<div ng-if="!loadingSubmission">
  <p><span translate>Submitted</span>: {{ success }} <span translate>registration(s)</span>.</p>
  <p><span translate>Not submitted</span>: {{ errors.length }} <span translate>registration(s)</span>.</p>
  <ul ng-if="errors.length > 0">
    <li ng-repeat="error in errors">
      <b><span translate>Id</span> {{ error.id }}</b>: {{ error.message }}
    </li>
  </ul>
  <button class="btn btn-secundary" ng-click="closeThisDialog()"><a translate>Ok</a></button>
</div>
