<div class="row"> 
  <p>{{ 'Do you want to update' | translate }} '{{ name }}'?</p>
  <button class="btn btn-secundary" ng-click="updateViewConfirm()" translate>Update</button> 
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button> 
</div>