<div class="skr-dialog" ng-show="!loading && !hasResult">
  <p>{{ notification | translate }}</p>
  <p translate>Please select the CSV you want to upload.</p>

  <div class="row">
    <button class="btn btn-primary listview-upload-button" accept="csv" ng-file-select ng-model="files"><a>{{ files[0].name || ('Select CSV' | translate) }}</a></button>
    <button class="btn btn-primary" ng-if="showActions" ng-click="closeThisDialog()" translate>Cancel</button>
  </div>
  <div class="row listview-upload-dialog" ng-if="showActions">
    <hr/>
    <p><translate translate>When uploading a CSV, a check is performed for each record of the CSV if any corresponding record is already available in the application.</translate> <translate translate>The check for corresponding data is based on the unique id.</translate> <translate translate>For this registry, the unique id is composed of </translate><b> {{ uniqueID | translate }}</b>.</p>
    <p><span translate>Please indicate the desired behaviour for this CSV upload in case an existing record is found for a specific unique id.</span><br /><span translate>Please note that registrations with a status other than "In progress" will never be updated.</span></p>

    <p class="listview-upload-label"><i class="fa fa-circle"></i><translate translate>Attempt to merge the new CSV record with the existing record</translate>:</p>
    <button ng-disabled="!showActions"
            class="btn btn-secundary"
            ng-click="upload('merge', 'csv')"
            translate>
      In case of conflicts, take values from the new CSV record
    </button>
    <button ng-disabled="!showActions"
            class="btn btn-secundary"
            ng-click="upload('merge', 'database')"
            translate>
      In case of conflicts, keep values from the existing record
    </button>

    <br /><br />
    <p class="listview-upload-label" ><i class="fa fa-circle"></i><translate translate>Do not attempt to merge the new CSV record with the existing record</translate>:</p>
    <button ng-disabled="!showActions"
            class="btn btn-secundary"
            ng-click="upload('overwrite', 'database')"
            translate>
      Keep existing record without changes
    </button>
    <button ng-disabled="!showActions"
            class="btn btn-secundary"
            ng-click="upload('overwrite', 'csv')"
            translate>
      Keep new CSV record and remove existing record
    </button>
  </div>
</div>

<div class="loader" ng-if="loading">
  <img src="images/loader_hd4dp.gif" id="loading-indicator" ng-if="platform == 'hd4dp'"/>
  <img src="images/loader_hd4res.gif" id="loading-indicator" ng-if="platform == 'hd4res'"/>
  <p translate>You can continue working while the CSV is being uploaded in the background.</p>
  <button class="btn btn-secundary" ng-click="closeThisDialog()">Ok</button>
</div>

<div ng-if="hasResult">
  <p>{{ csvValid.length }} <span translate>new registrations have been created</span></p>
  <p><b translate>Success</b>: {{ csvValid.length }}<br/>
    <b translate>Error</b>: {{ csvInValid.length }}</p>
  <p ng-if="csvInValid.length > 0" translate>Errors can be found on:</p>
  <ul ng-if="csvInValid.length > 0">
    <li ng-repeat="line in csvInValid">
      <b><span translate>Line</span> {{ line.lineNumber }}</b>: {{ line.message | translate }}
    </li>
  </ul>
  <button class="btn btn-secundary" ng-click="closeThisDialog()"><a translate>Ok</a></button>
</div>
