<div ng-repeat="notification in notifications" class="alert alert-{{notification.type}}" ng-class="{ showContent:  show }" ng-click="removeNotification(notification)">
    <div class="alert-content">{{notification.content | translate }} <i class="fa fa-times"></i></div>
</div>