<p translate>Warning: You are finalising the data collection, but you still have registrations in status 'Open' which have not yet been submitted to healthdata.</p>
<p translate>Please make sure you have submitted all necessary registrations to healthdata.</p>
<p translate>Are you sure you want to finalise?</p>
<div class="row">
    <button class="btn btn-secundary" ng-click="confirm()" translate>Yes</button>
    <button class='btn btn-primary' ng-click="closeThisDialog()"><a translate>No</a></button>
</div>