<p translate>Finalizing the data collection is used to indicate to the responsible researcher that you have submitted all registrations for the concerned data collection period. Finalizing the data collection does not close the data collection period.</p>
<p translate>Are you sure you want to finalize this data collection period?</p>
<div class="row">
  <button class="btn btn-secundary" ng-click="confirm()" translate>Yes</button>
  <button class='btn btn-primary' ng-click="closeThisDialog()"><a translate>No</a></button>
</div>