<p translate>Please copy the email addresses from the field below and paste them in your email. Make sure to use the bcc field if discretion is needed.</p>
<textarea
        id="email-box"
        ng-model="addresses"
        rows="10"/>
<button class="btn-new" ng-click="copyToClipboard()" translate>
    Copy to clipboard
</button>
