/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#listview-wrapper .btn-toolbar.mobile{
  width: 100%;
  height: 40px;
  margin-bottom: 13px;
  li{
    list-style: none;
    border: 1px solid #CED2D5;
    background: #fff;
  }
  i{
    width: 4%;
    padding-left: 9px;
    margin-right: 0;
  }
  input[type="text"]{
    background: #fff;
    width: 95%;
    height: auto;
    padding: 10px;
  }
}