/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$toolbar-color: #FFF;

#listview-toolbar{

  margin-bottom: 10px;

  .listview-participation-status{
    display: inline-block;
    padding: 5px;
    color: $main;
    text-decoration: underline;
    font-size: 14px;
    vertical-align: bottom;
    margin: 0;
  }

  //================
  // ACTION
  //================
  .toolbar-btn, .toolbar-filters-btn, .toolbar-filters-checkbox{
    display: inline-block;
    height: 35px;
    > button, > label{
      background: #FCFCFC;
      border: 1px solid #DFE2E5;
      color: $listview-grey;
      padding: 4px 11px 4px 11px;
      height: 100%;
      text-align: left;
      > i:first-of-type{
        color: $main;
        margin-right: 3px;
      }
      .fa-caret-down{
        margin-top: 2px;
        float: right;
        margin-left: 5px;
        color: $listview-grey;
      }
      &.read_grey{
        background: #FCFCFC;
        color: #CCC !important;
        > a, > i{
          color: #CCC !important;
        }
      }
    }
    .toolbar-btn-main-action-btn{
      background: $main;
      color: #FCFCFC;
      > i, > i:first-of-type{
        color: #FCFCFC !important;
      }
      > a, > a:hover{
        color: #FCFCFC;
        text-decoration: none;
      }
      &:focus{
        outline: 0;
      }
      &.read_grey{
        background: #FCFCFC;
        > a, > i{
          color: #CCC !important;
        }
      }
    }
    .toolbar-btn-main-action-btn{
      width: 204px;
    }
    .toolbar-btn-main-action-link a{
      color: $main;
    }
  }

  .toolbar-btn {
    margin-right: 5px;
    > button {
      width: 182px;
    }
    &:last-of-type {
      margin-right: 0px;
    }
  }

  .toolbar-filters-separation {
    border-right: 1px solid #eee;
    padding-right: 10px;
  }


  .toolbar-search{
    display: inline-block;
    margin-right: 5px;
    width: 100%;
    height: 35px;
    input{
      margin-top: 0;
      font-size: 16px;
      box-shadow: none;
      height: 100%;
      display: inline-block;
    }
    &.search-with-action{
      width: calc(100% - (2*195px));
    }
    &.search-with-one-action{
      width: calc(100% - (1*195px));
    }
    &.search-with-no-actions{
      width: 100%;
    }
  }

  //================
  // TOP TOOLBAR
  //================
  #toolbar-top {
    margin-bottom: -1px;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    display: inline-block;

    .dropdown {
      display: inline-block;

      &:first-of-type p.dropdown-toggle {
        font-size: 18px;
        color: $main;
      }
      &:nth-of-type(2n) p.dropdown-toggle {
        font-size: 12px;
        color: #aaa;
      }

      &:nth-of-type(2n) .read_grey:hover{
        cursor: pointer;
      }

      &:nth-of-type(2n) .read_grey a:hover{
        cursor: pointer;
        background-color: #f5f5f5;
      }
    }

    p.dropdown-toggle{
      color: $listview-grey;
    }
  }

  //================
  // FILTERS
  //================
  #toolbar-filters{
    background: $toolbar-color;
    padding: 0px 10px 10px 10px;
    margin-right: 40px;
    .toolbar-filters-version{
      font-weight: bold;
    }
    .toolbar-filters-checkbox{
      label{
        font-size: 12px;
        font-weight: normal;
      }
      input{
        vertical-align: middle;
        margin-right: 3px;
        margin-top: -2px;
      }
    }

    .fa-pencil{
      margin-right: 6px;
      font-size: 12px;
      color: $main;
    }

    .toolbar-filters-btn, .toolbar-filters-checkbox{
      height: 26px;
      font-size: 12px;
      > button{
        > i:first-of-type{
          color: #D1D1D1;
        }
      }
      &.active{
        > button{
          > i:first-of-type{
            color: $main;
          }
        }
      }
    }

    .dropdown-submenu .force-dropdown-submenu{
      &::after{
        border-color: transparent $main transparent transparent;
      }
      > a {
        color: $main;
      }
      > .dropdown-menu{
        display: block;
      }
    }
  }
}

.toolbar-filters-clear{
  margin: 0 0 0 5px;
  display: inline-block;
  font-size: 12px;
  color: $main;
  &:hover{
    cursor: pointer;
  }
}

#toolbar-search-actions{
  margin-right: 40px;
  background: $toolbar-color;
  padding: 10px;
  .toolbar-btn > button{
    font-size: 14px;
    padding: 5px 11px 4px 11px;
    .fa.fa-caret-down{
      margin-top: 1px;
    }
  }
}

.dropdown-submenu::after{
  top: 3px !important;
}

.dropdown-md.toolbar-filters-btn{
  margin-right: 5px;
}