/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.loading-table{
  td{
    padding: 10px 30px !important;
    text-align: center !important;
  }
  img{
    height: 40px;
  }
  .loader-left{
    text-align: left;
  }
  .loader-center{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.listview-table > thead > tr > th.dropdown-add-columns:last-of-type{
  position: absolute;
  top: 0;
  border: 1px solid transparent !important;
  background: transparent;
  padding: 7px 5px 2px 5px;
  &.open {
    background: white;
    border: 1px solid #DFE2E5 !important;

    i.fa-cog{
      color: $main;
    }
  }


  #dropdownCOLS{
    border: none !important;
    background-color: transparent !important;
    color: #AAA;
    > i{
      font-size: 18px;
    }
    &:hover{
      color: $main;
    }
    &+.dropdown-menu{
      right: 0 ;
      left: auto;
      max-width: 250px;
      text-align: left;
      li{
        a{
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .dropdown-submenu {
        position: relative;
        &::after {
          float: left;
          position: absolute;
          left: 10px;
          border-color: transparent #ccc transparent transparent;
          border-width: 4px 4px 4px 0px;
          top: 4px;
        }
        &:hover{
          &::after{
            border-color: transparent $main transparent transparent;
          }
        }

        &:hover > .dropdown-menu {
          display: none;
        }

        &.force-dropdown-submenu{
          &::after{
            border-color: transparent $main transparent transparent;
          }
          > a {
            color: $main;
          }
          > .dropdown-menu{
            display: block;
          }
        }
      }
      .dropdown-submenu .dropdown-menu {
        right: 100%;
        left: -100%;
      }
    }
  }
}


.listview-table{
  position: relative;
  border-top: none !important;

  > thead > tr > th.th-content {
    background-color: #eee;
    color: #999;
    border-color: #ddd !important;

    &.activeColumn{
      background-color: #e0e0e0;
    }

    .fa.fa-times {
      color: #999;
    }
  }

  > tbody > tr > td:first-of-type, > thead > tr > th:first-of-type {
    cursor: default;
    padding: 3px 10px;
    input[type="checkbox"]{
      height: 15px;
      width: 15px;
    }
    &:hover {
      cursor: default;
      input:hover {
        cursor: pointer;
      }
    }
  }

  .followup-small {
    color: #AAA;
    font-size: 12px;
  }

  .listivew-status-column{
    -webkit-transition: width 500ms ease-out;
    -moz-transition: width 500ms ease-out;
    -ms-transition: width 500ms ease-out;
    -o-transition: width 500ms ease-out;
    transition: width 500ms ease-out;
    width: 180px;
    white-space: nowrap;
    padding: 0 !important;

    .icon-arrow-right, .icon-arrow-down {
      vertical-align: middle;
      padding: 9px 7px 9px 9px;
      &:hover{
        color: #555;
      }
    }

    .icon-arrow-down{
      font-size: 8px;
    }

    &.status-collapse{
      width: 31px;
      text-align: center;
      vertical-align: middle;
    }

    a {
      color: #FFF;
      font-size: 12px;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }

  .listivew-status-column-empty{
    a {
      color: #FFF;
      font-size: 12px;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }

  .listview-status-td{
    white-space: nowrap;
    color: #AAA;
    [class^="icon-"] {
      margin-right: 5px;
    }
  }

  .listview-status-icons{
    padding: 0 !important;
    position: relative;
    text-align: center;
  }

  .listview-status-icons, .listview-status-td{
    [class^="icon-"] {
      font-size: 17px;
      margin-bottom: 2px;
      display: inline-block;
      color: #AAA;
      vertical-align: middle;
    }

    &.listview-status-icons-action {
      color: $main;

      [class^="icon-"] {
        color: $main;
      }
    }

  }
}
