/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
$listview-grey: #6D6D6D;

@import 'listview_toolbar';
@import 'listview_table';
@import 'listview_mobile';
@import 'listview_pagination';

.listview-fullpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  overflow: hidden;
  padding-top: 46px;
}

.listview-content {
  overflow-x: scroll;
  overflow-y: scroll;
}

.listview-holder {
  margin-right: 40px;
}

.list-columns{
  white-space: pre;
}

.listview-upload-button{
  margin: 0 !important;
}

.listview-upload-dialog{
  button{
    margin-bottom: 3px;
    float: none;
  }
  .listview-upload-label{
    display: block;
    margin-bottom: 3px;
    margin-top: 5px;
  }
  i{
    margin-right: 5px;
    font-size: 7px;
    padding-bottom: 3px;
    vertical-align: middle;
  }
}

.listview-tables{
  position: relative;
}

.listview-active-icon{
  &.fa-plus {
    opacity: 0.1;
    font-size: 9px;
    margin-left: 3px;
    margin-right: 4px;
  }
  &.fa-check{
    color: $main;
  }
}
