<div class="loader">
  <img src="images/loader_hd4dp.gif" id="loading-indicator" ng-if="platform == 'hd4dp'"/>
  <img src="images/loader_hd4res.gif" id="loading-indicator" ng-if="platform == 'hd4res'"/>
  <p>{{ message | translate }}</p>
</div>