<div id="collection-new">
  <div class="main-bar">
    <a class="back" href="#/collectiongroup">
      <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title" translate>Edit data collection</h1>
  </div>

  <!-- Loading icon -->
  <div class="white-form" ng-if="isLoading">
    <div class="row">
      <div class="col-md-12 lx-msg">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
  </div>

  <form name="skryv_collection_form" class="white-form" ng-show="!isLoading">
    <div class="row">
      <div class="col-md-6">
        <p ng-if="isPublishEnabled" translate>Collection actions</p>
        <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
        <!--<a class="btn btn-secundary" ng-click="remove()" ng-if="!group.published && isAdmin" href="" translate>Delete</a>-->
      </div>
      <div class="col-md-6" ng-if="isPublishEnabled">
        <p ng-if="isPublishEnabled" translate>Version actions</p>
        <a class="btn btn-secundary" ng-if="!group.published && isPublishEnabled && isAdmin" ng-click="openPublishDialog()" translate>Publish</a>
        <a class="btn btn-secundary" ng-if="group.published && isPublishEnabled && isAdmin" ng-click="openRepublishDialog()" translate>Republish</a>
        <a class="btn btn-secundary" ng-if="group.published && latestVersion.majorVersion === group.majorVersion && !isCreatingNewVersion" ng-click="createNewVersion()" translate>Create new version</a>
        <a class="btn btn-secundary" ng-if="isCreatingNewVersion">
          <i class="fa fa-spinner fa-spin"></i>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-5">
        <label translate>Name</label>
        <p>{{ group.dataCollectionGroupName }}</p>
      </div>
      <div class="col-md-2">
        <label translate>Version</label>
        <p>{{ group.majorVersion }}</p>
      </div>
      <div class="col-md-2">
        <label translate>Published</label>
        <p>{{ group.published }}</p>
      </div>
      <div class="col-md-3">
        <label for="active" translate>Active</label>
        <p id="active"
           class="collection-is-active-cell"
           ng-class="{ 'collection-valid-value': group.active === 'active' || group.active === 'finished', 'collection-invalid-value': group.active === 'inactive' }">
          {{ group.active }}
        </p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-3"
           data-intro="{{ 'Start date at which the data collection definition becomes available to all data providers.' | translate }}"
           data-position="bottom">
        <label translate>Start</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.start"
               value="{{ group.startDate }}"
               ng-disabled="group.endDateCreation || group.endDateSubmission || group.endDateComments"
               min-date="minStart"
               ng-model="group.startDate">
        <button type="button"
                class="btn btn-default btn-append"
                ng-disabled="group.endDateCreation || group.endDateSubmission || group.endDateComments"
                ng-click="open($event, 'start')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>
      <div class="col-md-3"
           data-intro="{{ 'First end date after which the data provider can no longer create new registrations on this data collection definition. It is still possible to submit or correct registrations.' | translate }}"
           data-position="bottom">
        <label translate>End Creation</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.creation"
               min-date="minCreation"
               ng-disabled="!group.startDate || group.endDateSubmission"
               value="{{ group.endDateCreation }}"
               ng-model="group.endDateCreation">
        <button type="button"
                ng-disabled="!group.startDate || group.endDateSubmission"
                class="btn btn-default btn-append"
                ng-click="open($event, 'creation')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>
      <div class="col-md-3"
           data-intro="{{ 'Second end date at which it becomes impossible for the data provider to submit new registrations. Only previously submitted registrations can be corrected and re-submitted.' | translate }}"
           data-position="top">
        <label translate>End Submission</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.submission"
               ng-model="group.endDateSubmission"
               value="{{ group.endDateSubmission }}"
               ng-disabled="!group.endDateCreation || group.endDateComments"
               min-date="minSubmission">
        <button type="button"
                ng-disabled="!group.endDateCreation || group.endDateComments"
                class="btn btn-default btn-append"
                ng-click="open($event, 'submission')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>
      <div class="col-md-3"
           data-intro="{{ 'Final end date after which the data provider can no longer submit corrections for existing registrations.' | translate }}"
           data-position="bottom">
        <label translate>End Comments</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.comments"
               ng-model="group.endDateComments"
               value="{{ group.endDateComments }}"
               ng-disabled="!group.endDateSubmission"
               min-date="minComments">
        <button type="button"
                class="btn btn-default btn-append"
                ng-disabled="!group.endDateSubmission"
                ng-click="open($event, 'comments')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-3"
           data-position="bottom">
        <label translate>Period Start</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.periodStart"
               ng-model="group.period.start"
               value="{{ group.period.start }}">
        <button type="button"
                class="btn btn-default btn-append"
                ng-click="open($event, 'periodStart')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>

      <div class="col-md-3"
           data-position="bottom">
        <label translate>Period End</label>
        <input type="text"
               class="form-control datepicker-template"
               uib-datepicker-popup="{{ datepickerConfig.format }}"
               is-open="datepickerConfig.periodEnd"
               ng-model="group.period.end"
               value="{{ group.period.end }}">
        <button type="button"
                class="btn btn-default btn-append"
                ng-click="open($event, 'periodEnd')">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-4">
        <label for="group.label.en" translate class="req-label">Name EN</label>
        <input
                autocomplete="false"
                id="group.label.en"
                ng-model="group.label.en"
                class="form-control"
                required>
      </div>
      <div class="col-md-4">
        <label for="group.label.nl" translate class="req-label">Name NL</label>
        <input
                autocomplete="false"
                id="group.label.nl"
                ng-model="group.label.nl"
                class="form-control"
                required>
      </div>
      <div class="col-md-4">
        <label for="group.label.fr" translate class="req-label">Name FR</label>
        <input
                autocomplete="false"
                id="group.label.fr"
                ng-model="group.label.fr"
                class="form-control"
                required>
      </div>
    </div><br />
    <div class="row">
      <div class="col-md-4">
        <label for="group.description.en" class="req-label" translate>Description EN</label>
        <textarea
                id="group.description.en"
                required
                ng-model="group.description.en"
                class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="group.description.nl" class="req-label" translate>Description NL</label>
        <textarea
                id="group.description.nl"
                required
                ng-model="group.description.nl"
                class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="group.description.fr" class="req-label" translate>Description FR</label>
        <textarea
                id="group.description.fr"
                required
                ng-model="group.description.fr"
                class="form-control"></textarea>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="list-table-toolbar">
        <label class="col-md-3" translate>Data collection definitions</label>

        <div class="list-table-toolbar-input noselect">
          <label>
            <input type="checkbox" ng-model="showLatestVersions">
            {{ 'Show latest version only' | translate }}
          </label>
        </div>
      </div>
      <table class="col-md-10 list-table">
        <thead>
        <tr>
          <th translate>
            Name
          </th>
          <th translate>
            Version
          </th>
          <th translate>
            Published
          </th>
          <th translate>
            Action
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="child in showLatestVersions ? latestChildCollections : group.dataCollectionDefinitions | orderBy: '-minorVersion'"
            ng-click="editChildCollection(child)">
          <td>
            {{ child.dataCollectionDefinitionName }}
          </td>
          <td>
            {{ group.majorVersion }}.{{ child.minorVersion }}
          </td>
          <td>
            {{ child.published | translate }}
          </td>
          <td>
            <i class="fa fa-edit"></i>
          </td>
        </tr>
        <tr>
          <td colspan="4" style="text-align: center" ng-click="addCollection()">
            <p><i class="fa fa-plus"></i> {{ 'Add data collection' | translate }}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>








