<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title" translate>Data Collections</h1>
</div>

<div class="list-table-toolbar">
  <a class="btn btn-secundary" ng-if="ddeEnabled" ng-click="newGroup()" translate>New collection</a>
  <input type="text"
         ng-model="inputFilter.dataCollectionGroupName"
         placeholder="{{ 'Search name' | translate }}">
  <div class="list-table-toolbar-input noselect">
    <label>
      <input type="checkbox" ng-model="showLatestVersionOnly">
        {{ 'Show latest version only' | translate }}
    </label>
  </div>
</div>

<table class="list-table"
       data-intro="{{ 'Data Collection list' | translate }}"
       data-position="bottom">
  <thead>
  <tr class="noselect">
    <th ng-click="sortByColumn('dataCollectionGroupName')"
        ng-class="{activeColumn: columnSort.sortColumn == 'dataCollectionGroupName', activeColumnReverse: columnSort.reverse == true}"
        translate>Data collection name</th>
    <th ng-click="sortByColumn('majorVersion')"
        ng-class="{activeColumn: columnSort.sortColumn == 'majorVersion', activeColumnReverse: columnSort.reverse == true}"
        translate>Version</th>
    <th ng-click="sortByColumn('active')"
        ng-class="{activeColumn: columnSort.sortColumn == 'active', activeColumnReverse: columnSort.reverse == true}"
        translate>Active</th>
    <th ng-click="sortByColumn('published')"
        ng-class="{activeColumn: columnSort.sortColumn == 'published', activeColumnReverse: columnSort.reverse == true}"
        translate>Published</th>
    <th ng-click="sortByColumn('createdOn')"
        ng-class="{activeColumn: columnSort.sortColumn == 'createdOn', activeColumnReverse: columnSort.reverse == true}"
        translate>Created on</th>
    <th ng-click="sortByColumn('period.start')"
        ng-class="{activeColumn: columnSort.sortColumn == 'period.start', activeColumnReverse: columnSort.reverse == true}"
        translate>Data collection period</th>
  </tr>
  </thead>
  <tbody>
    <!--If no collections found -->
    <tr ng-if="allCollectionGroups.length == 0">
      <td colspan="8" translate>No data collections found</td>
    </tr>
    <!--Collections loading -->
    <tr ng-if="loading" class="list-table-loading">
      <td colspan="8">
        <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
        <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
      </td>
    </tr>
    <tr ng-repeat="collectionGroup in showLatestVersionOnly ? latestCollectionGroups : allCollectionGroups | filter:inputFilter | orderBy:[columnSort.sortColumn, 'majorVersion']:columnSort.reverse"
        ng-click="viewCollectionGroup(collectionGroup)">
      <td>{{ collectionGroup.dataCollectionGroupName }}</td>
      <td>v{{ collectionGroup.majorVersion }}</td>
      <td class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collectionGroup.active === 'active' || collectionGroup.active === 'finished' , 'collection-invalid-value': collectionGroup.active === 'inactive' }">{{ collectionGroup.active | translate }}</td>
      <td class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collectionGroup.published, 'collection-invalid-value': !collectionGroup.published }">{{ collectionGroup.published | translate }}</td>
      <td>{{ collectionGroup.createdOn | date:'dd/MM/yyyy' }}</td>
      <td>{{ collectionGroup.period.start | date:'dd/MM/yyyy' }} - {{ collectionGroup.period.end | date:'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>