<div id="collection-new">
    <div class="main-bar">
        <a class="back" href="#/collectiongroup">
            <i class="fa fa-arrow-left"></i>
        </a>

        <h1 class="main-title" translate>New data collection group</h1>
    </div>

    <form name="skryv_collection_form" class="white-form">
        <div class="row">
            <div class="col-md-4">
                <label for="group.dataCollectionGroupName" translate class="req-label">Technical name</label>
                <input type="text"
                       autocomplete="false" ng-trim="false"
                       class="form-control"
                       ng-model="group.dataCollectionGroupName"
                       ng-change="calculateVersion()"
                       typeahead-min-length="1"
                       typeahead-on-select="group.dataCollectionGroupName=inputFormatter($model); calculateVersion()"
                       uib-typeahead="match as renderMatch(match) for match in getCollections($viewValue)"
                       typeahead-loading="false"
                       required
                       size="4"/>
            </div>
            <div class="col-md-2">
                <label translate>Version</label>
                <p>{{ group.majorVersion }}</p>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-3"
                 data-intro="{{ 'Start date at which the data collection definition becomes available to all data providers.' | translate }}"
                 data-position="bottom">
                <label translate>Start</label>
                <input type="text"
                       class="form-control datepicker-template"
                       uib-datepicker-popup="{{ datepickerConfig.format }}"
                       is-open="datepickerConfig.start"
                       ng-disabled="group.endDateCreation || group.endDateSubmission || group.endDateComments"
                       ng-model="group.startDate">
                <button type="button"
                        class="btn btn-default btn-append"
                        ng-disabled="group.endDateCreation || group.endDateSubmission || group.endDateComments"
                        ng-click="open($event, 'start')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>

            <div class="col-md-3"
                 data-intro="{{ 'First end date after which the data provider can no longer create new registrations on this data collection definition. It is still possible to submit or correct registrations.' | translate }}"
                 data-position="bottom">
                <label translate>End Creation</label>
                <input type="text"
                       class="form-control datepicker-template"
                       uib-datepicker-popup="{{ datepickerConfig.format }}"
                       is-open="datepickerConfig.creation"
                       min-date="group.startDate"
                       ng-disabled="!group.startDate || group.endDateSubmission"
                       ng-model="group.endDateCreation">
                <button type="button"
                        ng-disabled="!group.startDate || group.endDateSubmission"
                        class="btn btn-default btn-append"
                        ng-click="open($event, 'creation')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>

            <div class="col-md-3"
                 data-intro="{{ 'Second end date at which it becomes impossible for the data provider to submit new registrations. Only previously submitted registrations can be corrected and re-submitted.' | translate }}"
                 data-position="top">
                <label translate>End Submission</label>
                <input type="text"
                       class="form-control datepicker-template"
                       uib-datepicker-popup="{{ datepickerConfig.format }}"
                       is-open="datepickerConfig.submission"
                       ng-model="group.endDateSubmission"
                       ng-disabled="!group.endDateCreation || group.endDateComments "
                       min-date="group.endDateCreation">
                <button type="button"
                        ng-disabled="!creation || comments "
                        class="btn btn-default btn-append"
                        ng-click="open($event, 'submission')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>

            <div class="col-md-3"
                 data-intro="{{ 'Final end date after which the data provider can no longer submit corrections for existing registrations.' | translate }}"
                 data-position="bottom">
                <label translate>End Comments</label>
                <input type="text"
                       class="form-control datepicker-template"
                       uib-datepicker-popup="{{ datepickerConfig.format }}"
                       is-open="datepickerConfig.comments"
                       ng-model="group.endDateComments"
                       ng-disabled="!group.endDateSubmission"
                       min-date="group.endDateSubmission">
                <button type="button"
                        class="btn btn-default btn-append"
                        ng-disabled="!submission"
                        ng-click="open($event, 'comments')">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-4">
                <label for="group.label.en" translate class="req-label">Name EN</label>
                <input
                        maxlength="60"
                        autocomplete="false"
                        id="group.label.en"
                        ng-model="group.label.en"
                        class="form-control"
                        required>
            </div>
            <div class="col-md-4">
                <label for="group.label.nl" translate class="req-label">Name NL</label>
                <input
                        maxlength="60"
                        autocomplete="false"
                        id="group.label.nl"
                        ng-model="group.label.nl"
                        class="form-control"
                        required>
            </div>
            <div class="col-md-4">
                <label for="group.label.fr" translate class="req-label">Name FR</label>
                <input
                        maxlength="60"
                        autocomplete="false"
                        id="group.label.fr"
                        ng-model="group.label.fr"
                        class="form-control"
                        required>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-4">
                <label for="group.description.en" class="req-label" translate>Description EN</label>
                <textarea
                        maxlength="255"
                        id="group.description.en"
                        ng-model="group.description.en"
                        required
                        class="form-control"></textarea>
            </div>
            <div class="col-md-4">
                <label for="group.description.nl" class="req-label" translate>Description NL</label>
                <textarea
                        maxlength="255"
                        id="group.description.nl"
                        ng-model="group.description.nl"
                        required
                        class="form-control"></textarea>
            </div>
            <div class="col-md-4">
                <label for="group.description.fr" class="req-label" translate>Description FR</label>
                <textarea
                        maxlength="255"
                        id="group.description.fr"
                        ng-model="group.description.fr"
                        required
                        class="form-control"></textarea>
            </div>
        </div><br />

        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
                <a class="btn btn-primary" href="#/collectiongroup" translate>Cancel</a>
            </div>
        </div>
    </form>
</div>