<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title">{{ 'Status messages' | translate }}
    <small ng-if="for"> {{ 'for' | translate }} {{ dateOfMessages | date:'dd-MM-yyyy' }}</small>
  </h1>
</div>

<div class="list-table-toolbar status-date-filter">
  <label class="toolbar-date"
         data-intro="{{ 'Select the date for which you want to see status messages.' | translate }}"
         data-position="bottom">
    <input type="text"
           class="form-control datepicker-template"
           is-open="after"
           placeholder="dd-mm-yyyy"
           uib-datepicker-popup="{{ datepicker.format }}"
           ng-change="searchFiltersChanged()"
           ng-click="open($event, 'after')"
           ng-model="dateOfMessages">
    <button type="button"
            class="btn btn-date btn-default"
            ng-click="open($event, 'after')">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </label>
</div>

<div class="view-table status-table">
  <table class="list-table" data-intro="{{ 'This list shows the messages of the most recent relevant date or the date that was selected. Click details to see the full status message.' | translate }}"
         data-position="top">
    <thead>
    <tr>
      <th ng-click="sortByColumn('healthDataIdentification.name')"
          ng-class="{activeColumn: columnSort.sortColumn == 'healthDataIdentification.name', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Name</span> <table-sort column="columnSort" sort-by="'healthDataIdentification.name'"></table-sort>
      </th>
      <th ng-click="sortByColumn('healthDataIdentification.value')"
          ng-class="{activeColumn: columnSort.sortColumn == 'healthDataIdentification.value', activeColumnReverse: columnSort.reverse == true}">
        <span translate>ID Value</span> <table-sort column="columnSort" sort-by="'healthDataIdentification.value'"></table-sort>
      </th>
      <th ng-click="sortByColumn('content.versions.HD4DP_VERSION')"
          ng-class="{activeColumn: columnSort.sortColumn == 'content.versions.HD4DP_VERSION', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Version</span> <table-sort column="columnSort" sort-by="'content.versions.HD4DP_VERSION'"></table-sort>
      </th>
      <th ng-click="sortByColumn('content.validation.statuses.status')"
          ng-class="{activeColumn: columnSort.sortColumn == 'content.validation.statuses.status', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Statuses</span> <table-sort column="columnSort" sort-by="'content.validation.statuses.status'"></table-sort>
      </th>
      <th ng-click="sortByColumn('content.validation.messages.status')"
          ng-class="{activeColumn: columnSort.sortColumn == 'content.validation.messages.status', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Messages</span> <table-sort column="columnSort" sort-by="'content.validation.messages.status'"></table-sort>
      </th>
      <th ng-click="sortByColumn('sentOn')"
          ng-class="{activeColumn: columnSort.sortColumn == 'sentOn', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Sent On</span> <table-sort column="columnSort" sort-by="'sentOn'"></table-sort>
      </th>
      <th ng-click="sortByColumn('createdOn')"
          ng-class="{activeColumn: columnSort.sortColumn == 'createdOn', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Received</span> <table-sort column="columnSort" sort-by="'createdOn'"></table-sort>
      </th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="message in messages | orderBy:orderByDate:columnSort.reverse | nullToBottomStatus:columnSort.sortColumn">
      <!--NAME-->
      <td>{{ message.healthDataIdentification.name }}</td>
      <!--ID-->
      <td>{{ message.healthDataIdentification.value }}</td>
      <!--VERSION-->
      <td>{{ message.content.versions.HD4DP_VERSION }}</td>

      <!--STATUSES-->
      <td class="td-valid" ng-if="!message.content.validation.statuses.error">
        {{ message.content.validation.statuses.status }}
      </td>
      <td class="td-invalid" ng-if="message.content.validation.statuses.error"
          uib-popover="{{ message.content.validation.statuses.errorMessage }}"
          popover-trigger="'mouseenter'"
          popover-append-to-body="true"
          popover-placement="top">
        {{ message.content.validation.statuses.status }}
      </td>

      <!--SENT messages-->
      <td class="td-valid" ng-if="!message.content.validation.messages.error">
        {{ message.content.validation.messages.status }}
      </td>
      <td class="td-invalid" ng-if="message.content.validation.messages.error"
          uib-popover="{{ message.content.validation.messages.errorMessage }}"
          popover-trigger="'mouseenter'"
          popover-append-to-body="true"
          popover-placement="top">
        {{ message.content.validation.messages.status }}
      </td>

      <!--SENT-->
      <td>{{ message.sentOn | date:'dd-MM-yyyy HH:mm:ss' }}</td>

      <!--RECEIVED-->
      <td class="td-valid" ng-if="!message.content.validation.created_on.error">
        {{ message.createdOn | date:'dd-MM-yyyy HH:mm:ss' }}
      </td>
      <td class="td-invalid" ng-if="message.content.validation.created_on.error"
          uib-popover="{{ message.content.validation.created_on.errorMessage }}"
          popover-trigger="'mouseenter'"
          popover-append-to-body="true"
          popover-placement="top">
        {{ message.createdOn | date:'dd-MM-yyyy HH:mm:ss' }}
      </td>

      <td><a href="" ng-click="showDetails(message)" translate>Details</a></td>
    </tr>
    <tr ng-if="messages.length == 0">
      <td class="center" colspan="8" translate>No results found</td>
    </tr>
    </tbody>
  </table>
</div>
