<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title">{{ 'Status messages' | translate }}</h1>
</div>

<div class="list-table-toolbar status-date-filter">
  <select name="repeatSelect" class="status-dc-select" id="repeatSelect" ng-change="changeCollection()"
          ng-model="selectedCollection">
    <option value="" disabled selected translate>-- Select a data collection --</option>
    <option ng-repeat="collection in collections | orderBy: collection" value="{{ collection }}">{{ collection | translate }}</option>
  </select>
  <select name="" class="status-dc-select" id="repeatSelect" ng-change="change()"
          ng-model="selectedVersion" ng-options="'v' + version.version.major for version in messages[selectedCollection]">
    <option value="" disabled selected translate>--  Select a version --</option>
  </select>

  <input type="text" class="status-dc-input" ng-model="searchTerm" placeholder="Search dataproviders"/>
</div>

<div class="view-table status-table status-report">
  <table
          class="list-table"
          data-intro="{{ 'This list shows the messages of the most recent relevant date or the date that was selected. Click details to see the full status message.' | translate }}"
          data-position="top">
    <thead>
    <tr>
      <th ng-click="sortByColumn('value')"
          ng-class="{activeColumn: columnSort.sortColumn == 'value', activeColumnReverse: columnSort.reverse == true}">
        <span translate>ID</span>
        <table-sort column="columnSort" sort-by="'value'"></table-sort>
      </th>
      <th ng-click="sortByColumn('name')"
          ng-class="{activeColumn: columnSort.sortColumn == 'name', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Name</span>
        <table-sort column="columnSort" sort-by="'name'"></table-sort>
      </th>
      <th ng-repeat="status in statuses"
          ng-click="sortByColumn(status.status)"
          ng-class="{activeColumn: columnSort.sortColumn == status.status }">
        <span>{{ status.label | translate }}</span>
        <table-sort column="columnSort" sort-by="status.status"></table-sort>
      </th>
      <th ng-click="sortByColumn('createdOn')"
          ng-class="{activeColumn: columnSort.sortColumn == 'createdOn', activeColumnReverse: columnSort.reverse == true}">
        <span translate>Created on</span>
        <table-sort column="columnSort" sort-by="'createdOn'"></table-sort>
      </th>
    </tr>
    </thead>
    <tbody ng-if="!hasNoVersions">
    <tr class="comment-total">
      <td></td>
      <td translate>Total</td>
      <td ng-repeat="status in statuses">
        <span ng-if="total.hasOwnProperty(status.status)">{{ total[status.status] }}</span>
        <span ng-if="!total.hasOwnProperty(status.status)">{{ 0 }}</span>
      </td>
      <td></td>
    </tr>
    <tr ng-repeat="provider in selectedVersion.dataProviders | orderBy: columnSorter: !columnSort.reverse | StatusMsgFilter:searchTerm">
      <td>{{ provider.identification.value }}</td>
      <td>{{ provider.identification.name }}</td>
      <td ng-repeat="status in statuses">
        <span ng-if="provider.registrations.hasOwnProperty(status.status)">
          {{ provider.registrations[status.status] | translate }}
        </span>
        <span ng-if="!provider.registrations.hasOwnProperty(status.status)">
          0
        </span>
      </td>
      <!-- Created On -->
      <td>{{ provider.createdOn | fromNow }}</td>
    </tr>
    </tbody>
    <tr ng-if="hasNoVersions">
    <td class="center" colspan="9" translate>No results found</td>
    </tr>
  </table>
</div>