<div class="dde-field-edit">
  <skr-Doc-Def-Editor-Component item="newItem" parent-field="item" parent-type="item.properties.type" auto-update-name="true"></skr-Doc-Def-Editor-Component>

  <div class="row form-group" style="border-bottom: none">
      <div class="col-md-12" style="text-align: right">
          <button type="button" class="btn btn-default" ng-click="closeThisDialog()" translate>Cancel</button>
          <button type="submit" class="btn btn-success" ng-click="add()" ng-disabled="!newItem.isValid()" translate>Add</button>
      </div>
  </div>
</div>
