<p>Paste valid "basic data set" XML data in the text field below, and navigate to the Preview tab to see the result.<p>
<textarea rows="15"
          cols="100"
          ng-model="docDefEditor.rawBasicDataSet"></textarea>

<div ng-repeat="cbbQueryResult in docDefEditor.importWithCBBsLog">
  <p>Field: {{ cbbQueryResult.manipulator.description.label }}</p>
  <p>Query:
    <pre>{{ cbbQueryResult.query | json }}</pre>
  <p>Data:
    <pre>{{ cbbQueryResult.result | json }}</pre>
  </p>
</div>
