<div id="docdef-container">

    <!--HEADER-->
    <div class="docdef-header">
        <!--TITLE-->
        <h1 class="main-title">
            {{ docDefEditor.item.properties.label | translate }}
            <small>v{{ docDefEditor.settings.version }}</small>
          <small>- WIP {{ docDefEditor.settings.wip.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</small>
        </h1>

      <div class="docdef-actions">
        <a class="btn btn-primary" translate href="{{ '#/collection/edit/' + docDefEditor.documentDefinitionId }}">Back</a>
        <a class="btn btn-secundary" ng-if="!isLoading && !isLatest && !isPublished" ng-click="docDefEditor.openRestoreDialog()" translate>Restore</a>
        <a class="btn btn-secundary" ng-disabled="!isJsonValid && jsonChecked" ng-if="!isLoading && isEditable" ng-click="docDefEditor.openSaveDialog()" translate>Save</a>
      </div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-click="tabSwitch()" ng-class="{ active: isEditable }"><a aria-controls="home" role="tab" data-toggle="tab" data-target="#docEditor" ng-if="isEditable" translate>Editor</a></li>
            <li role="presentation" ng-click="tabSwitch()"><a role="tab" data-toggle="tab"  data-target="#docPreview" ng-click="docDefEditor.previewDocumentDefinition()" translate>Preview</a></li>
            <li role="presentation" ng-click="tabSwitch()" ng-class="{ active: !isEditable }"><a role="tab" data-toggle="tab" data-target="#docRaw" ng-click="docDefEditor.loadRaw()" translate>Raw</a></li>
            <li role="presentation" ng-click="tabSwitch()"><a role="tab" data-toggle="tab" data-target="#docTranslations" ng-click="docDefEditor.loadTranslations()" translate>Translations</a></li>
            <li role="presentation" ng-click="tabSwitch()"><a role="tab" data-toggle="tab" data-target="#docCBBWorkbench" ng-click="docDefEditor.loadCBBWorkbench()" translate>CBB Workbench</a></li>
        </ul>
    </div>

    <!--BODY-->
    <div class="docdef-body">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane" ng-class="{ active: isEditable }" id="docEditor" ng-if="isEditable" ng-controller="DocumentDefinitionEditorNodeCtrl as node">
                <div ui-tree="uiTreeOpts">
                    <div ui-tree-nodes ng-model="docDefEditor.item.nested">
                        <div class="tree-main-item" ng-repeat="item in docDefEditor.item.nested"  ui-tree-node ng-include="'views/dde/node.html'"></div>
                    </div>
                    <div class="input-group">
                        <input type="submit" class="btn btn-default" ng-click="node.openAddDialog(docDefEditor.item)" value="{{ 'Add' | translate }}">
                        <input type="submit" class="btn btn-default" ng-click="node.openEditRootDialog(docDefEditor.item)" value="{{ 'Edit registration level settings' | translate }}">
                    </div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="docPreview">
                <div class="dde-doc-body">
                    <div  ng-include="'views/dde/preview.html'"></div>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="docRaw" ng-class="{ active: !isEditable }">
                <div ng-if="isJsonValid && jsonChecked" class="json-valid" translate>JSON is valid and will be saved</div>
                <div ng-if="!isJsonValid && jsonChecked" class="json-invalid" translate>JSON is invalid and won't be saved</div>
                <textarea ng-model="docDefEditor.jsonInput" ng-change="docDefEditor.parseRaw()" ng-if="isEditable"></textarea>
                <pre ng-if="!isEditable">{{ docDefEditor.jsonInput }}</pre>
            </div>

            <div role="tabpanel" class="tab-pane" id="docTranslations" ng-include="'views/dde/translations.html'"></div>

            <div role="tabpanel" class="tab-pane" id="docCBBWorkbench" ng-include="'views/dde/cbbWorkbench.html'"></div>
        </div>
    </div>
</div>
