<div class="dde-field-edit">
  <skr-Doc-Def-Editor-Component item="item" is-root="true"></skr-Doc-Def-Editor-Component>

  <div class="row form-group" style="border-bottom: none">
      <div class="col-md-12" style="text-align: right">
          <button class="btn btn-success" ng-click="closeThisDialog()" accesskey="w" translate>Close</button>
      </div>
  </div>
</div>
