<form ng-submit="save(item)" class="dde-field-edit">
<skr-Doc-Def-Editor-Component item="item"></skr-Doc-Def-Editor-Component>

<div class="row form-group" style="border-bottom: none">
    <div class="col-md-2">
        <button type="button" class="btn btn-danger" ng-click="removeItem(item)" translate>Remove</button>
    </div>
    <div class="col-md-10" style="text-align: right">
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" translate>Cancel</button>
        <button type="submit" class="btn btn-success" ng-click="save(item)" accesskey="s" translate>Save</button>
    </div>
</div>
</form>
