<div class="row form-group">
    <div class="col-md-12">
       <h2 translate>Unsaved changes</h2>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <p translate>
          This data collection definition contains unsaved changes. Are you sure you want to continue?
        </p>
        <button type="submit" class="btn btn-success" ng-click="saveFirst()" translate>Save first</button>
        <button type="button" class="btn btn-warning" ng-click="withoutSaving()" translate>Don't save</button>
        <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
    </div>
</div>
