<div ng-controller="DocumentDefinitionEditorNodeCtrl as node">
    <div class="node" ng-class="{ nodeActive: item.viewProperties.show }">
        <div class="node-swap">
            <i ui-tree-handle class="fa fa-arrows-alt"></i>
        </div>

        <div class="node-name">
            <span ng-click="item.viewProperties.show = !item.viewProperties.show">
                <i ng-if="
                item.properties.type === 'section' ||
                item.properties.type == 'choice' ||
                item.properties.type == 'multichoice' ||
                item.properties.type === 'option' ||
                item.properties.type === 'list' ||
                item.properties.type === 'fieldset' ||
                item.properties.type === 'patientID' ||
                item.properties.type === 'questionnaire'||
                item.properties.type === 'patientID' ||
                item.properties.type === 'answers' ||
                item.properties.type === 'questions'"
                   class="fa fa-{{item.viewProperties.show ? 'caret-up' : 'caret-down'}}">
                </i>
            </span>
            <span ng-click="node.openEditDialog(item)">
                <span>[{{item.properties.type ? item.properties.type : 'section'}}]</span>
                <span><b ng-bind-html="item.properties.label"></b> &nbsp;</span>
            </span>
        </div>

        <div class="node-actions"
            ng-if="['questions','answers'].indexOf(item.properties.type) < 0">
            <i ng-click="node.openEditDialog(item)" class="fa fa-pencil"></i>
            <i ng-click="node.removeItem(item)" ng-disabled="true" class="fa fa-times"></i>
        </div>
    </div>

    <div ng-if="item.viewProperties.show" class="node-nested" ui-tree="uiTreeOpts">
        <div ui-tree-nodes ng-model="item.nested">
            <div ng-repeat='item in item.nested' ui-tree-node ng-include="'views/dde/node.html'"></div>
            <div ng-if='!item.nested.length' ui-tree-node class="empty-list-placeholder-node"></div>
        </div>
        <div class="input-group">
            <input ng-if="item.properties.type !== 'questionnaire'" type="submit" class="btn btn-default" ng-click="node.openAddDialog(item)" ng-mouseover="item.viewProperties.highlight = true" ng-mouseleave="item.viewProperties.highlight = false" value="{{ 'Add' | translate }}">
        </div>
    </div>
</div>
