<div>
  <!--LEFT CONTAINER-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'left'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc']">
  </skr-editor-side-menu>

  <!--LEFT RESPONSIVE-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'responsive'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc', 'validation']">
  </skr-editor-side-menu>

  <!--DOCUMENT SECTION-->
  <div class="doc-container doc-container-middle">
    <div class="doc-menu noselect">
      <a class="alignleft" href="#/data%20collection">Back</a>
      <p class="fRight">Read Only:
        <label class="preview-toggles fRight"><input ng-model="readOnly" type="radio" ng-value="true">True</label>
        <label class="preview-toggles fRight"><input ng-model="readOnly" type="radio" ng-value="false">False</label>
      </p>
      <div ng-include="'views/document/menu/actions.html'"></div>
    </div>
    <div class="doc-content" id="doc-form" ng-class="{no_comments: !needComments || !validDate, read_only: readOnly}">
      <div ng-if="documentLoaded">
        <skr-editor-component
          skr-editor-options="{ debug: displayDebugInfo, dataCollectionName: dcd.dataCollectionName }"
          component="documentModel.component"
          manipulator="documentModel.manipulator">
        </skr-editor-component>
      </div>
    </div>
  </div>

  <!--MOBILE MENU-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'mobile'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc', 'validation']">
  </skr-editor-side-menu>

  <!--RIGHT MENU-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'right'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['validation']">
  </skr-editor-side-menu>
</div>