<div class="row form-group">
  <div class="col-md-12">
    <h2 translate>Publish data collection definition</h2>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-12">
    <p translate>
      Are you sure you want to publish this version?
    </p>
    <button type="submit" class="btn btn-success" ng-click="publish()" translate>Publish</button>
    <button type="button" class="btn btn-default" ng-click="closeThisDialog()" translate>No</button>
  </div>
</div>