<div class="row form-group">
    <div class="col-md-12">
       <h2 translate>Restore data collection definition</h2>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <p translate>
          Restoring the data collection definition will result in a new work-in-progress version (wip).
        </p>
        <button type="submit" class="btn btn-success" ng-click="createWip()" translate>Restore</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" translate>Cancel</button>
    </div>
</div>