<div class="row form-group">
    <div class="col-md-12">
       <h2 translate>Save Registration Definition</h2>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-12">
        <p translate>
          Saving the data collection definition will result in a new work-in-progress version (wip).
        </p>
        <p translate>Add a description of what has changed to the definition (required):</p>
        <textarea ng-model="description"
            placeholder="Description"
            cols="50"
            rows="5">
        </textarea>
        <br />
        <button type="submit" class="btn btn-success" ng-click="createWip()" translate ng-disabled="!description">Save</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()" translate>Cancel</button>
    </div>
</div>