<div class="row form-group">
    <div class="col-md-3" translate>Allow random order?</div>
    <div class="col-md-9">
        <select class="form-control"
                ng-model="item.properties.allowRandomOrder"
                ng-options="o.val as o.key for o in [
                    { key: 'default' },
                    { key: 'true', val: true },
                    { key: 'false', val: false }
                ]">
        </select>
    </div>
</div>