<div class="row form-group" ng-if="item.properties.referencelist">
    <div class="col-md-3" translate>Binding</div>
    <div class="col-md-9">
        <select class="form-control"
                ng-model="item.properties.binding"
                ng-options="o.val as o.key for o in [
                    { key: 'default' },
                    { key: 'true', val: true },
                    { key: 'false', val: false }
                ]">
    </div>
</div>