<div class="row-group">
  <div ng-repeat="customParameter in item.properties.custom" class="row form-group">
    <div class="col-md-3">
      <input type="text" class="form-control" ng-model="customParameter.key" placeholder="{{ 'key' | translate }}"/>
    </div>
    <div class="col-md-9">
      <div class="input-group" style="width: 100%">
        <input type="text" class="form-control" ng-model="customParameter.value" placeholder="{{ 'value' | translate }}" />
        <div ng-click="item.removeCustomProperty(customParameter)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
      </div>
    </div>
  </div>

  <div class="row form-group">
      <div class="col-md-12" style="text-align:right">
          <button type="button" class="btn btn-default" ng-click="item.addCustomProperty()" translate>Add Custom Property</button>
      </div>
  </div>
</div>
