<div class="row-group">
  <div class="row form-group">
      <div class="col-md-3" translate>
          Conditions
      </div>
      <div ng-if="!item.properties.conditions.length"
           class="col-md-9" style="text-align: right">
          <button accesskey="c" type="button" class="btn btn-default" ng-click="item.addCondition()" translate>Add condition</button>
      </div>
  </div>
  <div class="row form-group" ng-repeat="condition in item.properties.conditions">
      <div class="col-md-3">
          <div class="input-group" style="width: 100%">
              <div ng-click="item.removeCondition(condition)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
              <select ng-model="condition.level" class="form-control">
                  <option value="error" translate>Error</option>
                  <option value="warning" translate>Warning</option>
              </select>
          </div>
      </div>
      <div class="col-md-9">
        <textarea msd-elastic ng-model="condition.errorMessage"
                  class="form-control" rows="1" placeholder="{{ 'error message' | translate }}"></textarea>
        <textarea msd-elastic ng-model="condition.expression"
                  class="form-control" rows="1" placeholder="{{ 'expression' | translate }}"></textarea>
      </div>
  </div>
  <div class="row form-group" ng-if="item.properties.conditions.length">
      <div class="col-md-12" style="text-align: right">
          <button accesskey="c" type="button" class="btn btn-default" ng-click="item.addCondition()" translate>Add condition</button>
      </div>
  </div>
</div>
