<div class="row form-group">
    <div class="col-md-3">Computed With</div>
    <div class="col-md-9">
        <select class="form-control"
                ng-model="item.properties.computedWith"
                ng-options="computedExpression.key as computedExpression.key for computedExpression in item.getComputedExpressions(documentDefinition)">
            <option value="">&lt;<translate translate>none</translate>&gt;</option>
        </select>
    </div>
</div>