<div class="row-group">
  <div class="row form-group">
      <div class="col-md-3" translate>
          Computed Expressions
      </div>
      <div ng-if="!item.properties.computedExpressions.length"
           class="col-md-9" style="text-align: right">
          <button accesskey="e" type="button" class="btn btn-default" ng-click="item.addComputedExpression()" translate>Add computed expression</button>
      </div>
  </div>
  <div class="row form-group" ng-repeat="computedExpression in item.properties.computedExpressions">
      <div class="col-md-3">
          <div class="input-group" style="width: 100%">
              <div ng-click="item.removeComputedExpression(computedExpression)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
              <input type="text" class="form-control" ng-model="computedExpression.key" placeholder="{{ 'name' |translate }}"/>
          </div>
      </div>
      <div class="col-md-9">
          <textarea msd-elastic ng-model="computedExpression.value"
                    class="form-control" rows="1" placeholder="{{ 'expression' | translate }}"></textarea>
      </div>
  </div>
  <div class="row form-group" ng-if="item.properties.computedExpressions.length">
      <div class="col-md-12" style="text-align: right">
          <button accesskey="e" type="button" class="btn btn-default" ng-click="item.addComputedExpression()" translate>Add computed expression</button>
      </div>
  </div>
</div>
