<div role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a aria-controls="home" role="tab" data-toggle="tab" data-target="#fieldEasy" translate>Editor</a></li>
        <li role="presentation"><a aria-controls="profile" role="tab" data-toggle="tab" data-target="#fieldRaw" ng-click="loadRawField()" translate>Raw</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="fieldEasy">
            <span ng-repeat="template in templates" ng-include="template"></span>
        </div>

        <div role="tabpanel" class="tab-pane" id="fieldRaw">
            <textarea cols="88" rows="20" ng-model="rawJson" id="rawField" ng-blur="parseRawField()"></textarea>
        </div>
    </div>

</div>
