<div class="row form-group">
    <div class="col-md-3">Default</div>
    <div class="col-md-9" ng-switch="item.properties.type">
        <span ng-switch-when="choice">
            <select class="form-control" ng-model="item.properties.default" ng-options="choice.properties.name as choice.properties.label for choice in item.nested">
                <option value="">&lt;<translate translate>none</translate>&gt;</option>
            </select>
        </span>
        <span ng-switch-when="multichoice">
             <div ng-repeat="choice in item.nested"  class="checkbox">
                 <label>
                     <input type="checkbox" ng-model="choice.properties.default"> {{choice.properties.label | translate}}
                 </label>
             </div>
        </span>
        <span ng-switch-when="boolean">
            <select class="form-control" ng-model="item.properties.default">
                <option value="">&lt;<translate translate>none</translate>&gt;</option>
                <option value="1" translate>Yes</option>
                <option value="0" translate>No</option>
            </select>
        </span>
        <span ng-switch-when="number">
            <input type="number" class="form-control" ng-model="item.properties.default" placeholder="{{ 'default value' | translate }}"/>
        </span>
        <span ng-switch-default>
            <input type="text" class="form-control" ng-model="item.properties.default" placeholder="{{ 'default value' | translate }}"/>
        </span>
    </div>
</div>
