<div class="row form-group">
    <div class="col-md-3" translate>
        Help
    </div>
    <div class="col-md-9">
        <textarea msd-elastic ng-model="item.properties.help" class="form-control"></textarea>
    </div>
</div>
<div class="row form-group">
  <div class="col-md-3" translate>
    Show help text inline?
  </div>
  <div class="col-md-9">
    <input type="checkbox" ng-model="item.properties.helpInLine">
  </div>
</div>
