<div class="row form-group">
    <div class="col-md-3" translate>Inputsize</div>
    <div class="col-md-9">
        <input type="text" class="form-control" ng-model="item.properties.inputsize" placeholder="{{ 'inputsize' | translate }}"/>
    </div>
</div>