<div class="row form-group">
    <div class="col-md-3" translate>Initial Length</div>
    <div class="col-md-9">
        <input type="number" class="form-control" ng-model="item.properties.initialLength" placeholder="{{ 'initial length' | translate }}"/>
    </div>
</div>