<div class="row form-group">
    <div class="col-md-3" translate>Keep</div>
    <div class="col-md-9">
        <select ng-model="item.properties.keep"
            ng-options="opt.value as opt.label for opt in [{ label: 'Yes', value: true }, { label: 'No', value: false }, { label: 'Coded', value: 'coded' }]">
    </div>
</div>