<div class="row form-group">
    <div class="col-md-3" translate>Label</div>
    <div class="col-md-9">
        <input type="text" ng-change="labelChanged()" class="form-control" ng-model="item.properties.label" placeholder="{{ 'label' | translate }}" id="label" />
    </div>
</div>