<div class="row form-group" ng-class="{'has-error': !validateName()}">
    <div class="col-md-3" translate>Name</div>
    <div class="col-md-9">
        <div class="input-group" style="width: 100%">
            <input type="text" class="form-control" ng-model="item.properties.name" placeholder="{{ 'name' | translate }}" ng-readonly="viewProperties.autoUpdateName" />
            <div ng-if="newName && newName != item.properties.name" ng-click="item.properties.name = newName" class="input-group-addon"><i class="glyphicon glyphicon-refresh"></i></div>
            <div ng-if="viewProperties.autoUpdateName" ng-click="viewProperties.autoUpdateName = false" class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
        </div>
    </div>
</div>
