<div class="row-group">
  <div class="row form-group">
    <div class="col-md-3">Orders</div>
    <div ng-if="!item.properties.orders.length"
         class="col-md-9" style="text-align: right">
      <button accesskey="r" type="button" class="btn btn-default" ng-click="addQuestionnaireOrder()" translate>Add order</button>
    </div>
  </div>

  <div class="row form-group" ng-repeat="order in item.properties.orders">
    <div class="col-md-3">
      <div class="input-group" style="width: 100%">
        <div ng-click="removeQuestionnaireOrder(order)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
        <input type="text" class="form-control" ng-model="order.name" placeholder="{{ 'name' | translate }}"/>
      </div>
    </div>
    <div class="col-md-9">
      <input type="text" class="form-control" ng-blur="changeQuestionnaireOrder(order)" ng-model="order.questions" placeholder="{{ 'questions' | translate }}" />
    </div>
  </div>

  <div class="row form-group" ng-if="item.properties.orders.length">
    <div class="col-md-12" style="text-align: right">
      <button accesskey="r" type="button" class="btn btn-default" ng-click="addQuestionnaireOrder()" translate>Add order</button>
    </div>
  </div>
</div>
