<div class="row-group">
  <div class="row form-group">
    <div class="col-md-3" translate>Only When</div>
    <div ng-if="!item.properties.onlyWhen.length"
         class="col-md-9" style="text-align: right">
      <button accesskey="o" type="button" class="btn btn-default" ng-click="item.addOnlyWhen()" translate>Add only when</button>
    </div>
  </div>

  <div class="row form-group" ng-repeat="child in item.properties.onlyWhen">
    <div class="col-md-9 col-md-offset-3">
      <div class="input-group" style="width: 100%">
        <select class="form-control"
                ng-model="child.computedExpression"
                ng-options="computedExpression.key as computedExpression.key for computedExpression in item.getComputedExpressions(documentDefinition)">
          <option value=""></option>
        </select>
        <div ng-click="item.removeOnlyWhen(child)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
      </div>
    </div>
  </div>

  <div class="row form-group" ng-if="item.properties.onlyWhen.length">
    <div class="col-md-12" style="text-align: right">
      <button accesskey="o" type="button" class="btn btn-default" ng-click="item.addOnlyWhen()" translate>Add only when</button>
    </div>
  </div>
</div>
