<div class="row form-group" ng-if="item.properties.referencelist">
    <div class="col-md-3" translate>Reference List Key</div>
    <div class="col-md-9">
        <skr-doc-def-reference-list-key-component selected-reference-list-key="item.properties.referencelistKey" reference-list-id="item.properties.referencelist"></skr-doc-def-reference-list-key-component>
    </div>
</div>