<div class="row form-group">
    <div class="col-md-3" translate>Required</div>
    <div class="col-md-9">
        <select class="form-control" ng-model="item.properties.required" ng-options="computedExpression.key as computedExpression.label for computedExpression in getOptionsForRequiredField()">
        </select>
    </div>
</div>