<div class="row form-group" ng-if="!item.properties.values.referencelist">
    <div class="col-md-3" translate>Reference List</div>
    <div class="col-md-9">
      <input type="text" class="form-control" ng-model="item.properties.referencelist" placeholder="{{ 'default value' | translate }}"/>
    </div>
</div>
