<div class="row-group">
  <div class="row form-group">
    <div class="col-md-3" translate>Resolved Reference Lists</div>
    <div ng-if="!item.properties.resolvedReferenceLists.length"
         class="col-md-9" style="text-align: right">
      <button accesskey="r" type="button" class="btn btn-default" ng-click="item.addResolvedReferenceList()" translate>Add resolved reference list</button>
    </div>
  </div>

  <div class="row form-group" ng-repeat="resolvedReferenceList in item.properties.resolvedReferenceLists">
    <div class="col-md-3">
        <div class="input-group" style="width: 100%">
            <div ng-click="item.removeResolvedReferenceList(resolvedReferenceList)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i>
            </div>
            <input type="text" class="form-control" ng-model="resolvedReferenceList.key" placeholder="{{ 'name' | translate }}"/>
        </div>
    </div>
    <div class="col-md-9">
      <div class="input-group" style="width: 100%">
        <skr-doc-def-reference-list-component selected-reference-list="resolvedReferenceList.referencelist"></skr-doc-def-reference-list-component>
        <select class="form-control"
                ng-model="resolvedReferenceList.query"
                ng-options="computedExpression.key as computedExpression.key for computedExpression in item.getComputedExpressions(documentDefinition)">
            <option value=""></option>
        </select>
      </div>
    </div>
  </div>

  <div class="row form-group" ng-if="item.properties.resolvedReferenceLists.length">
    <div class="col-md-12" style="text-align: right">
      <button accesskey="r" type="button" class="btn btn-default" ng-click="item.addResolvedReferenceList()" translate>Add resolved reference list</button>
    </div>
  </div>
</div>
