<div class="row form-group">
    <div class="col-md-3" translate>Read Only</div>
    <div class="col-md-9">
        <input type="checkbox" class="checkbox" ng-model="item.properties['read-only']"/>
    </div>
</div>