<div class="row form-group" ng-if="item.properties.referencelist">
    <div class="col-md-3" translate>Typeahead Min Length</div>
    <div class="col-md-9">
      <input type="text" class="form-control" ng-model="item.properties.typeaheadMinLength" placeholder="{{ 'typeahead minimum length' | translate }}"/>
    </div>
</div>
