<div class="row form-group">
    <div class="col-md-3" translate>Type</div>
    <div class="col-md-9">
        <select ng-change="typeChanged()" class="form-control" ng-model="item.properties.type" ng-options="key as key for (key , value) in documentDefinitionMetaModel.metaModel">
            <option ng-if="parentType == 'choice'" translate>option</option>
        </select>
    </div>
</div>