<div class="row form-group" ng-if="!item.properties.referencelist">
    <div class="col-md-3" translate>Values</div>
    <div class="col-md-9">
        <select class="form-control"
                ng-model="item.properties.values.referencelist"
                ng-options="resolvedReferenceList.key as resolvedReferenceList.key for resolvedReferenceList in item.getResolvedReferenceLists(documentDefinition)">
            <option value="">&lt;<translate translate>none</translate>&gt;</option>
        </select>

        <skr-doc-def-reference-list-key-component ng-if="item.properties.values.referencelist" selected-reference-list-key="item.properties.values.query" reference-list-id="resolveResolvedReferenceList(item.properties.values.referencelist)"></skr-doc-def-reference-list-key-component>
    </div>
</div>