<div class="row-group">
  <div class="row form-group">
    <div class="col-md-3" translate>
      Validators
    </div>
    <div ng-if="!item.properties.validators.length"
      class="col-md-9" style="text-align: right">
      <button accesskey="v" type="button" class="btn btn-default" ng-click="item.addValidator()" translate>Add validator</button>
    </div>
  </div>

  <div class="row form-group" ng-repeat="validator in item.properties.validators">
    <div class="col-md-3">
      <div class="input-group" style="width: 100%">
        <div ng-click="item.removeValidator(validator)" class="input-group-addon"><i class="glyphicon glyphicon-remove" style="color: darkred"></i></div>
        <select ng-model="validator.level" class="form-control">
          <option value="error" translate>Error</option>
          <option value="warning" translate>Warning</option>
        </select>
      </div>
      <!-- For Number -->
      <div ng-if="item.properties.type=='number'">
        <select ng-model="validator.type" class="form-control">
          <option value="minimum" translate>Minimum</option>
          <option value="maximum" translate>Maximum</option>
        </select>
      </div>
    </div>
    <div class="col-md-9">
      <textarea msd-elastic ng-model="validator.errorMessage"
        class="form-control" rows="1" placeholder="{{ 'error message' | translate }}"></textarea>
      <textarea msd-elastic ng-model="validator.expression" ng-if="item.properties.type!='number'"
        class="form-control" rows="1" placeholder="{{ 'expression' | translate }}"></textarea>
      <input type="number" ng-model="validator.expression" ng-if="item.properties.type=='number'"
        class="form-control" placeholder="{{ 'expression' | translate }}">

    </div>
  </div>

  <div class="row form-group" ng-if="item.properties.validators.length">
      <div class="col-md-12" style="text-align: right">
          <button accesskey="v" type="button" class="btn btn-default" ng-click="item.addValidator()" translate>Add validator</button>
      </div>
  </div>
</div>

