<p translate>!Warning. All changes are overwrites. The translations are common for all data collection definitions. Updating the translation of a label that is used in other data collection definitions also impacts the translation in these data collection definitions.</p>
<p translate>It's not possible to save empty translations.</p>
<h3 class="noselect">
  <span translate ng-click="changeTranslate(true)" ng-class="{ activeTranslate: toTranslate || inputFilter.key }">To translate</span> | <span translate ng-click="changeTranslate(false)" ng-class="{ activeTranslate: !toTranslate || inputFilter.key }">Translated</span>
</h3>
<input type="text"
       ng-model="inputFilter.key"
       placeholder="{{ 'Search translation' | translate }}">
<table class="list-table">
  <thead>
  <tr>
    <th translate style="width: 32%;">Label</th>
    <th translate style="width: 32%;">Nl</th>
    <th translate style="width: 32%;">Fr</th>
    <th style="width: 4%;"></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-if="trans.length == 0"><td colspan="4" translate>No translations found</td></tr>
  <tr ng-repeat="translation in trans = (translations | filter:filterTranslated | filter:inputFilter)">
    <td ng-click="editTranslation(translation)">{{ translation.key }}</td>
    <td ng-if="editable.key  != translation.key"
        ng-click="editTranslation(translation)">
      {{ translation.nl }}
    </td>
    <td ng-if="editable.key  == translation.key">
      <textarea ng-model="editable.nl"></textarea>
    </td>
    <td ng-if="editable.key  != translation.key"
        ng-click="editTranslation(translation)">
      {{ translation.fr }}
    </td>
    <td ng-if="editable.key  == translation.key">
      <textarea ng-model="editable.fr"></textarea>
    </td>
    <td class="config-icons">
      <div ng-if="editable.key  == translation.key">
        <span ng-click="saveTranslation(translation)" title="save" class="fa fa-check"></span>
        <span ng-click="cancelTranslation()" title="cancel" class="fa fa-remove"></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
