<div class="row form-group">
    <div class="col-md-12">
       <h2 translate>View Changes</h2>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-6">
        <translate translate>Left</translate>:
        <select class="form-control"
                ng-model="left"
                ng-options="docDef as docDef.created_at for docDef in docDefHistory">
        </select>
    </div>
    <div class="col-md-6">
        <translate translate>Right</translate>:
        <select class="form-control"
                ng-model="right"
                ng-options="docDef as docDef.created_at for docDef in docDefHistory">
        </select>
    </div>
</div>
<skr-doc-def-editor-changes ng-if="left && right" left="left" right="right" ></skr-doc-def-editor-changes>