<p translate>The registration was updated (to the database).</p>
<p translate>Due to technical issues the registration might currently not appear (or appear correctly) in the data collection list.</p>
<button class="btn btn-secundary" ng-click="closeThisDialog()" translate>Ok</button>