<p translate>Registration could not be saved, because it has been modified by another user since you last opened it. Please reopen this registration to obtain the last version and then reapply your modifications.</p>
<button class="btn btn-secundary" ng-click="closeThisDialog()" translate>Ok</button>