<p translate>
  The registration could not be saved because a registration with the same unique id already exists.
</p>
<p> {{ 'The unique id consists of:' | translate }} {{ explanation | translate }}. </p>
<p translate>Please encode a registration for a different unique id or leave this registration and go to the already existing registration.</p>
<button class="btn btn-secundary" ng-click="closeThisDialog()" translate>Ok</button>