<h3 class="toc-registration-title" title="{{ workflow.dataCollectionName | translate }}">
  {{ workflow.dataCollectionName | translate }} Registration</h3>

<table>
  <tr>
    <td translate>Status:</td>
    <td>{{ registration | findWorkflowStatus | translate }}</td>
  </tr>
  <tr>
    <td translate>Registration id:</td>
    <td>{{ registration.id }}</td>
  </tr>
  <tr>
    <td translate>Start date:</td>
    <td>{{ dcd.content.period.start | date: 'dd/MM/yyyy'}}</td>
  </tr>
  <tr>
    <td translate>End date:</td>
    <td>{{ dcd.content.period.end | date: 'dd/MM/yyyy' }}</td>
  </tr>
  <tr>
    <td translate>Updated on:</td>
    <td>{{ registration.updatedOn | date: 'dd/MM/yyyy HH:mm'}}</td>
  </tr>
  <tr>
    <td translate>Data collection:</td>
    <td>{{ dcd.dataCollectionName | translate }} v{{ dcd.dataCollectionGroup.majorVersion }}.{{ dcd.minorVersion }}</td>
  </tr>
  <tr>
    <td><a ng-click="openHistory()" translate>See history</a></td>
  </tr>
</table>