<div ng-controller="documentNotesCtrl">
  <p ng-if="apiError" translate>There was an error loading the registration comments. If this problem persists, please contact support.</p>
  <div ng-if="!apiError" ng-include="'views/document/notes/notes-general.html'"></div>
  <div ng-if="!apiError" ng-include="'views/document/notes/notes-field.html'"></div>
  <div ng-if="!apiError" ng-include="'views/document/notes/notes-resolved.html'"></div>
</div>