<div ng-class="{ 'doc-container doc-container-right doc-not-responsive': position === 'right',
'doc-container doc-container-left doc-not-responsive': position === 'left',
 'doc-container doc-container-left doc-responsive': position === 'responsive' }">
  <div class="noselect"
       ng-class="{ 'doc-menu': position === 'responsive',
       'doc-menu doc-not-responsive': position === 'left' || position === 'right',
       'doc-mobile-menu': position === 'mobile' }">
    <a ng-repeat="item in menuItems"
       data-intro="{{ item.guide }}"
       ng-click="setActiveTab(item.name)"
       ng-class="{active: activeTab === item.name, 'tab-comments-link': item.name === 'comments'  }">
      <i ng-if="position === 'responsive'" class="fa {{ item.icon }}"></i>
      <span ng-if="position != 'responsive'">
        {{ item.label | translate }}
        <span id="counter-validation" class="counter-rounded" ng-if="item.name != 'comments' && item.counter && getCounter(item.counter) > 0">{{ getCounter(item.counter) }}</span>

        <span ng-if="item.name === 'comments' && notes.length > 0" id="counter-validation" class="counter-rounded">
          <span>{{ notes.length }}</span>
        </span>

      </span>
    </a>
  </div>
  <div class="doc-content {{ item.class }}"
       ng-repeat="item in menuItems"
       ng-if="activeTab && activeTab === item.name"
       ng-class="{ 'doc-mobile-content': position === 'mobile' }">
    <i ng-click="setActiveTab('')" ng-if="position === 'mobile'" class="fa fa-times"></i>
    <div ng-repeat="element in item.elements"
         ng-if="element != 'summary' || (element === 'summary' && position === 'mobile')"
         class="doc-content-section"
         ng-include="'views/document/side/' + element  +'.html'">
    </div>
  </div>
  <!--Special element: summary-->
  <div class="doc-content doc-summary" ng-if="activeTab === 'toc' && position != 'mobile'">
    <div class="doc-content-section"
         ng-include="'views/document/side/summary.html'">
    </div>
  </div>
</div>
