<div id="sticky-wrapper">
  <h3 translate>Summary</h3>
  <skr-editor-component
    skr-editor-options="{ onlySticky: true }"
    component="documentModel.component"
    manipulator="documentModel.manipulator">
  </skr-editor-component>
  <table ng-if="uniqueID">
    <tr>
      <td>{{ 'Unique ID' | translate }}:</td>
      <td>{{ uniqueID | translate }}</td>
    </tr>
  </table>
</div>