<div id="toc">
  <h3 class="toc-registration-title" title="{{ workflow.dataCollectionName | translate }}">
    {{ workflow.dataCollectionName | translate }}</h3>
  <h3 translate>Table of contents</h3>
  <ul class="toc">
    <skr-table-of-contents sections="documentModel.component.sections"></skr-table-of-contents>
  </ul>
</div>