<div class="doc-content-section">
  <h3 translate>Progress</h3>
  <div class="progress"
       ng-controller="ProgressCtrl"
       document-progress="documentModel.document.progress"
       ng-include="'views/progressBar.html'">
  </div>
</div>

<div class="doc-content-section">
  <h3>{{ 'Validation Errors' | translate }} <span>(<i class="fa fa-times"></i>)</span> <span class="title-amount" ng-if="(documentModel.document.errors | filter:{ assertion: '!required' }).length  > 0">{{ (documentModel.document.errors | filter:{ assertion: '!required' }).length }}</span></h3>
  <ul ng-controller="FocusCtrl" class="doc-validation" ng-if="documentModel.document.errors.length > 0">
    <li ng-repeat="errorInfo in documentModel.document.errors | filter:{ assertion: '!required' }">
      <span linked-message
         assertion="errorInfo.assertion"
         manipulator="errorInfo.manipulator"
         ng-if="errorInfo.manipulator.description.assertions[errorInfo.assertion].isInterField"
         class="inter-field-list">
      </span>
      <span ng-click="focusOnField(errorInfo.manipulator)"
         ng-if="!errorInfo.manipulator.description.assertions[errorInfo.assertion].isInterField">
        {{ errorInfo.assertion | assertionMessage: errorInfo.manipulator.description }}
      </span>
    </li>
  </ul>
  <p ng-if="(documentModel.document.errors | filter:{ assertion: '!required' }).length === 0" translate>
    No validation errors.
  </p>
</div>

<div class="doc-content-section">
  <h3>{{ 'Required Fields' | translate }} <span>(<i class="fa fa-asterisk"></i>)</span> <span class="title-amount" ng-if="(documentModel.document.errors | filter:{ assertion: 'required' }).length > 0">{{(documentModel.document.errors | filter:{ assertion: 'required' }).length }}</span></h3>
  <ul ng-controller="FocusCtrl" class="doc-validation" ng-if="documentModel.document.errors.length > 0">
    <li ng-repeat="errorInfo in documentModel.document.errors | filter:{ assertion: 'required' }">
      <span linked-message
            assertion="errorInfo.assertion"
            manipulator="errorInfo.manipulator"
            ng-if="errorInfo.manipulator.description.assertions[errorInfo.assertion].isInterField"
            class="inter-field-list">
      </span>
      <span ng-click="focusOnField(errorInfo.manipulator)"
            ng-if="!errorInfo.manipulator.description.assertions[errorInfo.assertion].isInterField">
        {{ errorInfo.assertion | assertionMessage: errorInfo.manipulator.description }}
      </span>
    </li>
  </ul>
  <p ng-if="(documentModel.document.errors | filter:{ assertion: 'required' }).length === 0" translate>
    No required fields.
  </p>
</div>

<div class="doc-content-section">
  <h3>{{ 'Validation Warnings' | translate }} <span>(<i class="fa fa-exclamation"></i>)</span> <span class="title-amount" ng-if="documentModel.document.warnings.length > 0">{{ documentModel.document.warnings.length }}</span></h3>
  <ul ng-controller="FocusCtrl" class="doc-validation" ng-if="documentModel.document.warnings.length > 0">
    <li ng-repeat="warningInfo in documentModel.document.warnings">
      <span ng-click="focusOnField(warningInfo.manipulator)"
         ng-if="!warningInfo.manipulator.description.assertions[warningInfo.assertion].isInterField">
        {{ warningInfo.assertion | assertionMessage: warningInfo.manipulator.description }}
      </span>
      <span class="inter-field-list"
         ng-if="warningInfo.manipulator.description.assertions[warningInfo.assertion].isInterField">
                            <span linked-message
                                  assertion="warningInfo.assertion"
                                  manipulator="warningInfo.manipulator">
                            </span>
      </span>
    </li>
  </ul>
  <p ng-if="documentModel.document.warnings == 0" translate>
    No validation warnings.
  </p>
</div>