<div class="sidebar">
    <!-- collapsed -->
    <div class="toggleSidebar" ng-click="sidebar.toggleSidebarOpen()">
        <i ng-if="!sidebar.isSidebarOpen" class="icon-menu toggleButton"></i>
        <i ng-if="sidebar.isSidebarOpen" class="icon-cross toggleButton"></i>
    </div>

    <div class="fullHeight" ng-show="sidebar.isSidebarOpen">
        <div class="search-field">
            <div class="search input-group">
                <input type="text" placeholder="{{ 'Search collections' | translate }}" class="form-control" ng-model="sidebar.searchCollection"/>
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>

        <div class="items">
            <!-- COLLECTIONS -->
            <div class="sidebar-collection"
                 id="{{ collection.name }}"
                 ng-repeat="collection in sidebar.collections | orderBy: 'name' | collectionsKeyword: sidebar.searchCollection"
                 ng-class="{ 'is-selected': collection.name === selectedGroup.name }">
                <p class="collection-label"
                   ng-class="{ 'is-selected': collection.name === selectedGroup.name }"
                   ng-click="sidebar._selectGroup(collection)">
                    {{ collection.name | translate }}
                </p>

                <!-- Content of the collection -->
                <div class="submenu"
                     ng-class="{ 'is-selected': selectedGroup.name === collection.name }">

                    <!-- versions of the collection -->
                    <div ng-repeat="version in collection.versions | orderBy: '-majorVersion'" id="version-{{ version.dataCollectionGroupId }}">
                        <p class="version" ng-click="sidebar._selectVersion(version, collection)"
                            ng-class="{ 'is-selected': selectedVersion.dataCollectionGroupId === version.dataCollectionGroupId ||
                                        selectedCollection.dataCollectionGroupId === version.dataCollectionGroupId }">
                            <span class="status {{ version.status }}">
                                <i class="fa fa-circle"></i>
                            </span>
                            <span>v{{ version.majorVersion }}</span>
                            <span class="date">
                                {{ version.period.start | date: 'dd/MM/yyyy' }}
                                <span ng-if="version.period.end"> - {{ version.period.end | date: 'dd/MM/yyyy' }}</span>
                                <i ng-if="sidebar.showIcons && version.dataCollectionDefinitions.length > 1" class="fa fa-folder-o"></i>
                            </span>
                        </p>
                        <div class="submenu"
                                ng-class="{ 'is-selected': (selectedVersion.dataCollectionGroupId === version.dataCollectionGroupId) && sidebar.openChildren && version.dataCollectionDefinitions.length > 1 }">
                            <div ng-repeat="definition in version.dataCollectionDefinitions | orderBy: 'dataCollectionName'"
                                    ng-click="sidebar._selectCollection(definition)"
                                    class="child-collection"
                                    ng-class="
                                    { 'is-selected': selectedCollection.dataCollectionDefinitionId === definition.dataCollectionDefinitionId ||
                                                     selectedCollection.id === definition.dataCollectionDefinitionId }">
                                {{ definition.label[language] | translate }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>