<div class="document-history">
  <h3 translate>History</h3>
  <div ng-repeat="action in history | orderBy: 'actions[actions.length -1].executedOn' : true" class="document-history-item">
    <div class="document-history-body">
      <table>
        <thead ng-if="$first">
        <tr>
          <th translate>Status</th>
          <th translate>Action</th>
          <th translate>Executed by</th>
          <th translate>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="subAction in action.actions | orderBy:'executedOn' : true">
          <td width="160"><span ng-if="$first" class="document-history-title">{{action | findWorkflowStatus }}</span></td>
          <td  width="180">{{ subAction.action | underscoreLess | lowercase }}</td>
          <td width="150">{{ subAction.executedBy }}</td>
          <td>{{ subAction.executedOn | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>