<p translate>You are leaving the current registration. Do you want to save your changes?</p>
<div class="row">
  <button class="btn btn-secundary" ng-click="locationChange(next,true)" translate>Save</button>
  <button class='btn btn-primary' ng-click="locationChange(next,false)"><a translate>Don't Save</a></button>
  <button class='btn btn-primary' ng-click="closeThisDialog()"><a translate>Cancel</a></button>
</div>