<label class="dropdown-checkbox"
       title="{{ field.label | translate }}"
        ng-click="field.toggleActive(); updateLastView()">
  <i ng-class="{'fa-check': field.active, 'fa-plus': !field.active }" class="fa listview-active-icon"></i> <span bind-html-compile="field.label | translate"></span>
</label>