<li class="dropdown-submenu"
    ng-click="openNested(section.label)"
    class="{{ nested }}"
    ng-class="{ 'force-dropdown-submenu': openDropdowns[level] == section.label }">
  <a role="menuitem" title="{{ section.label | translate }}" bind-html-compile="section.label | translate"></a>
  <ul class="ul-no-style disable-close" uib-dropdown-menu>
    <column-object object="section" update-last-view="updateLastView()" level="level + 1"></column-object>
  </ul>
</li>