<h3>{{ 'Resolved comments' | translate }} <span ng-if="resolvedNotes && resolvedNotes.length > 0" class="title-amount ng-binding">{{resolvedNotes.length }}</span></h3>
<p ng-if="resolvedNotes.length === 0" translate>No resolved comments</p>
<div class="notes-wrapper">
  <div class="note"
       id="comment-{{ note.fieldPath }}"
       ng-class="{ 'note-resolved': note.resolved && !isNoteOpen(note) }"
       ng-repeat="note in resolvedNotes"
       ng-include="'views/document/notes/notes-box.html'">
  </div>
</div>