<div class="note-header noselect note-header" ng-class="{ 'noteField-header' : note.fieldPath, 'note-{{note.fieldPath}}': note.fieldPath }" ng-click="openNote(note, $event)">
  <a ng-if="note.fieldPath && linkedManipulator(note.fieldPath)" ng-click="focusOnField(linkedManipulator(note.fieldPath));$event.stopPropagation();"><i title="{{ 'Scroll to corresponding field in registration' | translate }}" class="fa fa-search"></i></a>
  <a ng-if="note.fieldPath && !linkedManipulator(note.fieldPath)" ng-click="$event.stopPropagation();"
     popover-append-to-body= "true"
     popover-trigger="'outsideClick'"
     uib-popover="{{ 'The corresponding field cannot be found.' | translate  }}"
     popover-placement="left"><i class="fa fa-search"></i></a>
  <p class="note-title">{{ note.title }}</p>
  <span class="note-reply-amount">{{ note.comments.length }}</span>
  <i ng-class="{ 'fa-angle-down': isNoteOpen(note), 'fa-angle-right': !isNoteOpen(note) }" class="fa"></i>
</div>

<div ng-class="{ 'note-wrapper-open': isNoteOpen(note) }" class="note-wrapper">
  <skr-editor-note ng-repeat="n in note.comments | orderBy: 'createdOn'" note="note" comment="n" valid-date="canComment"></skr-editor-note>
  <div class="note-reply-action" ng-show="isNoteEditableStatus(workflow) && canComment(workflow)">
    <textarea ng-show="commentMode" ng-model="replyMessage" placeholder="type note here" ng-class="{ 'reply-small': platform === 'hd4dp' && note.resolved && isNoteEditableStatus(workflow) && canComment(workflow) }"></textarea>
    <p ng-if="replyError"><small>Error: Fill in all fields</small></p>
    <a ng-show="commentMode" ng-click="addComment(note, replyMessage)" translate>Save</a>
    <a ng-if="commentMode" ng-click="toggleCommentMode();" translate>Cancel</a>
    <a ng-show="!commentMode && !note.resolved" ng-click="replyMessage =''; toggleCommentMode()" translate>Reply</a>
    <a ng-if="!commentMode && platform == 'hd4res' && !note.resolved && isNoteEditableStatus(workflow, validDate) && validDate" ng-click="toggleNoteSolved(note)" translate>Resolve</a>
    <a ng-if="note.resolved && isNoteEditableStatus(workflow) && canComment(workflow)" ng-click="toggleNoteSolved(note)" translate>Reopen</a>
  </div>
</div>