<!--Comment title-->
<p>
  <!--User icon-->
  <i class="fi flaticon-medical" ng-if="comment.platform.toLowerCase() === 'hd4res'"></i>
  <i class="fa fa-stethoscope" ng-if="comment.platform.toLowerCase() === 'hd4dp'"></i>
  <!--Username-->
  <span class="note-username">{{ comment.username}}</span>
  <span class="note-date" title="{{ comment.createdOn | date: 'dd/MM/yyyy hh:mm' }}">{{ comment.createdOn | fromNow }}</span>
<!--note action icons-->
  <span class="note-actions">
    <a class="noselect"
       ng-click="sure = !sure"
       ng-show="isEditable() && !edit && !sure && comment.content"
       type="button"><i title="{{ 'Delete' | translate }}" class="fa fa-trash-o"></i></a>
    <a class="noselect"
       ng-click="edit = !edit; commentMessage = comment.content"
       ng-show="isEditable() && !edit && !sure && comment.content"
       type="button"><i title="{{ 'Edit' | translate }}" class="fa fa-pencil"></i></a>
  </span>
</p>

<!--Delete message -->
<p class="note-sure" ng-show="sure">{{ 'Are your sure you want to delete this comment?' | translate }}
  <a ng-click="deleteComment();sure = false" translate>Yes</a>
  <a ng-click="sure = false" translate>No</a>
</p>
<!--Message readonly-->
<p ng-if="comment.content && !edit"
   class="note-text">{{ comment.content }}</p>
<!--Message input-->
<textarea placeholder="{{ 'Type your comment here' | translate }}"
          ng-show="!comment.content || edit"
          ng-model="commentMessage" class="note-text"></textarea>
<!--note actions-->
<a ng-click="editComment(commentMessage); edit = false"
   ng-show="isEditable() && !comment.content || edit" translate>Save</a>
<a ng-click="edit = false" ng-show="edit" translate>Cancel</a>
<a ng-click="deleteComment(true)" ng-show="isEditable() && !comment.content"
   translate>Cancel</a>