<h3>{{ 'General comments' | translate }} <span ng-if="generalNotes && generalNotes.length > 0" class="title-amount ng-binding">{{generalNotes.length }}</span></h3>
<p ng-if="generalNotes.length === 0" translate>No comments</p>

<div class="notes-wrapper">
  <div class="note"
       ng-class="{ 'note-resolved': note.resolved && !isNoteOpen(note) }"
       ng-repeat="note in generalNotes"
       ng-include="'views/document/notes/notes-box.html'">
  </div>
</div>

<div ng-if="newNote" class="note note-main note-new">
  <input ng-model="newNoteTitle" type="text" placeholder="{{ 'Title' | translate }}">
  <textarea ng-model="newNoteMessage" placeholder="{{ 'Comment message' | translate }}"></textarea>
  <p ng-if="newNoteError"><small translate>Error: Fill in all fields</small></p>
  <a ng-click="addNote(newNoteTitle, newNoteMessage)" translate>Save</a>
  <a ng-click="toggleNote()" translate>Cancel</a>
</div>
<a ng-click="toggleNote()" ng-if="!newNote && isNoteEditableStatus(workflow, validDate)" translate>Add general comment</a>