<div ng-controller="FocusCtrl">
  <h3>{{ 'Field comments' | translate }} <span ng-if="fieldNotes && fieldNotes.length > 0" class="title-amount ng-binding">{{fieldNotes.length }}</span></h3>
  <p ng-if="fieldNotes.length === 0"><span translate>You can add a comment by clicking on the</span> <i class="fa fa-comment-o"></i><span translate>-icon in the registration.</span></p>

  <div class="notes-wrapper">
    <div class="note"
         ng-class="{ 'note-resolved': note.resolved && !isNoteOpen(note) }"
         ng-repeat="note in fieldNotes"
         ng-include="'views/document/notes/notes-box.html'">
    </div>
  </div>

  <div class="note note-main note-new" ng-repeat="newNote in newFieldNotes">
    <p>{{ newNote.title | translate }}</p>
    <textarea ng-model="newNote.content" placeholder="{{ 'Comment message' | translate }}"></textarea>
    <!--<p ng-if="newNoteError"><small translate>Error: Fill in all fields</small></p>-->
    <a ng-click="addFieldNote(newNote)" translate>Save</a>
    <a ng-click="clearFieldNote(newNote)" translate>Cancel</a>
  </div>
</div>