<!doctype html>
<!--[if lt IE 9]>
<html class="no-js">
  <div id="ie9-warning" style="text-align: center; margin-top: 100px">
    <h4 class="red">Your Browser Is Not Supported!</h4><br />
    <p>To access the Healthdata application, please upgrade to <a href='https://www.google.com/chrome/browser/desktop/'>Chrome</a> or <a href='http://windows.microsoft.com/en-us/internet-explorer/download-ie'>Internet Explorer</a>. Thank You!</p>
  </div>
</html>
<![endif]-->

<!--[if gt IE 8]><!-->
<html ng-app="frontendApp">
<head ng-controller="HeaderCtrl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HealthData</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link ng-if="isHD4DP" rel="icon" type="image/png" sizes="32x32" ng-href="favhd4dp.png">
    <link ng-if="isHD4RES" rel="icon" type="image/png" sizes="32x32" ng-href="favhd4res.png">
    <!-- build:css stylesheets/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/intro.js/introjs.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog.css" />
    <link rel="stylesheet" href="bower_components/ngDialog/css/ngDialog-theme-default.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.css" />
    <link rel="stylesheet" href="bower_components/isteven-angular-multiselect/isteven-multi-select.css" />
    <link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.css" />
    <link rel="stylesheet" href="bower_components/ngprogress/ngProgress.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css stylesheets/tablet.css -->
    <link rel="stylesheet" href="stylesheets/tablet.css" media="handheld" />
    <!-- endbuild -->

    <!-- For the conditional stylesheets used below, we need to work with an ng-if so that file revving works -->
    <link ng-if="isHD4DP" rel="stylesheet" type="text/css" ng-href="stylesheets/platforms/hd4dp.css">
    <link ng-if="isHD4RES" rel="stylesheet" type="text/css" ng-href="stylesheets/platforms/hd4res.css">
</head>
<body ng-controller="LanguageCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div id="container">
    <!-- The extra quotes in the path are necessary! -->
    <div ng-include="'views/mainMenu.html'"></div>

    <!-- Add your site or application content here -->
    <div class="container" id="body" ng-view></div>

    <!-- FOOTER -->
    <div ng-include="'views/footer.html'"></div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/Case/dist/Case.js"></script>
<script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
<script src="bower_components/intro.js/intro.js"></script>
<script src="bower_components/ngDialog/js/ngDialog.js"></script>
<script src="bower_components/angular-ui-mask/dist/mask.js"></script>
<script src="bower_components/angular-once/once.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/angular-ui-tree/dist/angular-ui-tree.js"></script>
<script src="bower_components/angular-elastic/elastic.js"></script>
<script src="bower_components/isteven-angular-multiselect/isteven-multi-select.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.js"></script>
<script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
<script src="bower_components/file-saver/FileSaver.js"></script>
<script src="bower_components/blob-polyfill/Blob.js"></script>
<script src="bower_components/ngprogress/build/ngprogress.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="services/workflow/workflowModule.js"></script>
<script src="services/workflow/elasticsearchRebuild.js"></script>
<script src="services/workflow/documentBackend.js"></script>
<script src="services/workflow/workflowBackend.js"></script>
<script src="services/workflow/workflowNotes.js"></script>
<script src="services/workflow/csv.js"></script>
<script src="services/workflow/statuses.js"></script>
<script src="services/workflow/actions.js"></script>
<script src="services/workflow/workflowManager.js"></script>
<script src="services/workflow/searchQuery.js"></script>
<script src="services/caches/cacheBackend.js"></script>

<script src="services/dataCollection/index.js"></script>
<script src="services/dataCollection/dataCollectionManager.js"></script>

<script src="services/attachment/index.js"></script>
<script src="services/attachment/attachmentBackend.js"></script>

<script src="services/download/index.js"></script>
<script src="services/download/download.js"></script>

<script src="services/dcd/dcdModule.js"></script>
<script src="services/dcd/dcdBackend.js"></script>
<script src="services/dcd/dcBackend.js"></script>

<script src="services/editor/editorModule.js"></script>
<script src="services/editor/openDocumentDefinition.js"></script>
<script src="services/editor/openDocument.js"></script>
<script src="services/editor/displayValue.js"></script>
<script src="services/editor/documentEquals.js"></script>
<script src="services/editor/documentNotes.js"></script>
<script src="services/editor/documentMenu.js"></script>
<script src="services/editor/editorSideMenu.js"></script>

<script src="services/navigation/navigationModule.js"></script>
<script src="services/navigation/mainMenu.js"></script>

<script src="services/notification/index.js"></script>
<script src="services/notification/model/Notification.js"></script>
<script src="services/notification/notificationManager.js"></script>

<script src="services/organization/index.js"></script>
<script src="services/organization/organizationBackend.js"></script>

<script src="services/participation/index.js"></script>
<script src="services/participation/participationBackend.js"></script>
<script src="services/participation/participationManager.js"></script>

<script src="services/support/index.js"></script>
<script src="services/support/supportManager.js"></script>

<script src="services/filter/index.js"></script>
<script src="services/filter/translation.js"></script>
<script src="services/filter/stringToPath.js"></script>
<script src="services/filter/trustAsHtml.js"></script>

<script src="services/listview/ListViewModule.js"></script>
<script src="services/listview/ListViewExtraColumns.js"></script>
<script src="services/listview/ListViewFilters.js"></script>
<script src="services/listview/ListViewDocColumns.js"></script>
<script src="services/listview/viewModule.js"></script>
<script src="services/listview/ListViewWorkflows.js"></script>

<script src="services/configurations/configurationsModule.js"></script>
<script src="services/configurations/configurationsBackend.js"></script>
<script src="services/configurations/environment.js"></script>

<script src="services/user/userModule.js"></script>
<script src="services/user/userBackend.js"></script>
<script src="services/user/userRequestBackend.js"></script>
<script src="services/user/userViewBackend.js"></script>
<script src="services/user/userConfigurationBackend.js"></script>
<script src="services/user/hd4dpUsersBackend.js"></script>

<script src="services/oauth/oauthModule.js"></script>
<script src="services/oauth/oauthManager.js"></script>

<script src="services/translation/translationManager.js"></script>

<script src="services/version/versionBackend.js"></script>

<script src="services/pdf/pdfModule.js"></script>
<script src="services/pdf/pdfTemplateBackend.js"></script>
<script src="services/pdf/pdfContentService.js"></script>

<script src="services/status/statusModule.js"></script>
<script src="services/status/statusBackend.js"></script>

<script src="scripts/components/ui/loadingbarService.js"></script>
<script src="scripts/components/ui/loadingBar.js"></script>
<script src="scripts/app.js"></script>

<script src="scripts/controllers/settingsCtrl.js"></script>
<script src="scripts/controllers/menu/mainMenu.js"></script>
<script src="scripts/controllers/FooterCtrl.js"></script>
<script src="scripts/controllers/languageCtrl.js"></script>
<script src="scripts/controllers/listview/listView.js"></script>
<script src="scripts/controllers/listview/listViewDirectives.js"></script>
<script src="scripts/controllers/listview/listViewFilters.js"></script>
<script src="scripts/controllers/listview/listViewCtrl.js"></script>
<script src="scripts/controllers/HeaderCtrl.js"></script>
<script src="scripts/controllers/status/status.js"></script>
<script src="scripts/controllers/status/statusListCtrl.js"></script>
<script src="scripts/controllers/status/statusReportCtrl.js"></script>
<script src="scripts/controllers/configurationCtrl.js"></script>
<script src="scripts/controllers/oauth/index.js"></script>
<script src="scripts/controllers/oauth/oauthLoginCtrl.js"></script>
<script src="scripts/controllers/oauth/oauthLogoutCtrl.js"></script>
<script src="scripts/controllers/oauth/forgotPasswordCtrl.js"></script>
<script src="scripts/controllers/oauth/resetPasswordCtrl.js"></script>
<script src="scripts/controllers/user/index.js"></script>
<script src="scripts/controllers/user/userEditCtrl.js"></script>
<script src="scripts/controllers/user/userNewCtrl.js"></script>
<script src="scripts/controllers/user/userListCtrl.js"></script>
<script src="scripts/controllers/user/userSearchCtrl.js"></script>
<script src="scripts/controllers/user/requestNewCtrl.js"></script>
<script src="scripts/controllers/user/requestListCtrl.js"></script>
<script src="scripts/controllers/user/requestEditCtrl.js"></script>
<script src="scripts/controllers/document/document.js"></script>
<script src="scripts/controllers/document/documentEditCtrl.js"></script>
<script src="scripts/controllers/document/documentPdfCtrl.js"></script>
<script src="scripts/controllers/document/documentHd4pcCtrl.js"></script>
<script src="scripts/controllers/document/documentMenuCtrl.js"></script>
<script src="scripts/controllers/document/documentNotesCtrl.js"></script>
<script src="scripts/controllers/collection/collection.js"></script>
<script src="scripts/controllers/collection/collectionEditCtrl.js"></script>
<script src="scripts/controllers/collection/collectionListCtrl.js"></script>
<script src="scripts/controllers/collection/collectionNewCtrl.js"></script>
<script src="scripts/controllers/collection/collectionVersionCtrl.js"></script>
<script src="scripts/controllers/collection/collectionRawCtrl.js"></script>

<script src="scripts/controllers/collectionGroup/collectionGroupListCtrl.js"></script>
<script src="scripts/controllers/collectionGroup/collectionGroupEditCtrl.js"></script>
<script src="scripts/controllers/collectionGroup/collectionGroupNewCtrl.js"></script>

<script src="scripts/controllers/participation/participation.js"></script>
<script src="scripts/controllers/participation/participationFilters.js"></script>
<script src="scripts/controllers/participation/participationCtrl.js"></script>
<script src="scripts/controllers/participation/participationDataProviderCtrl.js"></script>

<script src="scripts/components/ui/tableSort/tableSort.js"></script>
<script src="scripts/components/ui/collectionSidebar/collectionSidebar.js"></script>
<script src="scripts/components/ui/index.js"></script>

<script src="scripts/controllers/settings/index.js"></script>
<script src="scripts/controllers/settings/settingsNotificationsCtrl.js"></script>
<script src="scripts/controllers/settings/dcRequestCtrl.js"></script>
<script src="scripts/controllers/settings/profileCtrl.js"></script>
<script src="scripts/controllers/settings/adminListCtrl.js"></script>

<script src="scripts/modules/listViewModule.js"></script>
<script src="scripts/modules/appConfigModule.js"></script>
<script src="scripts/modules/editorModule.js"></script>
<script src="scripts/modules/editorComponents.js"></script>
<script src="scripts/modules/documentModule.js"></script>
<script src="scripts/modules/collectionModule.js"></script>
<script src="scripts/modules/sessionModule.js"></script>
<script src="scripts/modules/oauthModule.js"></script>
<script src="scripts/modules/workbenchModule.js"></script>
<script src="scripts/modules/userModule.js"></script>
<script src="scripts/modules/introModule.js"></script>
<script src="scripts/modules/fileHandlerModule.js"></script>
<script src="scripts/modules/statusModule.js"></script>
<script src="scripts/modules/httpAuth.js"></script>
<script src="scripts/modules/languageModule.js"></script>
<script src="scripts/modules/participationModule.js"></script>

<script src="services/config/configuration.js"></script>

<script src="scripts/components/notification/index.js"></script>
<script src="scripts/components/notification/notificationBar/notificationBar.js"></script>

<script src="scripts/components/document/linkLabel.js"></script>
<script src="scripts/components/document/bindHtml.js"></script>

<!-- DDE -->
<script src="scripts/modules/ddeModule.js"></script>

<script src="scripts/modules/dde/field.js"></script>
<script src="scripts/modules/dde/field/hdField.js"></script>
<script src="scripts/modules/dde/field/basicField.js"></script>
<script src="scripts/modules/dde/field/customProperty.js"></script>
<script src="scripts/modules/dde/field/computedExpression.js"></script>
<script src="scripts/modules/dde/field/resolvedReferenceList.js"></script>
<script src="scripts/modules/dde/field/condition.js"></script>
<script src="scripts/modules/dde/field/validator.js"></script>
<script src="scripts/modules/dde/field/onlyWhen.js"></script>

<script src="scripts/modules/dde/controllers/documentDefinitionEditorController.js"></script>
<script src="scripts/modules/dde/controllers/documentDefinitionEditorNodeController.js"></script>

<script src="scripts/modules/dde/directives/documentDefinitionEditorComponent.js"></script>
<script src="scripts/modules/dde/directives/documentDefinitionReferenceListComponent.js"></script>
<script src="scripts/modules/dde/directives/documentDefinitionReferenceListKeyComponent.js"></script>

<script src="scripts/modules/dde/repositories/documentDefinitionRepository.js"></script>
<script src="scripts/modules/dde/repositories/referenceListRepository.js"></script>

<script src="scripts/modules/dde/factories/documentDefinitionFromJson.js"></script>
<script src="scripts/modules/dde/factories/documentDefinitionToJson.js"></script>

<script src="scripts/modules/dde/models/documentDefinitionMetaModel.js"></script>
<script src="scripts/modules/dde/models/documentDefinition.js"></script>
<script src="scripts/modules/dde/models/documentDefinitionModel.js"></script>

<script src="scripts/bsScripts.br.js"></script>
<!-- endbuild -->

<div notifications=""></div>
<notification-bar id="notifications"></notification-bar>
<loading-bar></loading-bar>
</body>
</html>
<!--<![endif]-->