/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.collection-is-active-cell {
  color: $valOrange !important;
}

.collection-valid-value {
  color: $green !important;
}

.collection-invalid-value {
  color: #CCC !important;
}

.collection-higlight-version {
  background: #f6fbfe !important;
}

#collection-new {
  .collection-edit-seperator {
    padding-left: 0;
    + div {
      padding-right: 0;
      border-left: 1px solid #EEE;
    }
  }
  textarea {
    resize: none;
    height: 150px;
  }
}

.collection-raw {
  textarea {
    width: 100%;
    height: 350px;
  }
}

.follow-up-container {

  a {
    color: $main;
    i {
      font-size: 12px;
    }
  }
  .follow-up{
    color: #777;
    margin-bottom: 3px;
    i{
      font-size: 13px;
      margin-right: 3px;
    }
    &:hover {
      color: $main;
      cursor: pointer;
    }
  }
}

.prewrap {
  white-space: pre-wrap;
}

.follow-up-dialog {
  textarea {
    width: 100%;
    height: 90px;
  }

  label small{
    color: $main;
    font-size: 11px;
    &:hover {
      cursor: pointer;
    }
  }

  .follow-up-message {
    color: #999;
    font-size: 11px;
  }

  .row {
    > div:first-of-type {
      padding-left: 0;
    }
    > div:last-of-type {
      padding-right: 0;
    }
  }

  tags-input {
    .host {
      margin: 0;
    }

    .tags {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      color: #555555;
      font-weight: normal;
      font-family: "proxima_nova_rgregular";
      border-color: #cccccc;
    }
  }
}
