<div class="main-bar">
    <a class="back" href="#/settings">
        <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title">Administrators</h1>
</div>



<div class="list-table-toolbar">
    <input type="text"
           ng-model="searchTerm"
           placeholder="{{ 'Search administrators' | translate }}" />
</div>
<table class="list-table">
    <thead>
    <tr>
        <th translate>User</th>
        <th translate>Email</th>
        <th translate>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="admin in admins | orderBy: 'firstName' | adminFilter:searchTerm">
        <td>
            <span ng-if="admin.firstName">{{ admin.firstName }}</span>
            <span ng-if="admin.lastName">{{ admin.lastName }}</span>
            <span ng-if="!admin.firstName || !admin.lastName">{{ admin.username }}</span>
        </td>
        <td>
            {{ admin.email }}
        </td>
        <td ng-click="show(admin)">
            <i class="fa fa-eye"></i>
        </td>
    </tr>
    </tbody>
</table>