<div class="main-bar">
    <a class="back" href="#/settings">
        <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title">Data collection requests</h1>
</div>



<div class="list-table-toolbar">
  <input id="treatedCheckbox" type="checkbox" ng-model="showTreated" ng-change="filterChanged()" />
  <label for="treatedCheckbox">Show treated requests</label>
</div>
<table class="list-table">
    <thead>
    <tr>
        <th translate>User</th>
        <th translate>Data collections</th>
        <th translate>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="request in requests">
          <td>
            <span ng-if="!request.user.firstName || !request.user.lastName">{{ request.user.username }}</span>
            <span ng-if="request.user.firstName && request.user.lastName">{{ request.user.firstName }} {{ request.user.lastName }}</span>
          </td>
          <td>
            <ul>
                <li ng-repeat="collection in request.dataCollections">
                    {{ collection.key }}
                </li>
            </ul>
          </td>
          <td ng-if="!request.treated" ng-click="edit(request)">
            <a><span class="fa fa-edit"></span></a>
          </td>
          <td ng-if="request.treated" ng-click="show(request)">
            <i class="fa fa-eye"></i>
          </td>
        </tr>
    </tbody>
</table>