<div ng-controller="settingsNotificationsCtrl" class="settings-notification" data-intro="{{ 'Edit your notification settings.' | translate }}" data-position="top">
  <h2>{{ 'Notifications' | translate }} <i ng-if="isLoading" class="fa fa-spinner fa-spin"></i> </h2>

  <label translate>Notification 1:</label>
  <p ng-if="userConfig">{{ 'I want to be immediately notified when I received more than' | translate }}
    <input type="text" ng-model-options="{debounce: 750}" ng-model="findConfig('LOWER_BOUND_FOR_IMMEDIATE_NOTIFICATION').value" ng-change="update(findConfig('LOWER_BOUND_FOR_IMMEDIATE_NOTIFICATION'))" /> {{ 'registrations in status' | translate }}
    <span ng-if="!platform">{{ '"corrections needed" or "follow-up needed"' | translate }}</span>
    <span ng-if="platform">{{ '"new", "new corrections" or "new follow-up"' | translate }}</span>.</p>

  <label translate>Notification 2:</label>
  <p ng-if="userConfig">{{ 'I want to be notified when at least one of my registrations remains in status' | translate }} <span ng-if="!platform">{{ '"corrections needed" or "follow-up needed"' | translate }}</span><span ng-if="platform">{{ '"new", "new corrections" or "new follow-up"' | translate }}</span> {{ 'for' | translate }} <input type="text" ng-model-options="{debounce: 750}" ng-model="findConfig('OLD_REGISTRATION_PERIOD').value" ng-change="update(findConfig('OLD_REGISTRATION_PERIOD'))" /> {{ 'day(s).' | translate }}

    {{ 'Remind me about this every' | translate }} <input type="text" ng-model-options="{debounce: 750}" ng-model="findConfig('REMINDERS_FREQUENCY').value" ng-change="update(findConfig('REMINDERS_FREQUENCY'))" /> {{ 'day(s)' | translate }}.</p>

  <p ng-if="!userConfig && !isLoading" translate>Couldn't load notifications settings.</p>
</div>