<div class="user-view">
  <div class="main-bar">
    <a class="back" href="#/settings">
      <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title" translate>Edit profile</h1>
  </div>

  <div class="row">
    <div class="col-md-6" ng-show="isHD4DP">
      <div class="settings-item">

        <h2 translate>Request data collection access</h2>
        <p translate>Request access to additional data collections.</p>
        <div
                isteven-multi-select
                input-model="orgCollections"
                output-model="selectedCollections"
                button-label="name"
                item-label="name"
                tick-property="ticked">
        </div>

        <div class="settings-buttons">
          <button class="btn btn-secundary"
                  ng-disabled="selectedCollections.length === 0"
                  ng-click="sendRequest()"
                  translate>Send request</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="settings-item">
        <h2>Change password</h2>

        <div class="user-password-change">
          <div class="row">
            <div class="col-md-12">
              <p class="error">{{ error }}</p>
            </div>
          </div>

          <form name="user_form">
            <div class="row">
              <div class="col-md-6">
                <label translate>Old password</label>
                <input type="password" ng-model="oldPassword" name="oldPassword" required>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label translate>New password</label>
                <input type="password" value="t" ng-model="passwords" name="password" required>
              </div>
              <div class="col-md-6">
                <label translate>New password repeat</label>
                <input type="password" value="ttt" required name="password_confirmation" same-as="passwords"
                       ng-model="password_confirmation">
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-secundary" ng-click="editPassword()" translate>Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
