<!-- Main Menu -->
<p translate>overview</p>
<p translate>document</p>
<p translate>reporting</p>
<p translate>registers</p>
<p translate>data collection</p>
<p translate>login</p>
<p translate>logout</p>
<p translate>settings</p>
<p translate>participation</p>
<p translate>help</p>
<p translate>Don't save</p>
<p translate>Are you sure you want to delete this registration?</p>
<p translate>Creation date</p>
<p translate>Update date</p>
<p translate>New Registration</p>
<p translate>New Configuration</p>
<p translate>New User</p>
<p translate>New Template</p>
<p translate>Back</p>
<p translate>Save</p>
<p translate>History</p>
<p translate>Data collection</p>
<p translate>true</p>
<p translate>True</p>
<p translate>false</p>
<p translate>False</p>

<!-- Submenu -->
<p translate>New Registration</p>

<!-- Error Messages -->
<!--OAUTH-->
<p translate>Please enter login and password</p>
<p translate>Enter a valid e-mail and password</p>
<p translate>Logging in...</p>
<p translate>Wrong credentials</p>
<p translate>Unable to refresh token</p>
<p translate>No refresh token present</p>
<p translate>Unable to retrieve user data</p>

<!--SESSION-->
<p translate>You are not linked to any of the data collections</p>

<!-- Documents -->
<p translate>Save Registration</p>
<p translate>New Registration</p>
<p translate>navigation</p>
<p translate>comments</p>
<p translate>history</p>
<p translate>information</p>
<p translate>Table of Contents</p>
<p translate>Workflow</p>
<p translate>View All Discussions</p>
<p translate>Previous</p>
<p translate>Next</p>
<p translate>Progress</p>
<p translate>Sticky</p>
<p translate>Meta</p>
<p translate>RAW</p>
<p translate>on</p>
<p translate>invalid</p>
<p translate>valid</p>
<p translate>said on</p>
<p translate>The registration was reloaded and is ready to work on</p>
<p translate>The registration was loaded and is ready to work on</p>
<p translate>Data collection is not open for creation.</p>
<p translate>Add new item</p>

<p translate>Street</p>
<p translate>Number</p>
<p translate>Postal Code</p>
<p translate>Place</p>
<p translate>Yes</p>
<p translate>No</p>
<p translate>Add</p>
<p translate>resolve</p>
<p translate>Resolved</p>
<p translate>reopen</p>
<p translate>Reopened</p>

<p translate>catalogue</p>
<p translate>validation</p>
<p translate>mapping</p>
<p translate>workflow</p>
<p translate>database</p>
<p translate>UP</p>
<p translate>DOWN</p>
<p translate>online</p>
<p translate>offline</p>
<p translate>Server status</p>

<p translate>In progress</p>
<p translate>Submitted</p>
<p translate>Sending</p>
<p translate>Review in progress</p>
<p translate>Corrections needed</p>
<p translate>Actions needed</p>
<p translate>Approved</p>
<p translate>Unauthorised</p>
<p translate>Submission failed</p>
<p translate>New</p>
<p translate>New correction</p>
<p translate>Request corrections</p>
<p translate>Save annotations</p>
<p translate>Start correcting</p>
<p translate>Annotations needed</p>
<p translate>Annotations in progress</p>
<p translate>Corrections requested</p>
<p translate>Corrections by DP in progress</p>
<p translate>Approved</p>
<p translate>Deleted</p>
<p translate>Corrections requested failed</p>
<p translate>Version update</p>
<p translate>Overwrite</p>
<p translate>Unauthorized</p>
<p translate>Validation failed</p>
<p translate>Corrections Needed from DP</p>
<p translate>Re-Submit to DWH</p>
<p translate>Administrator</p>
<p translate>Data Provider</p>
<p translate>New Definition</p>
<p translate>Researcher</p>
<p translate>required field</p>
<p translate>Patient ID</p>
<p translate>Patient first name</p>
<p translate>Patient last name</p>
<p translate>Elasticsearch index is currently being rebuilt</p>
<p translate>Could not save the registration</p>
<p translate>Edit password</p>
<p translate>Repeat the new password</p>
<p translate>Use the table of contents to quickly navigate through the registration.</p>
<p translate>Use this tab to get a quick overview of the registration progress and the remaining validation errors and warnings.</p>
<p translate>Use this tab to see the comments that have been added to the registration.</p>
<p translate>Use this tab to see history of all updates on the registration.</p>
<p translate>Item cannot be created since the key already exists in the database.</p>

<p translate>No valid social security identification number (SSIN) was encoded for this Belgian resident. Please use a SSIN number for Belgian residents.</p>
<p translate>No identifier was encoded manually. An automated identifier is generated based on name, first name, date of birth and sex. Please enter a social security identification number (SSIN) if available.</p>
<p translate>This is not a recognised identifier. Please use a social security identification number (SSIN) when available. If not available, please leave this field empty for an automatically generated identifier, based on name, first name, birth date and sex.</p>
<p translate>Please encode a social security identification number (SSIN). Please note that the patient ID is always pseudonymised before being transferred to Healthdata.</p>
<p translate>This field can be used to enter an internal ID or reference number. It is available for internal use only and is not transferred to Healthdata. If there is an integration between HD4DP and your organisation's patient administration system, additional patient identification information such as date of birth, sex and SSIN can be automatically enriched based on this internal patient ID. Please do not encode the social security identification number (SSIN) in this field. The SSIN must be encoded in the field 'National registry ID of the patient'.</p>
<p translate>The name of the patient is never transferred to Healthdata and is available for your information only.</p>
<p translate>The first name of the patient is never transferred and is available for your information only.</p>

<translate>Configuration has been edited</translate>
<translate>Configuration could not be edited</translate>
<translate>Please select a CSV file.</translate>
<translate>Download success</translate>
<translate>CSV download failed</translate>
<translate>Could not be submitted for review</translate>
<translate>Submitted for review</translate>
<translate>There are no registrations that can be submitted.</translate>
<translate>There are errors in some of the selected registrations. Please correct them before submitting.</translate>
<translate>Registrations deleted</translate>
<translate>Could not be deleted</translate>
<translate>There are no registrations that can be deleted.</translate>
<translate>Password changed</translate>
<translate>Please login with your new password</translate>
<translate>The user was successfully edited!</translate>
<translate>Please fill in all fields</translate>
<translate>Repeat of new password is not the same</translate>
<translate>Select a data collection for the user</translate>
<translate>User has been deleted!</translate>
<translate>Users not found</translate>
<translate>The user was successfully created!</translate>
<translate>Access denied</translate>
<translate>No access to data collection</translate>
<translate>File upload not supported. Please update your browser!</translate>
<translate>Unable to read </translate>
<translate>CSV upload failed</translate>
<translate>User account is not enabled</translate>
<translate>Could not retrieve status messages</translate>
<translate>The data collection was successfully created!</translate>
<translate>The data collection was successfully saved!</translate>
<translate>Dates are not in a chronological order</translate>
<translate>It was not possible to update the data collection</translate>
<translate>Data collection has been deleted</translate>
<translate>Your view has been saved</translate>
<translate>Failed to save your view</translate>
<translate>Your view has been updated</translate>
<translate>Failed to update your view</translate>
<translate>Your view has been deleted</translate>
<translate>Failed to delete your view</translate>
<translate>No active datacollection found</translate>
<translate>Translation updated</translate>
<translate>Failed updating translation</translate>
<translate>Select CSV</translate>
<translate>Are you sure you want to request corrections?</translate>
<translate>Resubmitting registration to STG, please wait ...</translate>
<translate>Registration resubmitted to STG</translate>
<translate>Could not be resubmitted to STG</translate>
<translate>Search in all data items of all registrations.</translate>
<translate>Upload CSV-files or download (selected) registrations in CSV-format.</translate>
<translate>Submit or delete the selected registrations.</translate>
<translate>Start a new registration.</translate>
<translate>Use the filters to narrow down the number of registrations shown.</translate>
<translate>Data collection definition content invalid. Please contact the admin.</translate>
<translate>Are you sure you want to add this user?</translate>
<translate>Click the + button to add new columns to the view. Columns can be selected from all data items of the data collection, data quality items or information about the source of data or the timings of the registrations.</translate>
<translate>Page Guide</translate>
<translate>Guide</translate>
<translate>Support</translate>
<translate>Contact</translate>
<translate>Bad credentials</translate>
<translate>No data collections available that you can access</translate>
<translate>Are you sure you want to delete the selected registrations?</translate>
<translate>Only registrations with status "In Progress" can be deleted. Delete eligible registrations?</translate>
<translate>Are you sure you want to submit the selected registrations? After submission, it will no longer be possible to modify the data.</translate>
<translate>No data collections found</translate>
<translate>Could not get data collections</translate>
<translate>Could not get data collection</translate>
<translate>It was not possible to save the data collection</translate>
<translate>Data collection could not be deleted</translate>
<translate>active</translate>
<translate>inactive</translate>
<translate>active, no new submissions</translate>
<translate>active, no new creations</translate>
<translate>It was not possible to publish the data collection</translate>
<translate>It was not possible to republish the data collection</translate>
<translate>It was not possible to save your changes</translate>
<translate>The data collection was successfully published!</translate>
<translate>submitted for review</translate>
<translate>registrations have been submitted</translate>
<translate>Some registrations contain errors.</translate>
<translate>All registrations contain errors.</translate>
<translate>Click the + button to add new columns to the view. Columns can be selected from all data items of the data collection, data quality items or information about the source of data or the timings of the registrations.</translate>
<translate>Loaded in staging</translate>
<translate>Please note that new versions can only be created on published versions.</translate>
<translate>Data collection not available for submit.</translate>
<translate>not valid for submit</translate>
<translate>errors in registration</translate>
<translate>finished</translate>
<translate>not started</translate>
<translate>Provide username and organization for the new user.</translate>
<translate>Create a new user.</translate>
<translate>Search for users by username.</translate>
<translate>Select the date for which you want to see status messages.</translate>
<translate>This list shows the messages of the most recent relevant date or the date that was selected. Click details to see the full status message.</translate>
<translate>Click on any user to consult the user properties. Click on the pencil at the right hand side to edit the user properties, or click on the bin to delete the user.</translate>
<translate>To learn more about the status of a registration, please click the help-icon.</translate>
<translate>Could not be submitted</translate>
<translate>It was not possible to publish the data collection</translate>
<translate>User has no authorization rights</translate>
<translate>Follow-up</translate>
<translate>Follow-up phase</translate>
<translate>Follow-up type</translate>
<translate>Edit follow-up</translate>
<translate>Add follow-up</translate>
<translate>Timing condition must contain a number followed by a timing unit</translate>
<translate>Open</translate>
<translate>Follow-up needed</translate>
<translate>Corrections needed</translate>
<translate>Comments needed</translate>
<translate>Status confirmation</translate>
<translate>Active</translate>
<translate>Planned</translate>
<translate>Submitted</translate>
<translate>Participation started</translate>
<translate>Participation already started</translate>
<translate>Failed starting participation</translate>
<translate>Re-submit</translate>
<translate>Rebuild started</translate>
<translate>Logged in with eID</translate>
<translate>Please select a valid value from the list</translate>

<!-- PARTICIPATIONMODEL TRANSLATIONS -->
<translate>Total number of hemocultures examined among the hospitalised patients during the reporting quarter (if not known, please enter '9999')</translate>
<translate>Algorithm used for >80% of the samples tested for C. difficile</translate>
<translate>Laboratory tests used on stool samples to identify the presence of C. difficile toxinogen, either alone or as a combination of screening tests and confirmatory tests. If none of the options represents exactly the algorithm used, choose the one that approximates it the most. If several different algorithms are used, indicate the algorithm used in at least 80% of patients. The tests used for CDI screening and diagnostic tests have different characteristics in terms of sensitivity, specificity, workload and cost. These tests are always combined to make the diagnosis of CDI. \no\tToxin A / B EIA: Enzyme immunoassay (EIA), including enzyme-linked immunosorbent assays (ELISA). Test for presence of toxins A and B in stool samples and in cultures. \no\tGDH EIA: Enzyme immunoassay (EIA), including enzyme-linked immunosorbent assays (ELISA). Test for Glutamate dehydrogenase (GDH) in stool samples and in cultures. \no\tNAAT: Nucleic acid amplification tests. (PCR). Test for presence of the toxin gene. \no\tAssay of cytotoxicity: Demonstration that the supernatant of the stool sample kills a monolayer of cells in the absence of antibodies neutralizing C. difficile toxin.\no\tToxigenic Culture: Demonstration that a culture of C. difficile is capable of producing toxins in vitro, for example by means of cytotoxicity assay, Toxin A / B EIA or NAAT on colonies. \no\tToxin detection: Detection of toxins on stool samples or cultures, eg toxin A / B EIA or cell toxicity assay.</translate>
<translate>Screening with NAAT, confirmation with toxin A/B EIA</translate>
<translate>Screening with both GDH and toxin A/B EIA, optional confirmation with NAAT or toxigenic culture</translate>
<translate>Screening with GDH EIA, confirmation with toxin A/B EIA, optionally second confirmation with NAAT or toxigenic culture</translate>
<translate>Screening with GDH, confirmation with NAAT</translate>
<translate>Screening with GDH, confirmation with toxigenic culture</translate>
<translate>NAAT alone</translate>
<translate>Screening with toxin detection, confirmation with NAAT or toxigenic culture</translate>
<translate>Toxigenic culture alone</translate>
<translate>EIA for toxins alone</translate>
<translate>Stool cytoyoxicity assay alone</translate>
<translate>Number of stool specimens tested for CDI</translate>
<translate>Number of tests billed to the RIZIV/INAMI for the surveillance period. Code 549861 'Detection of C.difficile toxinogen in stool of hospitalised patients</translate>
<translate>Laboratory tests used on stool samples to identify the presence of C. difficile toxinogen, either alone or as a combination of screening tests and confirmatory tests. If none of the options represents exactly the algorithm used, choose the one that approximates it the most. If several different algorithms are used, indicate the algorithm used in at least 80% of patients. (See protocol.)</translate>

<!-- ERROR MESSAGES -->
<translate>email already exists</translate>
<translate>user already exists</translate>