/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import 'variables';
@import 'document_form';
@import 'toc';
@import 'sticky';
@import 'notes';
@import 'special_fields';
@import 'pdf';
@import 'validation';

.field-help-icon {
  position: absolute;
  left: -39px;
  text-align: center;
  top: -2px;
  padding: 5px 15px;
  display: block;
  &:hover {
    cursor: pointer;
  }
}

.popover {
  max-width: 500px !important;
}

.field-help-icon .fa-info, .input-help .fa-info{
  font-size: 12px;
  color: #aaa;
}

.field-help-text {
  display: block;
  color: #555;
}

.progress-section {
  i {
    color: #666;
    font-size: 14px;
  }
}

.testdoc{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.action-menu {
  margin-top: -2px;
}

.menu-items {
  display: block;

  & > div {
    display: inline;

    // if an element is disabled, don't catch the pointer events so a popover can be shown
    [disabled] {
      pointer-events: none;
    }
  }
}

.doc-container {
  position: fixed;
  top: $mainMenuHeight;
  bottom: 0;
  display: inline-block;
  overflow-y: auto;

  h3{
    font-size: 18px;
    color: $sidesTitleColor;
  }
}

.doc-container-left {
  background: $sidesBackground;
  width: $sidesWidth;
  left: 0;

  .doc-content-with-summary{
    bottom: 200px;
  }

  .doc-summary {
    top: auto !important;
    bottom: 0 !important;
    height: 200px;
    padding-bottom: 5px;
    background: #eaeaea;
    border-top: 1px solid #ddd;
  }
}

.doc-container-middle {
  background: $middleBackground;
  width: $middleWidth;
  left: $sidesWidth;

  .doc-content{
    padding: $sidesPadding 0 $sidesPadding $middlePadding;
    width: $middleWidth;
  }

  .editor-section-level-0 > .section-content > skr-editor-component:first-of-type > .editor-section-level-1 > .level-1 > .doc-title {
    margin-top: -21px !important;

  }

  .editor-section-level-0 > .section-content {
    padding: 20px 0 10px $middlePadding;
  }

  .editor-section-level-2, editor-section-level-3 {
    .section-number{
      border: none;
      font-size: 14px;
      line-height: 28px;
      margin-top: 0px;
    }
  }

  .doc-menu {
    width: $middleWidth;
    padding: $menuPadding $middlePadding;
    background: $middleBackground;
  }
}

.doc-container-right {
  background: $sidesBackground;
  width: $sidesWidth;
  right: 0;
}

.doc-menu-actions {
  float: right;
  margin: 0;
  li {
    display: inline-block;
  }
}

.doc-menu{
  height: $docMenuHeight;
  position: fixed;
  width: $sidesWidth;
  top: $mainMenuHeight;
  z-index: 10;
  background: $sidesBackground;
  vertical-align: middle;
  padding: $menuPadding $sidesPadding;
  clear: both;
  border-bottom: 1px solid #ddd;

  &.introjs-fixParent {
    position: fixed !important;
  }

  a{
    color: #444;
    margin-right: 8px;
    font-size: 14px;

    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s;

    &:hover{
      cursor: pointer;
      text-decoration: none;
    }
    &.active{
      color: #255070;
      font-weight: bold;
    }
  }
}

.btn-new, a.btn-new {
  margin-top: -9px;
  font-size: 15px;
  background: $orange;
  border: 1px solid $orange;
  padding: 2px 8px;
  color: #fff;
  outline: 0;
  opacity: 1;

  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;

  + .btn-new {
    margin-left: 5px;
  }

  &:hover:enabled{
    cursor: pointer;
    text-decoration: none;
    background: lighten($orange, 10%);
    outline: 0;
    border-color: lighten($orange, 10%);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.btn-new-second, a.btn-new-second{
  color: #ccc;
  border: 1px solid #ccc;
  background: transparent;
  &:hover:enabled{
    border: 1px solid #ccc;
    background: #ccc;
    color: #FFF;
  }
}

.doc-content {
  padding: 15px $sidesPadding;
  width: $sidesWidth;
  position: fixed;
  top: $mainMenuHeight + $docMenuHeight;
  bottom: 0;
  overflow-y: auto;

  .doc-content-section {
    font-size: 14px;
    color: $sidesTextColor;

    table {
      width: 100%;
    }

    a {
      color: $blue;
      &:hover {
        cursor: pointer
      }
    }

    td:nth-of-type(2n) {
      color: #000;
      width: 50%;
    }
  }

  .doc-content-section {
    &+ .doc-content-section {
      margin-top: 50px;
    }

    .title-amount {
      margin-left: 10px;
    }
  }

}

.progress-section {
  ul {
    padding-left: 15px;
    list-style: disc;
  }

  li:hover{
    cursor: pointer;
  }
}

// Validation
.interfield-reference {
  font-weight: bold;
  &:hover {
    color: $blue;
  }
}

#doc-content:not(.read_only) input.ng-dirty.ng-invalid, #doc-content select.ng-dirty.ng-invalid{
  border-right: 5px solid rgba(255, 0, 0, 0.4);
}
#doc-content:not(.read_only) input.ng-dirty.ng-valid, #doc-content select.ng-dirty.ng-valid{
  border-right: 5px solid rgba(0, 200, 0, 0.4);
}
#doc-content:not(.read_only) input[type="radio"].ng-dirty.ng-valid, #doc-content:not(.read_only) input[type='radio'].ng-dirty.ng-invalid{
  border-right: none;
}

.document-history {
  .document-history-title {
    color: $main;
    font-weight: bold;
    text-transform: capitalize;
  }

  th {
    color: #aaa;
    font-weight: normal;
  }
  td {
    padding-right: 20px;
  }
}

.dde-doc-body {
  .doc-menu {
    top: $mainMenuHeight + 145px;
  }

  .doc-content {
    top: $mainMenuHeight + $docMenuHeight  + 145px;
  }

  .doc-container {
    top: $mainMenuHeight  + 145px;
  }
}

.doc-full-height {
  .doc-menu {
    top: 0;
  }

  .doc-content {
    top: $docMenuHeight;
  }

  .doc-container {
    top: 0;
  }
}

@import 'responsive';

.doc-content > div > skr-editor-component > skr-editor-component > .editor-section {
  background: #FFF;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  margin-left: -$middlePadding;
}

.editor-section-toggle {
  position: absolute;
  left: -30px;
  top: 0;
}