/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.highlighted {
  background: yellow !important;
}

.required-error {
  color: $red;
}

#doc-form {
  // Titles
  $i: 6;
  @while $i > 0 {
    .level-#{$i} .doc-title {
      font-size: 23px - $i;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #444;
    }
    $i: $i - 1;
  }

  .level-0 > .section-help, .level-1 > .section-help {
    margin-top: 20px;
  }

  .level-0 {
    padding: 20px 20px 20px $middlePadding;

    &.doc-title-open {
      border-bottom: 1px solid #ddd;
    }

    .doc-title {
      margin-top: 0px;
      margin: 0px;
      font-size: $docTitleSize;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: $orange;
      position: relative;
      &:hover {
        cursor: pointer;
        color: lighten($orange, 10%);
      }
    }
  }

  > div > skr-editor-component > skr-editor-component:first-of-type > .level-0 > .doc-title {
    margin-top: 0;
  }

  .level-2 .doc-title {
    font-size: 19px;
    color: #777;
  }

  .level-1 {
    margin-bottom: 20px;

    .doc-title {
      margin-top: 50px;
      margin-left: -$middlePadding;
      color: #aaa;
      background: #fafafa;
      margin-right: 0;
      font-size: 13px;
      padding: 13px $middlePadding;
      border-top: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: bold;
    }
  }

  .doc-title {
    color: lighten($main, 10%);
  }

  .input-group-btn button {
    height: $inputHeight;
  }

  .doc-title .close-section{
    color: white;
    font-weight: normal;
    float: right;
    font-size: 12px;
    padding-top: 2px;
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }

  // Input container
  .form-group {
    margin-bottom: 25px;
    position: relative;
    padding-right: $middlePadding;

    textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      height: 80px;
      margin-top: 10px;
    }
  }

  .form-control {
    height: $inputHeight;
  }

  legend {
    border: none;
    color: $blue;
  }

  .fieldset {
    border-left: 1px solid #eee;
    padding-left: 20px;
  }

  // Labels
  label{
    color: $labelColor;
    width: 100%;
    word-wrap: break-word;
    font-size: $labelSize;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    max-width: 100% !important;
    font-weight: normal;
    margin-bottom: 0;

    &.checkbox, &.radio {
      transition: .2s;
      color: #444;
    }

    input[type="radio"] {
      margin-top: 2px;
      margin-bottom: 0px;
    }

    input[type="checkbox"] {
      margin-top: 1px;
    }

    &.radio-selected {
      font-size: $inputSize;
      color: $inputColor;
      margin-bottom: 5px;

      input[type="radio"] {
        margin-top: 5px;
      }
    }

    //&.radio-not-selected{
    //  color: #bbb;
    //}

    &.checkbox-selected {
      font-size: $inputSize;
      color: $inputColor;

      input[type="checkbox"] {
        margin-top: 5px;
      }
    }

    //&.checkbox-not-selected{
    //  color: #bbb;
    //}

    &.radio {
      margin-top: 3px;
    }
  }

  // Nested fields
  .radio label + skr-editor-component, #doc-content .select {
    .form-group {
      margin-left: (-10px) - 20px;
    }
  }

  select {
    margin-bottom: 10px;
  }

  input[type="text"],input[type="number"],input[type="email"],input[type="password"], input[type="textarea"], input[type="file"],select,textarea{
    display: block;
    padding: 4px 10px;
    color: $inputColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: $inputSize;
    border-color: #E5E5E5;
    box-shadow: none;
  }

  input + .input-group-btn {
    button {
      height: $inputHeight;
    }
  }

  .doc-control {
    background: transparent;
    transition: .2s;
  }
}

small.fa-spinner {
  font-size: 18px;
}

#doc-form.no_comments {
  .comment-button {
    display: none !important;
  }
  .comment-read-only {
    display: block !important;
  }
}