/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.silent-save{
  color: #444;
  display: inline;
  margin-right: 10px;
}

.silent-save-error {
  color: $red;
}

.silent-save-success {
  color: $green;
}

.comment-button {
  position: absolute;
  right: 15px;
  top: 0;
  width: 20px;
  height: 20px;
  &:hover {
    cursor: pointer;
    color: $orange;
  }
  &.fa-comment{
    color: $orange;
    display: block;
  }
}

.comment-read-only{
  display: none;
}

.form-group:hover {
  > skr-editor-input-controls > .comment-button {
    display: block;
  }
}

.note {
  margin-bottom: 5px;
  border: 1px solid #ddd;

  .note-sure {
    font-size: 12px;
  }

  a {
    margin-right: 5px;
    .fa {
      color: #ccc;
      margin-left: 5px;
    }
    &:hover {
      .fa {
        color: $blue;
      }
      .fa-trash-o {
        color: rgba(255, 0, 0, 0.4);
      }
    }
  }

  &.note-resolved {
    opacity: 0.5;
  }

  skr-editor-reply, skr-editor-note {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: block;
    background: #FFF;
    > p:first-of-type {
      padding-right: 45px;
    }
  }

  .note-actions{
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .note-header{
    background: #FFF;
    padding: 5px 60px 5px 30px;
    position: relative;

    > a {
      position: absolute;
      left: 5px;
      top: 7px;
    }

    &:hover {
      background: #fafafa;
      cursor: pointer;

      .fa-angle-down, .fa-angle-right {
        color: $orange;
      }
    }

    .fa, p{
      display: inline-block;
      margin-bottom: 0;
      font-size: 16px;
    }

    p {
      color: #444;
    }

    .fa {
      font-size: 18px;
    }

    .fa-search {
      color: #666;
      font-size: 15px;
    }

    .fa-angle-down, .fa-angle-right {
      position: absolute;
      right: 10px;
      top: 7px;
    }

    .note-reply-amount {
      position: absolute;
      right: 30px;
      top: 7px;

      .fa{
        font-size: 12px;
      }
    }

    .fa-check-circle-o, .fa-times-circle-o {
      position: absolute;
      left: 10px;
      top: 7px;

      &:hover {
        font-weight: bold;
      }
    }

    .fa-check-circle-o {
      color: $green;
    }
    .fa-times-circle-o {
      color: $red;
    }
  }

  .note-reply-action {
    background: white;
    padding: 5px 10px;
    position: relative;
    background: #fafafa;

    input {
      width: 100%;
      display: inline-block;
      &.reply-small {
        width: calc(100% - 85px);
      }
    }

    .fa-reply {
      position: absolute;
      right: 11px;
      padding: 4px;
      top: 8px;

      &:hover{
        color: $blue;
        cursor: pointer;
      }
    }
  }

  .note-resolve-action {
    width: 80px;
    display: inline-block;
    height: 30px;
    border: 1px solid #ddd;
    background: #fff;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    &:hover{
      background: #fafafa;
    }
  }

  .note-date {
    font-size: 12px;
  }

  .note-username, .fa-user, .fa-user-md {
    color: $orange;
  }

  .note-text {
    color: #222;
    white-space: pre-wrap;
  }

  p{
    margin-bottom: 5px;
  }

  .note-body {
    border-top: 1px solid #ddd;
    background: #fff;
    border-bottom: 1px solid #eee;
  }

  textarea {
    width: 100%;
    resize: none;
  }

  .note-reply-wrapper {
    margin: 0;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    word-break: break-word;
    border-top: none;

    > p {
      text-align: center;
      background: white;
      padding: 1px 8px;
    }
  }

  .note-reply {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .note-wrapper {
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    max-height: 0;

    a .fa {
      float: right;
    }

    &.note-wrapper-open {
      max-height: 700px;
    }
  }
}

.note-main {
  background: #fff;
  padding: 10px;
  border: 1px solid #ddd;
}

.note-header.note-header {
  padding-left: 10px !important;
}

skr-editor-note:first-of-type {
  border-top: 1px solid #ddd;
}

.note-new input[type="text"] {
  margin-bottom: 5px;
}

.note .noteField-header {
  padding: 5px 60px 5px 30px !important;
}