$PdfBorderColorField: #eee !important;
$PdfBorderColorTable: #eee !important;
$PdfMainColor : #555 !important;
$PdfSecundaryColor : rgba(#555, 0.7) !important;
$pdfFieldsetColor: #eee;
$pdfColumnNameColor: rgba(238, 238, 238, 0.3) !important;


.pdf{
  background: #FFF;
  box-shadow: 0 0 4px rgba(31,35,40,.24);
  padding: 0 40px;

  .document-title{
    flex-direction: column;
  }

  table{
    border: 1px solid;
    margin-bottom: 20px;
    .pdf-row{
      display:table-row;
    }
  }

  .section-content{
    margin-bottom: 50px;
  }

  //------------------------------
  // HEADERS
  //------------------------------
  .pdf-table-head.pdfTopLevel {
    background: $PdfMainColor;
    color: #fff !important;
    font-size: 18px;
    border: none;
    border-bottom: none;
    display: inline-block;
    width: auto;
    page-break-after:avoid !important;
  }

  // TODO: incremental
  .pdf-table-head{
    width: 100%;
    color: #fff !important;
    background: $PdfSecundaryColor;
    padding: 5px 20px;
    border: none;
    font-weight: bold;
  }

  .pdf-table-head.pdf-lvl-2 {
    background-color: $PdfSecundaryColor !important;
    font-size: 14px;
  }


  //------------------------------
  // FIELDSET
  //------------------------------

  .pdf-fieldset{
    border-left: 5px solid $pdfFieldsetColor;

    .pdf-fieldset-head , .pdf-column{
      padding-left: 15px;
    }

    .pdf-fieldset{
      border-left-color: darken($pdfFieldsetColor, 5%);
      margin: 0;
      .pdf-fieldset{
        border-left-color: darken($pdfFieldsetColor, 10%);
        .pdf-fieldset{
          border-left-color: darken($pdfFieldsetColor, 15%);
        }
      }
    }
  }

  .pdf-fieldset-head{
    width: 100%;
    background: $pdfFieldsetColor !important;
    color: #555 !important;
    padding: 5px 20px;
    border-bottom: none;
    font-weight: bold;
    font-size: 14px;
  }

  //------------------------------
  // TABLE
  //------------------------------

  .pdf-field{
    display:  table;
    width:100%;
    color: #323231 !important;
  }

  //------------------------------
  // TABLE ROW
  //------------------------------

  .pdf-row{
    display:table-row;
    width:auto;
  }

  //------------------------------
  // TABLE COLUMNS
  //------------------------------
  // Basic column
  .pdf-column{
    display:table-cell;
    width:50%;
    white-space: pre-wrap;
    border-bottom: 1px solid $PdfBorderColorField;
    padding: 5px 20px;
    font-size: 14px;
  }

  .pre-wrap-off{
    white-space: normal;
  }

  // Name
  .pdf-column.pdf-column-label {
    width: 40%;
    background: $pdfColumnNameColor;
  }

  // Value
  .pdf-column.pdf-column-value {
    width: 60%;
    ul{
      margin-bottom: 0;
      padding-left: 15px;
    }
  }

  // Nested
  .pdf-column.pdf-table-value-nested {
    width: 1%;
    color: transparent;
  }

  // Type: List
  .pdf-column.pdf-table-list {
    padding: 0;
    white-space: normal;
    border-bottom: none !important;
  }
  .pdf-column.pdf-column-label.listlabel{
    font-weight: bold;
  }

  .pdf-column.pdf-table-list + skr-editor-component{
    .pdf-fieldset-head{
      background: #f8f8f8 !important;
      font-weight: normal;
      font-style: italic;
      border-left: 5px solid $PdfBorderColorField;
    }
    .pdf-column:first-of-type {
      border-left: 5px solid $PdfBorderColorField;
    }
  }
  .pdf-column.listlabelPad{
    border-left: 5px solid $PdfBorderColorField;
    border-right: 1px solid #eee;
  }
}

.pdf-footer{
  display: none !important;
}

@media print {
  .pdf-footer{
    display: none !important;
  }
  #notifications{
    display: none !important;
  }

  .no-print {
    display: none !important;
  }

  #container{
    padding-top: 0;
  }

  skr-tab-bar, skr-main-menu-bar, skr-sub-menu-bar, #notifications, .main-action-bar {
    display: none;
  }

  .main-content{
    position: static;
    overflow-y: auto;
  }
}