/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.doc-responsive {
  display: none;
}

@media (max-width: 1040px) {
  .doc-responsive {
    display: block;
  }

  .doc-menu a {
    .fa {
      font-size: 20px;
      margin-right: 10px;
      color: #888;
    }

    &:last-of-type {
      .fa {
        margin-right: 0;
      }
    }
    &.active {
      .fa {
        color: $darkblue;
      }
    }
  }

  .toc li.toc.toc-1 {
    padding-left: 0;
  }

  .doc-content {
    padding: 15px 10px;
  }

  .doc-not-responsive {
    display: none;
  }

  .doc-container-middle {
    width: $middleResponsiveWidth;
    left: $sidesResponsiveWidth;

    .doc-content{
      width: $middleResponsiveWidth;
    }

    .doc-menu {
      width: $middleResponsiveWidth;
    }
  }

  .doc-container-left {
    width: $sidesResponsiveWidth;

    .doc-content{
      width: $sidesResponsiveWidth;
    }

    .doc-menu, .doc-responsive {
      width: $sidesResponsiveWidth;
    }
  }

  .doc-container-right {
    display: none;
  }
}

.doc-mobile-menu, .doc-mobile-content {
  display: none;
}

@media (max-width: 720px) {

  .doc-mobile-menu{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $sidesBackground;
    height: 50px;
    padding-left: 20px;
    border-top: 1px solid;

    a{
      border: 1px solid #aaa;
      padding: 1px 10px;
      margin-left: 11px;
      margin-top: 13px;
      display: inline-block;
      &:hover, &:focus, &:active, &.active {
        background: $darkblue;
        color: white;
        border: 1px solid $darkblue;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .doc-mobile-content {
    .fa.fa-times{
      position: absolute;
      right: 20px;
      font-size: 24px;
    }

    display: block;
    width: 100%;
    background: darken($sidesBackground, 2%);
    padding: 10px 20px;
    bottom: 50px;
  }

  body {
    min-width: 450px;
  }

  .doc-container-left {
    display: none;
  }

  .doc-container-middle {
    width: 100%;
    left: 0;

    .doc-content{
      width: 100%;
    }

    .doc-menu {
      width: 100%;
    }
  }
}