/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// NESTED FIELDS

.radio label + skr-editor-component{
  .form-group{
    margin-left: (-$themeControlPadding) - 20px !important;
  }
}

div label + skr-editor-component, .select, #doc-content .select{
  .form-group{
    border-left: 1px solid #eee;
    padding-left: 20px;
    margin-left: 5px;
    margin-bottom: 0px !important;
    padding-top: 1px;
    padding-bottom: 15px;
  }
  .doc-control{
    margin-left: 0;
    border-left:none ;
  }
}
div label + skr-editor-component skr-editor-component:first-of-type .doc-control{
  margin-top: 5px;
}


//LIST FIELD

.addListItem{
  .fieldset{
    border: 1px dashed !important;
  }

  legend{
    border: none !important;
    border-bottom: 1px dashed #ccc !important;
  }
}

.addList{
  > div > label {
    display: block;
  }
  div div:first-of-type .btn-list-del{
    margin-top: 12px;
  }
  > .comment-button{
    display: none;
  }
}

.list-item-wrapper{
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
}

a.btn-list-add, button.btn-list-add{
  display: inline-block;
  outline: 0;
  color: $blue;
  font-size: 14px;
  padding: 0;
  background: none;
  border: none;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: $blue;
  }
}

.list-del {
  float: left;
  margin-top: 5px;
  position: absolute;
}

.btn-list-del{
  background: transparent;
  outline: 0;
  color: #ccc;
  z-index: 1;
  float: left;
  &:hover {
    cursor: pointer;
    color: rgba(255, 0, 0, 0.4);
  }
}

.list-item-wrapper .list-item-wrapper .btn-list-del {
  left: -26px;
}

.contained-component {
  margin-left: 30px;
  margin-top: 5px;
  padding-left: 10px;
  border-left: 2px solid #ccc;
}

//INFO FIELD
.section-folder, .doc-title, .section-help{
  margin-right: $middlePadding;
}

.section-help {
  font-size: 12px;
  margin-bottom: 15px;
  color: #aaaaaa;
  border: 1px solid #E5E5E5;
  padding: 13px 25px 13px 40px;
  background: #fff;
  position: relative;
  white-space: pre-wrap;
  .fa.fa-info {
    position: absolute;
    left: 25px;
    top: calc(50% - 7px);
  }
}

.attachment-input {
  width: 100%;
}