/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//Sticky
.sticky-context{
  display: none;
  p{
    margin-bottom: 0;
  }
}

#sticky-wrapper {
  .sticky-context{
    display: block;
  }
  .form-group {
    display: none;
    color: #000;
  }
}

#sticky-wrapper{
  .doc-title, .comment-button, .fa.fa-circle, .doc-ssin, legend, .fa-info {
    display: none;
  }
  .section-folder{
    display: none;
  }
  .section-content {
    display: block !important;
  }

}