/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.toc {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica Neue, Helvetica, Arial;
  list-style: none;

  .tocItemGroup {
    margin-bottom: 30px;
  }

  li a:hover {
    text-decoration: none;
    cursor: pointer;
  }

  li.toc.toc-0 {
    margin-top: 15px;
    font-size: 16px;
    margin-bottom: 10px;
    a {
      color: $blue;
    }
  }

  li.toc.toc-1 {
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;

    a {
      color: #777;
    }
  }

  li.toc.toc-2 a {
    font-size: 13px;
    padding-left: 20px;
    color: #aaa;
  }


  li.toc {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.toc-registration-title {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 21px !important;
  width: 100%;
}

