.validation-icon {
  position: absolute;
  right: 22px;
  top: 30px;
  display: block;
  color: #aaa;
  width: 13px;
  text-align: center;
  &.fa-exclamation {
    color: $valOrange;
  }
  &.fa-times {
    color: $red;
  }
  &.fa-check {
    color: $green;
  }
}

#doc-form {
  .field-with-warnings .doc-control {
    > .ng-invalid-skr-validation, > .ng-invalid-date,
    > input[type="text"], > input[type="date"], > input[type="number"], > textarea,
    > .input-group > .input-group-btn .btn,
    > .input-group > input[type="text"] {
      border: 1px solid $valOrange;
      color: $valOrange;
    }

    > div > .radio-selected {
      color: $valOrange;
    }

    > label {
      color: $valOrange;
    }
  }

  .field-with-errors .doc-control {
    > .ng-invalid-skr-validation, > .ng-invalid-date,
    > input[type="text"], > input[type="date"], > input[type="number"], > textarea,
    > .input-group > .input-group-btn .btn,
    > .input-group > input[type="text"] {
      border: 1px solid $red;
      color: $red;
    }

    > div > .radio-selected {
      color: $red;
    }

    > label {
      color: $red;
    }
  }
}

.number-message {
  font-size: 12px;
  display: none;
}

input[type="number"].ng-invalid-number {
  border: 1px solid $red !important;
  color: $red !important;

  &+.number-message {
    display: block;
  }
}

.field-linked-message, .field-errors {
  font-size: 12px;
  display: block;
  .interfield-reference:hover{
    cursor: pointer;
    color: $blue;
  }
}