/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$themeControlWidth: 80px;
$themeControlPadding: 25px;

$docTitleSize: 24px;
$docSubTitleSize: 22px;

$blue: #47A7E6;
$orange: #ed7925;
$darkblue: #255070;

$labelColor: $darkblue;
$labelSize: 14px;

$inputHeight: 38px;
$inputSize: 16px;
$inputColor: #000;

$middlePadding: 50px;
$sidesPadding: 30px;
$menuPadding: 15px;

$sidesWidth: 25%;
$middleWidth: 100% - (2*$sidesWidth);

$sidesResponsiveWidth: 30%;
$middleResponsiveWidth: 100% - $sidesResponsiveWidth;

$sidesBackground: #EEEFF1;
$middleBackground: #F3F3F3;

$mainMenuHeight: 45px;
$docMenuHeight: 50px;

$sidesTextColor: #777;
$sidesTitleColor: #444;