/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.dropdown{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  p.dropdown-toggle{
    display: inline-block;
    margin: 0;
    b{
      padding-left: 5px;
      padding-right: 1px;
    }
    &:hover{
      cursor: pointer;
    }
  }

  .dropdown-menu{
    border-radius: 0;
    padding: 0;
    li.read_grey {
      a{
        color:#ccc !important;
        &:hover{
          background-color: #FFF;
          cursor: default;
        }
      }
    }
    li a{
      padding: 5px 20px;
      border-top: 1px solid #eee;
    }
    li + .dropdown-header{
      border-top: 1px solid #eee;
    }
    a:hover{
      cursor: pointer;
    }
    .dropdown-checkbox label, .dropdown-datepicker label, .dropdown-text label, label.dropdown-checkbox{
      display: block;
      padding: 5px 20px;
      font-weight: normal;
      font-size: 14px;
      color: #333333;
      white-space: nowrap;
      border-top: 1px solid #eee;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dropdown-datepicker, .dropdown-text{
      label{
        padding: 5px 20px 2px 20px;
      }
    }

    .dropdown-checkbox label, label.dropdown-checkbox{
      &:hover{
        background: #f5f5f5;
        cursor: pointer;
      }
      input[type="checkbox"]{
        vertical-align: middle;
        margin-right: 3px;
        margin-top: -2px;
        height: auto;
        width: auto;
      }
    }
    .dropdown-datepicker, .dropdown-text{
    padding-bottom: 10px;
      .datepicker-template{
        margin-left: 20px;
      }
    }
    .dropdown-text{
      input[type="text"]{
        margin-left: 20px;
        width: calc(100% - 40px);
      }
    }
  }
  &.dropdown-md{
    .dropdown-menu{
      min-width: 250px !important;
    }
  }
}

.dropdown .dropdown-menu{
  .dropdown-submenu{
    position: relative;
    &::after{
      content: " ";
      float: right;
      position: absolute;
      right: 10px;
      width: 0;
      height: 0;
      top: 0;
      border-color: transparent transparent transparent #ccc;
      border-style: solid;
      border-width: 4px 0 4px 4px;
      margin-top: 7px;
    }
    &:hover{
      &::after{
        border-color: transparent transparent transparent $main;
      }
      > .dropdown-menu{
        display: block;
      }
    }
  }
  .dropdown-submenu .dropdown-menu {
    position: absolute;
    top: -2px;
    left: 100%;
    &:hover {
      display: block;
    }
  }
}

.dropdown-header{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal !important;
}