.loadingBar {
  color: $white;
  text-shadow: 2px 2px 1px #888888;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 16;
  transition: ease all 0.5s;
  cursor: pointer;
  height: 30px;
  padding: 5px;
}
#ngProgress-container {
  z-index: 15 !important;
}
#ngProgress {
  bottom: 0;
  left: 0;
  position: fixed;
  transition: all ease 0.5s !important;
}
.close-loadingBar {
  float: right;
  padding-right: 10px;
  cursor: pointer !important;
}