/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.list-table + .list-pagination {
  margin-top: -1px;
}

.list-pagination{
  width: 100%;
  height: 25px;
  background: #F7F7F7;
  color: #6D6D6D;
  border: 1px solid #DFE2E5;

  .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
    background-color: transparent;
    border: none;
    color: $main;
    outline: none;
  }
  > p, > select, > .listview-pagination-select{
    display: inline-block;
    margin: 0;
    float: right;
    font-size: 12px;
  }
  > p {
    padding: 3px 7px;
    border-right: 1px solid #EAEAEA;
    span{
      font-size: 10px;
      color: #aaa;
    }
  }

  .listview-pagination-select {
    padding: 3px;
    width: 55px;
    select{
      background-color: transparent;
      border: none;
      box-shadow: none;
      width: 55px;
      padding: 0;
    }
  }

  .pagination{
    height: 100%;
    margin: 0;
    display: inline-block;
    .active > a{
      color: $main;
    }
    ul{
      height: 100%;
    }
    >li{
      display: inline-block;
      height: 100%;
      border-right: 1px solid #EAEAEA;
    }
    > li > a, .pagination > li > span{
      background: none;
      height: 100%;
      font-size: 10px;
      border: none;
      float: none;
    }
  }


  > .disabled > span, .disabled > span:hover, > .disabled > span:focus, > .disabled > a, > .disabled > a:hover, > .disabled > a:focus,
  > .active > a, .active > a:hover, .active > a:focus, .active > span, .active > span:hover, .active > span:focus{
    background-color: transparent;
    border: none;
    color: $main;
  }
}