/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

//TODO(arno): needs cleanup... there's a ticket logged for this on Q2
$sidebarWidth: 250px;
//$selectedColor: lighten($main, 30);
$selectedColor: #fff;

.fullHeight {
  height: 100%;
}

.sidebar {
  border-right: 1px solid #e0e0e0;
  display: inline-block;
  float: left;
  max-width: 250px;
  min-width: 40px;
  height: 100%;
  opacity: 1;
  transition: 1s ease all;

  .collection-label {
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    &.is-selected {
      background-color: $selectedColor;
    }
  }

  .search-field {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    border-right: 1px solid #e0e0e0;

    input {
      width: 100%;
      padding: 4px;
      font-size: 16px;
    }
  }

  .items {
    height: 90%;
    padding-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

.sidebar-collection {
  color: black;
  cursor: pointer;

  &:hover {
    background-color: $selectedColor;
  }

  &.is-selected {
    border-left: solid 5px $main;
    padding-top: 0px;
    padding-bottom: 0px;

    &:hover {
      background-color: inherit;
    }
  }
}

.submenu {
  animation: fadeIn 0.5s;
  transition: ease-in all 0.0s;
  max-height: 0px;
  overflow: hidden;
  font-size: smaller;

  width: 100%;

  p {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;

    & > span {
      margin-right: 10px;
    }
  }
  &.is-selected {
    animation: fadeIn 0.5s;
    transition: ease all 2s;
    max-height: none;
  }
  .version {
    &:hover {
      background-color: $selectedColor;
    }

    &.is-selected {
      background-color: $selectedColor;
    }
  }
}

.child-collection {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 10px;

  &:hover {
    background-color: $selectedColor;
  }

  &.is-selected {
    background-color: $selectedColor;
  }
}

.toggleSidebar {
  .toggleButton {
    float: right;
    font-size: 18px;
    padding: 10px;
    color: black;
    cursor: pointer;
    opacity: 1;
    transition: ease all 1s;

  }

  .toggleButton.ng-leave {
    transition: ease all 1s;
    opacity: 0;
    color: red;
  }
  .toggleButton.ng-enter {
    transition: ease all 1s;
    color: blue;
  }
}

.status {
  color: orange;

  &.active {
    color: green;
  }
  &.finished {
    color: red;
  }
}