/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.status-display{
  > .fa.fa-refresh {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 15px;
    line-height: 17px;
  }

  &:hover{
    cursor: pointer;
  }

  .status-dropdown {
    display: inline-block;

    > p .fa.fa-circle {
      font-size: 7px;
      padding: 0 5px;
      height: 19px;
      line-height: 18px;
      vertical-align: middle;
    }
  }

  p {
    display: inline-block;
  }

  ul {
    text-align: left;
    min-width: 150px;

    li {
      padding: 3px 20px;
      color: #444;

      .fa.fa-circle{
        margin-right: 10px;
      }
    }

    .fa.fa-circle {
      font-size: 7px;
    }
  }

  .fa.fa-circle.status-circle-online, &.online .fa-circle, &.online .status-display-status{
    color: $green;
  }
  .fa.fa-circle.status-circle-offline, &.offline .fa-circle, &.offline .status-display-status, .status-dropdown-error{
    color: $red;
  }
  .fa.fa-circle.status-circle-busy, &.busy .fa-circle, &.busy .status-display-status{
    color: $valOrange;
  }

  .status-refresh {
    text-align: right;
    font-size: 11px;
    color: #ccc;
    &:hover{
      color: #444;
    }
  }
}

