/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.tab-item {
  display: inline-block;
  background: white;
  padding: 6px 11px;
  border: 1px solid #ddd;
  border-left: none;
  border-collapse: collapse;
  color: #ccc;

  &:first-of-type {
    border-left: 1px solid #ddd;
  }
  &.tab-selected {
    border-bottom: 1px solid white;
    color: $main;
  }
  &:hover {
    color: $main;
    cursor: pointer;
  }
}

.tab-content {
  background: white;
  border: 1px solid #ddd;
  padding: 20px;
  color: #666;
  font-size: 14px;
  margin-top: -1px;
  position: relative;

  .tab-content-col{
    display: inline-block;
    vertical-align: top;
    padding: 20px;

    > b {
      margin-bottom: 15px;
      display: block;
      color: $main;
    }
  }

  .tab-content-col-row {
    margin-bottom: 20px;

    b {
      margin-bottom: 10px;
      display: block;
      font-size: 12px;
    }
  }

  .tab-content-col-1{
    width: 250px;
  }

  ul{
    list-style: none;
    padding: 0;

    li:hover{
      cursor: pointer;
      color: $main;
    }

    li.version-selected, li.organization-selected {
      color: $main;
    }

    li {
      margin-bottom: 2px;
    }

    li div {
      display: inline-block;
      &:nth-of-type(2n) {
        float: right;
      }
    }
  }

  .tab-table {
    display: table;

    .tab-table-row {
      display: table-row;

      > .tab-table-cell:nth-of-type(2n){
        padding-left: 20px;
      }
    }

    .tab-table-cell {
      display: table-cell;
      min-width: 125px;
      padding: 1px 0;
    }

    .tab-table-cell:nth-of-type(2n) {
      min-width: 95px;
    }

    .tab-table-cell:nth-of-type(3n) {
      min-width: 30px;
    }
  }

}
