/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.list-table{
  width: 100%;
  border-collapse: separate;
  > thead > tr > th{
    font-size: 14px;
    padding: 7px 25px 7px 10px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: lighten($main, 30%) !important;
    border-top: 1px solid #DFE2E5 !important;
    background-color: lighten($main, 10%);
    color: white;
    font-weight: bold;
    position: relative;
    &:first-of-type{
      border-left: 1px solid #eee;
    }
    &:hover{
      cursor: pointer;
    }
    .fa.fa-times{
      position: absolute;
      top: 5px;
      font-size: 9px;
      right: 5px;
      font-weight: normal;
    }
    > table-sort i.fa-sort, div > table-sort i.fa-sort, > table-sort i.fa-sort-asc, div > table-sort i.fa-sort-asc, > table-sort i.fa-sort-desc, div > table-sort i.fa-sort-desc {
      position: absolute;
      right: 15px;
      top: calc(50% - 7px);
      opacity: 0.5;
      font-size: 12px;
    }
    &.activeColumn{
      background-color: $main;
      > table-sort i.fa-sort, div > table-sort i.fa-sort, > table-sort i.fa-sort-asc, div > table-sort i.fa-sort-asc, > table-sort i.fa-sort-desc, div > table-sort i.fa-sort-desc {
        opacity: 0.9;
      }
    }
    &:first-of-type{
      border-left-color: #DFE2E5 !important;
    }
    &:last-of-type{
      border-right-color: #DFE2E5 !important;
    }
  }
  > tbody {
    > tr{
      background-color: $white;
      &:hover{
        cursor: pointer;
      }
      > td {
        text-align: left;
        border-bottom: 1px solid;
        border-right: 1px solid;
        border-color: #eee;
        padding: 7px 10px;
        font-size: 14px;
        color: #191a1e;
        &:first-of-type{
          border-left: 1px solid #eee;
        }
        &.td-valid{
          color: $green;
        }

        &.td-invalid{
          color: $red;
        }
      }
      > td:first-of-type{
        border-left: 1px solid #DFE2E5;
      }
      > td:last-of-type{
        border-right: 1px solid #DFE2E5;
      }
    }
    > tr:hover td{
      background-color: #FAFAFA;
      cursor: pointer;
    }
  }
  > tfoot{
    display: none;
  }
  .list-table-loading {
    td{
      padding: 10px 30px !important;
      text-align: center !important;
    }
    img{
      height: 40px;
    }
  }
}

.status-table .list-table{
  thead > tr > th:last-of-type {
    width: auto;
  }
}

.list-table-toolbar-input{
  height: auto;
  font-size: 12px;
  float: right;
  margin-right: 5px;

  label {
    background: #FCFCFC;
    border: 1px solid #DFE2E5;
    color: #6D6D6D;
    padding: 4px 11px;
    height: 100%;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    width: auto;

  }
  input{
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
  }
}