<div class="form-group" ng-if="::!isSticky" ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
    <skr-editor-input-controls>
        <label>
            <span>{{ ::(component.label | translate) }}</span>
            <skr-editor-help-button></skr-editor-help-button>
            <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
        </label>

        <div class="input-group" ng-if="attachmentInfo.hasAttachment && !readOnly">
            <input type="text" readonly="readOnly" ng-model="attachmentInfo.info.filename"
                   class="form-control" />
            <span ng-show="!isLoading" class="input-group-btn">
                <button class="btn btn-default fa fa-download" ng-click="downloadAttachment()"/>
                <button class="btn btn-default fa fa-trash-o" ng-click="deleteAttachment()"/>
            </span>
            <span ng-show="isLoading" class="input-group-btn">
                <button class="btn btn-default">
                    <small class="fa fa-spinner fa-spin fa-3x fa-fw"></small>
                </button>
            </span>
        </div>


        <div ng-show="readOnly" class="enabled">
            <button class="btn btn-default" ng-click="downloadAttachment()">
                Download {{ attachmentInfo.info.filename }}   <span class="fa fa-download"></span>
            </button>
        </div>

        <div ng-if="!attachmentInfo.hasAttachment" class="input-group attachment-input">
            <input type="file" class="form-control" onchange="angular.element(this).scope().fileChanged(this)" />
            <span ng-show="isLoading" class="input-group-btn">
                <button class="btn btn-default">
                    <small class="fa fa-spinner fa-spin fa-3x fa-fw"></small>
                </button>
            </span>
        </div>
        <p ng-if="!readOnly" class="small" translate>Do note: changes to attachments will only be saved when the registration is saved.</p>
        <p ng-if="attachmentInfo.error.error">{{ attachmentInfo.error.error_description | translate }}</p>
    </skr-editor-input-controls>
</div>