<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
      <label>
        <span>{{ ::(patientIDLabel | translate) }}</span>
        <skr-editor-help-button></skr-editor-help-button>
        <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
      </label>
        <input type="text"
               autocomplete="false"
               class="form-control"
               ng-readonly="::readOnly"
               ng-model="manipulator.value"
               ng-class="::{sticky: sticky}"
               ui-mask="{{ data.mask }}"
               size="{{ ::size }}"
               skr-validation="manipulator"
               ng-change="patientIDChanged()">
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>

        <p ng-if="::(!isPseudonymised)" class="doc-ssin">
            <span ng-if="isSSIN()">{{ 'A valid SSIN has been encoded.' | translate }}<br/></span>
            <span ng-if="enricher.requestBySSINPending()">{{ 'Loading patient identification data.' | translate }}</span>
            <span ng-if="enricher.requestBySSINFailed()">{{ 'The other patient identification data could not be automatically enriched.' | translate }}</span>
            <span ng-if="enricher.requestBySSINSuccess()">{{ 'The other patient identification data has been loaded.' | translate }}
              <a href="" ng-click="enricher.reapplyResult()">{{ 'Refresh.' | translate }}</a>
            </span>
            <span ng-if="stableDataApplied"><br/>{{ 'The historical stable data has been loaded.' | translate }}</span>
        </p>

        <p ng-if="showCodepatConfirmation()" class="doc-ssin">
          <label><input type="checkbox" ng-model="data.allowCodepat" ng-change="allowCodepatChanged()">{{ 'I confirm that there is no SSIN (national registry ID) known for this patient and that no SSIN-bis can be requested' | translate }}</label>
        </p>
  </skr-editor-input-controls>
</div>

<skr-editor-component ng-repeat="pair in pairs"
                      component="pair.component"
                      manipulator="pair.manipulator">
</skr-editor-component>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value }}</td>
    </tr>
  </table>
</div>