<td class="form-group">
    <label>
        <span bind-html-compile="component.label | translate"></span> <span class="required-label" ng-if="manipulator.isRequired">*</span> <skr-editor-help-button></skr-editor-help-button>
    </label>
</td>
<td ng-repeat="validAnswer in validAnswers" class="answers">
    <input type="radio" ng-model="manipulator.value" ng-value="validAnswer.name" translate> <span translate></span>
</td>
