<!-- http://stackoverflow.com/questions/25103334/angular-directive-doesnt-work-properly-inside-an-html-table -->
<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>

    <span ng-if="!hasFixedOrder">
      <select ng-model="selectedOrder"
                class="form-control"
                ng-options="order as order.name for order in predefinedOrders"
                ng-change="updateQuestionsOrder(selectedOrder)">
          <option value="" translate ng-if="allowRandomOrder">Random</option>
        </select>
    </span>

    <table class="questionnaire">
      <thead>
        <tr>
          <td></td>
          <td ng-repeat="validAnswer in validAnswers">
            {{ validAnswer.label | translate }}
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="pair in pairs"
            skr-editor-component
            component="pair.component"
            manipulator="pair.manipulator"
            ng-if="pair.manipulator.isActive()">
        </tr>
      </tbody>
    </table>
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
  </skr-editor-input-controls>
</div>