<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>
    <input
          type="textarea"
          autocomplete="false"
          ng-trim="false"
          class="form-control"
          ng-readonly="::readOnly"
          ng-model="referenceListQuery"
          skr-validation="manipulator"
          typeahead-min-length="typeaheadMinLength"
          uib-typeahead="match as renderMatch(match) for match in autocompleteFor($viewValue)"
          typeahead-loading="isLoading"
          typeahead-on-select="selectMatch(referenceListQuery)"
          size="{{ ::size }}">
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
    <small ng-show="refListState.isFiltered">{{ ::('(filtered)' | translate) }}</small>
    <small ng-show="isLoading">{{ ::( 'Loading ...' | translate) }}</small>
    <small ng-show="manipulator.failMatch">
      <span>{{ 'Could not resolve reference list value:' | translate }} </span>{{ manipulator.failMatch }}
    </small>
    <!-- Quick hack for WDC-1022 to show patient ID related warning -->
    <p ng-if="manipulator.parent.assertions.belgianResident === 'failed'" ng-class="::{sticky: sticky}" class="doc-ssin">
      {{ manipulator.parent.description.messageFor('belgianResident') | translate }}
    </p>

    <ol ng-if="refTree" class="doc-ol">
      <li ng-repeat="parent in refTree.currentNode.parents"
          ng-if="!parent.isTreeRoot"
          ng-click="setCurrentNode(parent.parent)">
        {{ parent.label | translate }} <span>{{ 'remove' | translate }}</span>
      </li>
      <li ng-click="setCurrentNode(refTree.currentNode.parent)"
          ng-if="!refTree.currentNode.isTreeRoot">
        {{ refTree.currentNode.label | translate }} <span>{{ 'remove' | translate }}</span>
      </li>
    <ol>
    <label ng-if="!refTree.currentNode.isLeaf">
    {{ 'Choose' | translate }} {{ 'level' | translate }}-{{ refTree.currentNode.parents.length + 1 }}:
    <select ng-model="refTreeState.selection"
            ng-options="child as child.label for child in refTree.currentNode.filteredChildren"
            ng-change="setCurrentNode(refTreeState.selection)"
            class="form-control">
    </select>
    </label>
      </ol>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value }}</td>
    </tr>
  </table>
</div>

