<div class="form-group" ng-if="::!isSticky">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
    </label>

    <!-- we need to specify the path of the image like this, such that file revving works -->
    <img ng-if="component.description.imageSrc === 'iqedfoot.png'"
         src="images/iqedfoot.png"
         width="{{ component.description.imageWidth }}">
    <img ng-if="component.description.imageSrc === 'prolapse.png'"
         src="images/prolapse.png"
         width="{{ component.description.imageWidth }}">
  </skr-editor-input-controls>
</div>
