<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
      <div>
          <label class="radio" ng-class="{ 'radio-selected': manipulator.value === true, 'radio-read-only': readOnly }">
              <input ng-disabled="::readOnly" type="radio" ng-model="manipulator.value" ng-value="true"> {{ ::('Yes' | translate) }}
          </label>
      </div>
      <div>
          <label class="radio"  ng-class="{ 'radio-selected': manipulator.value === false && manipulator.value != undefined, 'radio-read-only': readOnly }">
              <input ng-disabled="::readOnly" type="radio" ng-model="manipulator.value" ng-value="false"> {{ ::('No' | translate) }}
          </label>
      </div>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value | translate }}</td>
    </tr>
  </table>
</div>