<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>
  <span ng-include="'views/editor/repeatables/fieldErrors.html'" ng-if="component.options.length <= 5"></span>
  <span ng-include="'views/editor/repeatables/linkedMessages.html'" ng-if="component.options.length <= 5"></span>
    <div ng-repeat="option in component.options" ng-if="display === 'radio' || component.options.length <= 5 && !display">
      <label class="radio" ng-class="{ 'radio-selected': manipulator.selectedOption === option.name, 'radio-read-only': readOnly }">
        <input type="radio"
               ng-disabled="::readOnly"
               ng-model="manipulator.selectedOption"
               ng-value="::option.name">
        {{ option.label | translate }}
        <span class="fa-stack pop-help input-help"
              ng-show="::option.help"
              popover-append-to-body= "true"
              popover-trigger="'mouseenter'"
              uib-popover="{{ ::(option.help | translate) }}"
              popover-placement="right">
          <i class="fa fa-info fa-stack-1x"></i>
        </span>
      </label>
      <skr-editor-component component="option.nestedComponent"
                            manipulator="manipulator"
                            ng-show="manipulator.selectedOption === option.name">
      </skr-editor-component>
    </div>

    <div class="select" ng-if="display === 'dropdown' || component.options.length > 5 && !display">
        <select ng-model="manipulator.selectedOption"
                class="form-control"
                ng-disabled="::readOnly"
                ng-options="option.name as option.label | translate for option in component.options"
                ng-change="onChangeSelectedOrder()">
        </select>
      <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
      <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
        <skr-editor-component ng-repeat="option in component.options"
                              component="option.nestedComponent"
                              manipulator="manipulator"
                              ng-show="manipulator.selectedOption === option.name">
        </skr-editor-component>
    </div>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.selectedOption | translate }}</td>
    </tr>
  </table>
</div>
