<!--for date-mask to parse the date correctly: ng-show must be applied, instead of ng-if -->
<div class="form-group" ng-show="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
  <label>
    <span>{{ ::(component.label | translate) }}</span>
    <skr-editor-help-button></skr-editor-help-button>
    <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    <!-- the ui-mask and datepicker do not play nice together -->
    <!-- verify the directive date-mask when changing things! -->
  </label>
  <span ng-if="::computedWith" ng-include="'views/editor/repeatables/isComputed.html'"></span>

  <div class="input-group">
    <input type="text"
           ui-mask="99/99/9999"
           date-mask
           ng-model="manipulator.value"
           skr-validation="manipulator"
           uib-datepicker-popup="dd/MM/yyyy"
           datepicker-options="datepicker.options"
           is-open="datepicker.isOpen"
           placeholder="{{ 'dd/mm/yyyy' | translate }}"
           ng-readonly="readOnly || computedWith"
           class="form-control">
    <span class="input-group-btn"
          ng-if="!readOnly">
         <button type="button"
                 class="btn btn-default"
                 ng-disabled="::readOnly"
                 ng-click="datepicker.open($event)">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
      </span>
  </div>
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value | date:"dd/MM/yyyy" }}</td>
    </tr>
  </table>
</div>