<div class="editor-section editor-section-level-{{ component.depth }}">
  <div class="level-{{ ::component.depth }} {{ ::component.name }}"  ng-class="{ 'doc-title-open': component.isOpen }" id="{{ ::component.name }}">
    <p class="doc-title noselect"
       ng-click="toggleOpen()">
      <span>{{ ::(component.sectionNumber | sectionNumber) }} - {{ ::(component.title | translate) }}</span>
      <span class="editor-section-toggle" ng-if="!component.isOpen && component.isTopLevel"><i class="fa fa-angle-right"></i></span>
      <span class="editor-section-toggle" ng-if="component.isOpen && component.isTopLevel"><i class="fa fa-angle-down"></i></span>
    </p>
    <p ng-if="(!component.isTopLevel || component.isOpen) && component.help" class="section-help"><i class="fa fa-info"></i> <span ng-bind-html="component.help | translate | trustAsHtml"></span></p>
  </div>
  <!--TODO: make ng-if for better performance -> make sure component is available for validation and comments WDC-2609-->
  <div ng-show="isSticky || !component.isTopLevel || component.isOpen"
       ng-include="'views/editor/skrEditorGroup.html'" class="section-content"></div>
</div>

