<div class="fieldset" ng-if="fieldsetIsShown">
  <legend>
    {{ ::(component.label | translate) }} <skr-editor-help-button></skr-editor-help-button>
  </legend>
  <skr-editor-component ng-repeat="pair in pairs"
                        component="pair.component"
                        manipulator="pair.manipulator">
  </skr-editor-component>
</div>
