<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ component.label | translate }}</span>
      <span ng-if="manipulator.elementManipulators.length > 0"> ({{manipulator.elementManipulators.length}} {{ ::('items' | translate) }})</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>

    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>

    <div class="list-item-wrapper" ng-repeat="elementManipulator in manipulator.elementManipulators">
      <div class="list-del">
        <button ng-click="elementManipulator.deleteElement()" class="btn-list-del">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>

      <div class="contained-component">
        <skr-editor-component component="listElementComponent"
                              manipulator="elementManipulator"
                              class="addListItem">
        </skr-editor-component>
      </div>
    </div>
  </skr-editor-input-controls>

  <a class="btn-list-add" ng-click="manipulator.addElement()" ng-if="::!manipulator.readOnly">{{ ::('Add new item' | translate) }}</a>
</div>