<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
    <div ng-repeat="option in component.options" class="choice-option">
      <label class="checkbox"  ng-class="{ 'checkbox-selected': manipulator.optionManipulators[option.name].isSelected, 'checkbox-read-only': readOnly }">
        <input type="checkbox"
               ng-disabled="::readOnly"
               ng-model="manipulator.optionManipulators[option.name].isSelected">
        {{ ::(option.label | translate) }}
        <span class="fa-stack pop-help input-help"
              ng-show="::option.help"
              popover-append-to-body= "true"
              popover-trigger="'mouseenter'"
              uib-popover="{{ ::(option.help | translate) }}"
              popover-placement="right">
          <i class="fa fa-info fa-stack-1x"></i>
        </span>
      </label>
      <skr-editor-component component="option.nestedComponent"
                            manipulator="manipulator"
                            ng-show="manipulator.optionManipulators[option.name].isSelected">
      </skr-editor-component>
    </div>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td><span ng-if="manipulator.optionManipulators[option.name].isSelected" ng-repeat="option in component.options">{{ ::(option.label | translate) }}</span> </td>
    </tr>
  </table>
</div>
