<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
    <label>
      <span>{{ ::(component.label | translate) }}</span>
      <skr-editor-help-button></skr-editor-help-button>
      <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
    </label>
      <textarea ng-model="manipulator.value"
                skr-validation="manipulator"
                ng-readonly="::readOnly || computedWith"
                class="form-control">
      </textarea>
    <span ng-if=":: computedWith" ng-include="'views/editor/repeatables/isComputed.html'"></span>
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value }}</td>
    </tr>
  </table>
</div>