<div class="form-group" ng-if="::!isSticky"
     ng-class="{ 'field-with-warnings': fieldHasWarnings(), 'field-with-errors': fieldHasErrors() }">
  <skr-editor-input-controls>
  <label>
    <span>{{ ::(component.label | translate) }}</span>
    <skr-editor-help-button></skr-editor-help-button>
    <span ng-include="'views/editor/repeatables/validationIcons.html'"></span>
  </label>
  <span ng-if=":: computedWith" ng-include="'views/editor/repeatables/isComputed.html'"></span>
    <input ng-readonly="readOnly || computedWith"
           type="text"
           ng-model="manipulator.value"
           class="form-control"
           skr-validation="manipulator"
           autocomplete="false"
           ng-change="textFieldChanged()"
           size="{{ ::size }}">
    <span ng-include="'views/editor/repeatables/fieldErrors.html'"></span>
    <span ng-include="'views/editor/repeatables/linkedMessages.html'"></span>

    <!-- special support when this field is the internal patient id field WDC-1887 -->
    <!-- using a <p> tag here makes the ng-if not work, because nested p tags are not allowed -->
      <span ng-if="::(manipulator.isInternalPatientID && platform == 'hd4dp')" class="doc-ssin" ng-class="::{sticky: sticky}">
          <span ng-if="enricher.requestByInternalPending()" translate>Loading patient identification data.</span>
          <span ng-if="enricher.requestByInternalFailed()" translate>The other patient identification data could not be automatically enriched.</span>
          <span ng-if="enricher.requestByInternalSuccess()"><span translate>The other patient identification data has been loaded.</span>
            <a ng-click="enricher.reapplyResult()" translate>Reapply.</a>
          </span>
      </span>
  </skr-editor-input-controls>
</div>

<div class="sticky-context" ng-if="::isSticky">
  <table>
    <tr>
      <td>{{ ::(component.label | translate) }}:</td>
      <td>{{ manipulator.value }}</td>
    </tr>
  </table>
</div>