<div>
    <div class="heading">
        <div ng-click="hide('roundDetails')" class="hideToggle">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('roundDetails') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('roundDetails') > -1
                }"></i>
            </span>

            <label translate>Data collection round details</label>
        </div>

        <div class="heading-actions">
            <a ng-href="#/dde/{{selectedVersion.id}}">
                <button class="btn-new" translate>
                    Edit in DDE
                </button>
            </a>
        </div>
    </div>

    <div ng-if="hiddenSections.indexOf('roundDetails') === -1">
        <div class="roundDetails">
            <p>{{ 'Status' | translate }}: {{ selectedVersion.status | translate }}</p>
            <p>{{ 'Start date' | translate }}: {{ (selectedVersion.startDate | date: 'dd/MM/yyyy') || 'n/a' }}</p>
            <p>{{'End creation date' | translate }}: {{ (selectedVersion.endDateCreation | date: 'dd/MM/yyyy') || 'n/a' }}</p>
            <p>{{ 'End submission date' | translate }}: {{ (selectedVersion.endDateSubmission | date: 'dd/MM/yyyy') || 'n/a' }}</p>
            <p>{{'End comment date' | translate }}: {{ (selectedVersion.endDateComments | date: 'dd/MM/yyyy') || 'n/a' }}</p>
        </div>

        <div class="sub-collections" ng-if="selectedVersion.dataCollectionDefinitions.length > 1">
            <p translate>Sub collections:</p>
            <ul ng-repeat="version in selectedVersion.dataCollectionDefinitions | orderBy: 'dataCollectionName'">
                <li>
                    {{ version.dataCollectionName | translate }}
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="dataprovider-section">
    <div class="heading">
        <div ng-click="hide('dataProviders')" class="hideToggle">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('dataProviders') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('dataProviders') > -1
                }"></i>
            </span>

            <label translate>Data providers</label>
        </div>


        <div ng-if="selectedVersion.relevantDataProviders.length > 0" class="color-codes">
            <div>
                <input id="participating" type="checkbox" ng-model="activeFilters.participating" />
                <label for="participating"><span class="participating" translate>participating</span></label>
            </div>
            <div>
                <input id="nonParticipating" type="checkbox" ng-model="activeFilters.nonParticipating" />
                <label for="nonParticipating"><span class="nonParticipating" translate>not-participating</span></label>
            </div>
            <div>
                <input id="finalised" type="checkbox" ng-model="activeFilters.finalised" />
                <label for="finalised" class="finalised" translate>finalised</label>
            </div>
        </div>

        <div class="heading-actions">
            <span class="small" ng-if="selectedDataProviders.length > 0"
                  ng-click="clearArray(selectedDataProviders)" translate>
                Clear selection
            </span>

            <div class="search input-group">
                <input type="text" placeholder="{{ 'Search organizations' | translate }}" class="form-control" ng-model="searchOrganization"/>
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div ng-if="hiddenSections.indexOf('dataProviders') === -1" class="dataproviders" ng-if="!isLoadingDataProviders">
        <div class="dataprovider {{ dataProvider.status }}"
             ng-class="{'selected': isDataProviderSelected(dataProvider)}"
             ng-click="selectDataProvider(dataProvider)"
             ng-repeat="dataProvider in filteredProviders = (selectedVersion.relevantDataProviders | organizationsKeyword: searchOrganization | participationStatus: activeFilters) track by $index">
            {{ dataProvider.label | translate }} ({{ dataProvider.value }})
        </div>

        <p ng-if="filteredProviders.length === 0" translate>
            Nothing to show here, try changing the filters below.
        </p>
    </div>

    <p ng-if="isLoadingDataProviders">
        <i class="fa fa-spinner fa-spin"></i>
    </p>

    <p ng-if="!isLoadingDataProviders && selectedVersion.relevantDataProviders.length === 0" translate>
        No organizations found.
    </p>
</div>

<div>
    <div class="heading">
        <div class="hideToggle" ng-click="hide('dataCollectionUsers')">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('dataCollectionUsers') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('dataCollectionUsers') > -1
                }"></i>
            </span>

            <label ng-if="selectedDataProviders.length === 1">{{ selectedDataProviders[0].label | translate }} {{ 'users' | translate }}</label>
            <label ng-if="selectedDataProviders.length !== 1" translate>Data provider users</label>
        </div>

        <div class="heading-actions" ng-if="dataCollectionUsers.length > 0">
            <span class="small"
                  ng-if="selectedUsers.length > 0"
                  ng-click="clearArray(selectedUsers)" translate>
                Clear selection
            </span>
            <button class="btn-new"
                    ng-click="notifyUsers()"
                    ng-if="selectedUsers.length === 0" translate>
                Notify all
            </button>
            <button class="btn-new"
                    ng-click="notifyUsers()"
                    ng-if="!(selectedUsers.length === 0)" translate>
                Notify users
            </button>
            <div class="search input-group">
                <input type="text" placeholder="{{ 'Search user' | translate }}" class="form-control" ng-model="$parent.searchUser"/>
                <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            </div>
        </div>
    </div>
    <div ng-if="hiddenSections.indexOf('dataCollectionUsers') === -1" class="data-collection-users" ng-if="!isLoadingUsers">
        <i class="fa fa-spinner fa-spin" ng-if="isLoadingUsers"></i>

        <p class="user"
           ng-class="{'selected': isUserSelected(user)}"
           ng-repeat="user in filteredUsers = (dataCollectionUsers | orderBy: ['firstName', 'lastName'] | userKeyword: $parent.searchUser | dataProviderFilter: selectedDataProviders)"
           ng-click="selectUser(user)"
           title="{{ user.email }}">
            <span>{{ user.firstName }} {{ user.lastName }}</span>
            <span ng-if="!user.firstName && !user.lastName && user.username">{{ user.username }}</span>
            <span ng-if="!user.firstName && !user.lastName && !user.username">No credentials</span>
        </p>
        <p ng-if="!isLoadingUsers && (!filteredUsers.length || !dataCollectionUsers || dataCollectionUsers.length === 0)" translate>No users found.</p>
    </div>
</div>

<div>
    <div class="heading">
        <div class="hideToggle" ng-click="hide('participationInfo')">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('participationInfo') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('participationInfo') > -1
                }"></i>
            </span>

            <label translate>Additional participation info</label>
        </div>

    </div>

    <div ng-if="hiddenSections.indexOf('participationInfo') === -1">
        <div ng-if="selectedDataProviders.length === 1">
            <p>{{ 'Started on' | translate }}: {{ (selectedDataProviders[0].startedOn | date:'dd/MM/yyyy') || 'n/a' | translate }}</p>
            <p>{{ 'Completed on' | translate }}: {{ (selectedDataProviders[0].completedOn |date:'dd/MM/yyyy') || 'n/a' | translate }}</p>

            <div class="participation-document read_only"
                 ng-if="selectedDataProviders[0].participationDocument">
                <skr-editor-component
                        ng-if="selectedDataProviders[0].participationDocument"
                        skr-editor-options="{}"
                        component="selectedDataProviders[0].participationDocument.component"
                        manipulator="selectedDataProviders[0].participationDocument.manipulator">
                </skr-editor-component>
            </div>
        </div>

        <div ng-if="selectedDataProviders.length === 0">
            <p translate>
                Select a dataprovider to show additional participation info.
            </p>
        </div>

        <div ng-if="selectedDataProviders.length > 1">
            <p>
                <span translate>Unselect</span> {{ selectedDataProviders.length -1 }}
                <span ng-if="selectedDataProviders.length === 2"> <span translate>data provider</span> </span>
                <span ng-if="selectedDataProviders.length > 2"> <span translate>dataproviders</span> </span><span translate>to see the additional participation info.</span>
            </p>
        </div>
    </div>
</div>
