<div>
    <div class="heading">
        <div ng-click="hide('activeDataCollectionRounds')" class="hideToggle">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('activeDataCollectionRounds') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('activeDataCollectionRounds') > -1
                }"></i>
            </span>

            <label translate>Active data collection rounds</label>
        </div>
    </div>

    <div ng-if="hiddenSections.indexOf('activeDataCollectionRounds') === -1" class="active-rounds">
        <div ng-repeat="version in selectedGroup.versions | orderBy: ['-version.major', 'version.minor'] | activeCollections">
            <p class="version {{ version.status }}"
               ng-click="selectVersion(version)">
                v{{ version.majorVersion }} {{ version.period.start | date: 'dd/MM/yyyy' }}
                <span ng-if="version.period.end">- {{ version.period.end | date: 'dd/MM/yyyy' }}</span>
            </p>
        </div>
        <p ng-if="selectedGroup.versions.length === 0" translate>
            No active data collection rounds.
        </p>
    </div>
</div>

<div>
    <div class="heading">
        <div ng-click="hide('collectionDataProviders')" class="hideToggle">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('collectionDataProviders') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('collectionDataProviders') > -1
                }"></i>
            </span>

            <label translate>Data providers</label>
        </div>


        <div class="heading-actions">
            <span class="small"
                  ng-if="selectedDataProviders.length > 0"
                  ng-click="clearArray(selectedDataProviders)" translate>
                Clear selection
            </span>

            <div class="search input-group">
                <input type="text" placeholder="{{ 'Search organizations' | translate }}" class="form-control" ng-model="searchOrganization"/>
                <span class="input-group-addon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        </div>
    </div>

    <div ng-if="hiddenSections.indexOf('collectionDataProviders') === -1">
        <div ng-if="isLoadingDataProviders">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div class="dataproviders">
            <div class="dataprovider"
                 ng-class="{'selected': isDataProviderSelected(dataProvider)}"
                 ng-click="selectDataProvider(dataProvider)"
                 ng-repeat="dataProvider in dataProviders | limitTo: dataProvidersLimit | organizationsKeyword: searchOrganization"
                 uib-popover="{{ dataProvider.value }}"
                 popover-trigger="'mouseenter'"
                 popover-append-to-body="true"
                 popover-placement="top">
                <span>{{ dataProvider.name | translate }}</span>
            </div>
        </div>

        <div class="show-more" ng-click="increaseDataProvidersLimit()" ng-if="dataProvidersLimit < dataProviders.length" translate>
            Show more...
        </div>
    </div>
</div>

<div>
    <div class="heading">
        <div ng-click="hide('collectionUsers')" class="hideToggle">
            <span>
                <i ng-class="{
                'fa fa-caret-down': hiddenSections.indexOf('collectionUsers') === -1,
                'fa fa-caret-right': hiddenSections.indexOf('collectionUsers') > -1
                }"></i>
            </span>

            <label translate>Data collection users</label>
        </div>


        <div class="heading-actions">
            <span class="small"
                  ng-if="selectedUsers.length > 0"
                  ng-click="clearArray(selectedUsers)" translate>
                Clear selection
            </span>
            <button class="btn-new"
                    ng-click="notifyUsers()"
                    ng-if="selectedUsers.length === 0" translate>
                Notify all
            </button>
            <button class="btn-new"
                    ng-click="notifyUsers()"
                    ng-if="!(selectedUsers.length === 0)" translate>
                Notify users
            </button>
            <div class="search input-group">
                <input type="text" placeholder="{{ 'Search user' | translate }}" class="form-control" ng-model="searchUser"/>
                <span class="input-group-addon">
                <i class="fa fa-search"></i>
            </span>
            </div>
        </div>
    </div>
    <div ng-if="hiddenSections.indexOf('collectionUsers') === -1" class="data-collection-users">
        <i class="fa fa-spinner fa-spin" ng-if="isLoadingUsers"></i>

        <p class="user"
           ng-class="{'selected': isUserSelected(user)}"
           ng-repeat="user in filteredUsers = ( dataCollectionUsers | orderBy: ['firstName', 'lastName'] | userKeyword: searchUser | dataProviderFilter: selectedDataProviders)"
           ng-click="selectUser(user)"
           title="{{ user.email }}">
            <span>{{ user.firstName }} {{ user.lastName }}</span>
            <span ng-if="!user.firstName && !user.lastName">{{ user.username }}</span>
            <span ng-if="!user.firstName && !user.lastName && !user.username">No credentials</span>
        </p>

        <p ng-if="!isLoadingUsers && (!filteredUsers.length || filteredUsers.length === 0)" translate>
            Nothing to show here, try changing the filters above.
        </p>
    </div>
</div>
