<div class="user-view">
  <div class="row">
    <div class="main-bar">
      <a class="back" href="#/user/list">
        <i class="fa fa-arrow-left"></i>
      </a>

      <h1 class="main-title" translate>Edit User</h1>
    </div>

    <form name="user_form" class="user-form white-form">

      <div class="row user-info">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Account</p>
        </div>
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide username.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Username</label>
            <input type="text" autocomplete="false" ng-model="userEdit.username" ng-disabled="ldap" required>
          </div>
        </div>
      </div><br />

      <div class="row" ng-if="!ldap">
        <div class="col-md-12">
          <div class="form-block" ng-if="!editPassword" data-intro="{{ 'Click if you want to edit the user password.' | translate }}"
               data-position="top">
            <label translate>Password</label>
            <button class="btn btn-primary" ng-click="togglePassword()"><a href="" translate>Reset password</a></button>
          </div>
          <div class="form-block"
               ng-if="editPassword"
               data-intro="{{ 'Provide password.' | translate }}"
               data-position="top">
            <label class="req-label password-cancel" translate>New password</label>
            <span ng-click="togglePassword()" translate>cancel</span>
            <input required type="password" autocomplete="off" ng-model="userEdit.password">
          </div>
          <div class="form-block"
               ng-if="editPassword"
               data-intro="{{ 'Repeat the new password.' | translate }}"
               data-position="top">
            <label class="req-label" translate>New password repeat</label>
            <input required type="password" autocomplete="off" ng-model="userEdit.passwordRepeat">
          </div>
          <small ng-if="editPassword" translate>Please be aware that this password will be sent to healthdata before it is sent to the user. The user will be asked to change the password upon his/her first login.</small>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Profile</p>
        </div>

        <div class="col-md-12">
          <div class="form-block"  data-intro="{{ 'Provide first name.' | translate }}"
               data-position="top">
            <label class="req-label" translate>First name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.firstName">
          </div>
          <div class="form-block" data-intro="{{ 'Provide last name.' | translate }}"
               data-position="top">
            <label class="req-label" translate>Last name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.lastName">
          </div>
        </div>
      </div><br />

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Organization the user will be part of.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Organization</label>
            <input required type="text" autocomplete="off" ng-model="userEdit.organization.name" disabled>
          </div>
          <div class="form-block" data-intro="{{ 'Provide email.' | translate }}"
               data-position="top">
            <label class="req-label" translate>Email</label>
            <input required type="email" autocomplete="off" ng-model="userEdit.email">
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Settings</p>
          <div class="form-block" data-intro="{{ 'Define the rights of the user.' | translate }}" data-position="left">
            <label translate class="req-label">Rights</label>
            <div>
              <label ng-repeat="auth in authorities" class="radio noselect">
                <input name="auths"
                       ng-checked="userEdit.authorities[0].authority === auth.name"
                       ng-model="userEdit.authorities"
                       disabled
                       ng-value="{{ [{ authority: auth.name }] }}"
                       type="radio" required>
                {{ auth.label |  translate }}
              </label>
            </div>
          </div>
          <div class="form-block" data-intro="{{ 'Define whether the user is active or not.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Enabled</label>
            <label class="radio noselect"><input name="enable" ng-model="userEdit.enabled" ng-value="true" type="radio"
                                                 required>{{ 'Enable' | translate }}</label>
            <label class="radio noselect"><input name="enable" ng-model="userEdit.enabled" ng-value="false" type="radio"
                                                 required>{{ 'Disable' | translate }}</label>
          </div>
          <div class="form-block">
            <div ng-if="userEdit.authorities[0].authority == 'ROLE_USER'"
                 data-intro="{{ 'Define whether the user has access to a data collection or not.' | translate }}"
                 data-position="bottom">
              <label translate>Data collections</label>

              <div
                ng-if="dataCollections.length > 5"
                isteven-multi-select
                input-model="dataCollections"
                output-model="$parent.$parent.userDataCollections"
                button-label="name"
                item-label="name"
                translation="multiLang"
                tick-property="ticked">
              </div>

              <div class="user-roles" ng-if="dataCollections.length <= 5">
                <label class="checkbox noselect" ng-repeat="dataCollection in dataCollections">
                  <input type="checkbox" ng-model="userDataCollections[dataCollection.name]"
                         ng-true-value="'{{ dataCollection.name }}'">{{
                  dataCollection.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
          <a class="btn btn-secundary" ng-click="remove(false)" translate>Remove</a>
        </div>
      </div>
    </form>
  </div>
</div>