
<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title" translate>Users</h1>
</div>

<div class="list-table-toolbar">
  <a class="btn btn-secundary" href="#/user/new"
     data-intro="{{ 'Create a new user.' | translate }}"
     data-position="bottom" translate>New user</a>
  <a class="btn btn-secundary" ng-click="notifyUsers()" translate>
    Notify users
  </a>
  <input type="text" ng-keydown="reload()" ng-model="inputFilter.username" placeholder="{{ 'Search' | translate }}"
         data-intro="{{ 'Search for users by username.' | translate }}"
         data-position="bottom">
</div>

<table class="list-table" data-intro="{{ 'Click on any user to consult the user properties. Click on the pencil at the right hand side to edit the user properties, or click on the bin to delete the user.' | translate }}"
       data-position="top">
  <thead>
  <tr class="noselect">
    <th ng-click="sortByColumn('username')" ng-class="{activeColumn: columnSort.sortColumn == 'username'}">
      <span translate>Username</span> <table-sort column="columnSort" sort-by="'username'"></table-sort>
    </th>
    <th ng-click="sortByColumn('email')" ng-class="{activeColumn: columnSort.sortColumn == 'email'}">
      <span translate>Email</span> <table-sort column="columnSort" sort-by="'email'"></table-sort>
    </th>
    <th ng-click="sortByColumn('authority')" ng-class="{activeColumn: columnSort.sortColumn == 'authority'}">
      <span translate>Rights</span> <table-sort column="columnSort" sort-by="'authority'"></table-sort>
    </th>
    <th ng-click="sortByColumn('enabled')" ng-class="{activeColumn: columnSort.sortColumn == 'enabled'}">
      <span translate>Enabled</span> <table-sort column="columnSort" sort-by="'enabled'"></table-sort>
    </th>
    <th width="60"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="loading-table" ng-if="loading">
    <td colspan="99">
      <div>
        <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
        <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
      </div>
    </td>
  </tr>
  <tr ng-if="users.length == 0 && !loading"><td colspan="4" translate>No users found</td></tr>
  <tr ng-if="!loading" ng-repeat="user in usersList = (users | filter:(inputFilter)) | orderBy:columnSort.sortColumn:columnSort.reverse">
    <td ng-click="redirectUser(user.id)">{{ user.username | translate }}</td>
    <td ng-click="redirectUser(user.id)">{{ user.email | translate }}</td>
    <td ng-click="redirectUser(user.id)">{{ user.authority | translate }}</td>
    <td ng-click="redirectUser(user.id)">{{ user.enabled | translate }}</td>
    <td width="60" class="user-list-actions">
      <a href="#/user/{{user.id}}/edit"><span class="glyphicon glyphicon-pencil"></span></a>
      <a ng-click="remove(false, user.id)"><span class="glyphicon glyphicon-trash"></span></a>
    </td>
  </tr>
  </tbody>
</table>
