<div class="user-view">
  <div class="row">
    <div class="main-bar">
      <a class="back" href="" ng-click="back()">
        <i class="fa fa-arrow-left"></i>
      </a>

      <h1 class="main-title" translate>New User</h1>
    </div>

    <form name="user_form" class="user-form white-form">

      <div class="row user-info">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Account</p>
        </div>
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide username.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Username</label>
            <input type="text" ng-disabled="isPrefilled" autocomplete="false" ng-model="userEdit.username" required>
          </div>
        </div>
      </div><br />

      <div class="row" ng-if="!isPrefilled">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide password.' | translate }}"
               data-position="top">
            <label class="req-label password-cancel" translate>New password</label>
            <input required type="password" autocomplete="off" ng-model="userEdit.password">
          </div>
          <div class="form-block" data-intro="{{ 'Repeat the new password.' | translate }}"
               data-position="top">
            <label class="req-label" translate>New password repeat</label>
            <input required type="password" autocomplete="off" ng-model="userEdit.passwordRepeat">
          </div>
          <small translate>Please be aware that this password will be sent to healthdata before it is sent to the user. The user will be asked to change the password upon his/her first login.</small>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Profile</p>
        </div>

        <div class="col-md-12">
          <div class="form-block"  data-intro="{{ 'Provide first name.' | translate }}"
                data-position="top">
            <label translate class="req-label">First name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.firstName">
          </div>
          <div class="form-block" data-intro="{{ 'Provide last name.' | translate }}"
               data-position="top">
            <label translate class="req-label">Last name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.lastName">
          </div>
        </div>

      </div><br />

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Organization the user will be part of.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Organization</label>
            <input required type="text" autocomplete="off" ng-model="userEdit.organization.name" disabled>
          </div>
          <div class="form-block" data-intro="{{ 'Provide email.' | translate }}"
               data-position="top">
            <label class="req-label" translate>Email</label>
            <input required type="email" autocomplete="off" ng-model="userEdit.email">
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Settings</p>
          <div class="form-block" data-intro="{{ 'Define the rights of the user.' | translate }}" data-position="left">
            <label translate class="req-label">Rights</label>
            <div>
              <label ng-repeat="auth in authorities" class="radio noselect">
                <input name="auths"
                       ng-model="userEdit.authorities"
                       ng-value="{{ [{ authority: auth.name }] }}"
                       type="radio" required>{{ auth.label | translate }}</label>
            </div>
          </div>
          <div class="form-block" data-intro="{{ 'Define whether the user is active or not.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Enabled</label>
            <label class="radio noselect"><input name="enable" ng-model="userEdit.enabled" value="true" type="radio"
                                                 required>{{ 'Enable' | translate }}</label>
            <label class="radio noselect"><input name="enable" ng-model="userEdit.enabled" value="false" type="radio"
                                                 required>{{ 'Disable' | translate }}</label>
          </div>
          <div class="form-block">
            <div ng-if="userEdit.authorities[0].authority == 'ROLE_USER'"
                 data-intro="{{ 'Define whether the user has access to a data collection or not.' | translate }}"
                 data-position="bottom">
              <label class="req-label" translate>Data collections</label>

              <p ng-if="!userEdit.organization" translate>Please select an organization</p>

              <div
                ng-if="dataCollections.length > 5 && userEdit.organization"
                isteven-multi-select
                input-model="dataCollections"
                output-model="$parent.$parent.userDataCollections"
                button-label="name"
                item-label="name"
                helper-elements="all none filter"
                translation="multiLang"
                tick-property="ticked">
              </div>

              <div class="user-roles" ng-if="dataCollections.length <= 5 && userEdit.organization">
                <label class="checkbox noselect" ng-repeat="dataCollection in dataCollections">
                  <input type="checkbox" ng-model="userDataCollections[dataCollection.name]"
                         ng-true-value="'{{ dataCollection.name }}'">{{
                  dataCollection.name }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div><br/>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
          <a class="btn btn-primary" href="" ng-click="back()" translate>Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

