
<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title" translate>User requests</h1>
</div>

<div class="list-table-toolbar">
  <input type="text" ng-keydown="reload()" ng-model="inputFilter.username" placeholder="{{ 'Search' | translate }}"
         data-intro="{{ 'Search for users by username.' | translate }}"
         data-position="bottom">
</div>

<table class="list-table" data-intro="{{ 'Click on any user to consult the user properties. Click on the pencil at the right hand side to edit the user properties, or click on the bin to delete the user.' | translate }}"
       data-position="top">
  <thead>
  <tr class="noselect">
    <th ng-click="sortByColumn('username')" ng-class="{activeColumn: columnSort.sortColumn == 'username'}">
      <span translate>Username</span> <table-sort column="columnSort" sort-by="'username'"></table-sort>
    </th>
    <th ng-click="sortByColumn('email')" ng-class="{activeColumn: columnSort.sortColumn == 'email'}">
      <span translate>Email</span> <table-sort column="columnSort" sort-by="'email'"></table-sort>
    </th>
    <th ng-click="sortByColumn('firstName')" ng-class="{activeColumn: columnSort.sortColumn == 'firstName'}">
      <span translate>First name</span> <table-sort column="columnSort" sort-by="'firstName'"></table-sort>
    </th>
    <th ng-click="sortByColumn('lastName')" ng-class="{activeColumn: columnSort.sortColumn == 'lastName'}">
      <span translate>Last name</span> <table-sort column="columnSort" sort-by="'lastName'"></table-sort>
    </th>
    <th ng-click="sortByColumn('emailRequester')" ng-class="{activeColumn: columnSort.sortColumn == 'emailRequester'}">
      <span translate>Requester email</span> <table-sort column="columnSort" sort-by="'emailRequester'"></table-sort>
    </th>
    <th width="60"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="loading-table" ng-if="loading">
    <td colspan="99">
      <div>
        <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
        <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
      </div>
    </td>
  </tr>
  <tr ng-if="requests.length == 0 && !loading"><td colspan="99" translate>No user requests found</td></tr>
  <tr ng-if="!loading" ng-repeat="request in requestsList = (requests | filter:(inputFilter)) | orderBy:columnSort.sortColumn:columnSort.reverse">
    <td ng-click="redirectRequest(request.id)">{{ request.username | translate }}</td>
    <td ng-click="redirectRequest(request.id)">{{ request.email | translate }}</td>
    <td ng-click="redirectRequest(request.id)">{{ request.firstName | translate }}</td>
    <td ng-click="redirectRequest(request.id)">{{ request.lastName | translate }}</td>
    <td ng-click="redirectRequest(request.id)">{{ request.emailRequester | translate }}</td>
    <td width="60" class="user-list-actions">
      <a ng-click="accept(false, request.id)"><span class="fa fa-check"></span></a>
      <a ng-click="reject(false, request.id)"><span class="fa fa-times"></span></a>
    </td>
  </tr>
  </tbody>
</table>
