<div class="user-view">
  <div class="row">
    <div class="main-bar">
      <a class="back" href="#/user/requests">
        <i class="fa fa-arrow-left"></i>
      </a>

      <h1 class="main-title" translate>Edit user request</h1>
    </div>

    <form name="user_form" class="user-form white-form">

      <div class="row user-info">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Account</p>
        </div>
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide username.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Username</label>
            <input type="text" autocomplete="false" ng-model="userEdit.username" required>
          </div>
        </div>
      </div>
      <br/>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Profile</p>
        </div>

        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide first name.' | translate }}"
               data-position="top">
            <label translate class="req-label">First name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.firstName">
          </div>
          <div class="form-block" data-intro="{{ 'Provide last name.' | translate }}"
               data-position="top">
            <label translate class="req-label">Last name</label>
            <input type="text" autocomplete="off" required ng-model="userEdit.lastName">
          </div>
        </div>

      </div>
      <br/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Organization the user will be part of.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Organization</label>
            <input required type="text" autocomplete="off" ng-model="organization.name" disabled>
          </div>
          <div class="form-block" data-intro="{{ 'Provide email.' | translate }}"
               data-position="top">
            <label class="req-label" translate>Email</label>
            <input required type="email" autocomplete="off" ng-model="userEdit.email">
          </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-block">
            <label class="req-label" translate>Data collections</label>
            <div ng-if="dataCollections.length > 5"
                 isteven-multi-select
                 input-model="dataCollections"
                 output-model="$parent.userDataCollections"
                 button-label="name"
                 item-label="name"
                 translation="multiLang"
                 tick-property="ticked">
            </div>

            <div class="user-roles" ng-if="dataCollections.length <= 5">
              <label class="checkbox noselect" ng-repeat="dataCollection in dataCollections">
                <input type="checkbox" ng-model="userDataCollections[dataCollection.name]">{{
                dataCollection.name }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Optional</p>
          <div class="form-block" data-intro="{{ '(optional) Provide requester email.' | translate }}"
               data-position="top">
            <label translate>Email requester</label>
            <input type="email" autocomplete="off" ng-model="userEdit.emailRequester">
          </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
          <a class="btn btn-secundary" ng-click="approve()" translate>Approve</a>
          <a class="btn btn-secundary" ng-click="reject()" translate>Reject</a>
        </div>
      </div>
    </form>
  </div>
</div>

