<div class="row user-view user-view-request">
  <div id="request-form">
    <div id="login-info" class="lx-msg" translate>Request user account</div>
    <form name="request_form" class="user-form white-form">

      <div class="row user-info">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Account</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide username.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Username</label>
            <input type="text" autocomplete="false" ng-model="user.username" required>
          </div>
        </div>
      </div>
      <br/>

      <hr>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Profile</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Provide first name.' | translate }}"
               data-position="top">
            <label translate class="req-label">First name</label>
            <input type="text" autocomplete="off" required ng-model="user.firstName">
          </div>
          <div class="form-block" data-intro="{{ 'Provide last name.' | translate }}"
               data-position="top">
            <label translate class="req-label">Last name</label>
            <input type="text" autocomplete="off" required ng-model="user.lastName">
          </div>
        </div>

      </div>
      <br/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ 'Organization the user will be part of.' | translate }}"
               data-position="bottom">
            <label translate class="req-label">Organization</label>
            <select required
                    autocomplete="off"
                    ng-if="organizations.length > 1"
                    ng-model="user.organization"
                    ng-options="o.name for o in organizations"
                    ng-change="getDefinitions()">
            </select>
            <input ng-if="organizations.length <= 1" disabled required type="text" autocomplete="off" ng-model="organizations[0].name">
          </div>
          <div class="form-block" data-intro="{{ 'Provide email.' | translate }}"
               data-position="top">
            <label class="req-label" translate>Email</label>
            <input required type="email" autocomplete="off" ng-model="user.email">
          </div>
        </div>
      </div> <br />

      <div class="row">
        <div class="col-md-12">
          <div class="form-block">
            <label class="req-label" translate>Data collections</label>

            <p ng-if="!user.organization && !searching" translate>Please select an organization</p>
            <p ng-if="searching" translate>Searching...</p>
            <p ng-if="!searching && user.organization && dataCollections.length == 0" translate>No data collections for this organization</p>

            <div ng-if="dataCollections.length > 5 && user.organization && !searching"
                 isteven-multi-select
                 input-model="dataCollections"
                 output-model="$parent.$parent.multiCollections"
                 button-label="name"
                 item-label="name"
                 helper-elements="all none filter"
                 translation="multiLang"
                 tick-property="ticked">
            </div>
          </div>

          <div class="user-roles" ng-if="dataCollections.length <= 5 && user.organization">
            <label class="checkbox noselect" ng-repeat="dataCollection in dataCollections">
              <input type="checkbox" ng-model="userDataCollections[dataCollection.name]">
                {{ dataCollection.name }}
            </label>
          </div>
        </div>
      </div>

      <hr/>

      <div class="row">
        <div class="col-md-12">
          <p class="fieldset-title" translate>Optional</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-block" data-intro="{{ '(optional) Provide requester email.' | translate }}"
               data-position="top">
            <label>{{ 'Requester email' | translate }} <span class="fa-stack pop-help" popover-append-to-body= "true"
                                                    popover-trigger="'mouseenter'"
                                                    uib-popover="{{ 'Stay updated on the progress of the user request' | translate }}"
                                                    popover-placement="right">
              <i class="fa fa-info fa-stack-1x"></i>
            </span></label>
            <input type="email" autocomplete="off" ng-model="user.emailRequester">
          </div>
        </div>
      </div>
      <br/>

      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-secundary" ng-click="request()" translate>Request</button>
          <a class="btn btn-primary" href="#/login" translate>Back</a>
        </div>
      </div>
    </form>
  </div>
</div>