<div class=" user-view">
  <div class="row">
    <h1 class="main-title" translate>New User from LDAP</h1>

    <form name="user_form" class="user-form white-form">
      <div class="row"
           data-position="left">
        <div class="col-md-12 ldap-search">
          <label translate class="req-label">Username</label>
          <input type="text" autocomplete="false" ng-model="searchParam" required>
          <button class="btn btn-secundary" ng-click="search()" ng-disabled="loading || !searchParam">
            <span translate>Search</span>
          </button>
        </div>
      </div>
    </form>
    <br />
    <div class="user-form white-form">
      <div class="row">
        <div class="col-md-12">
          <label translate>Results</label>
          <p ng-if="!searched" translate>Please define a search.</p>
          <p ng-if="loading && users.length == 0"><span translate>Loading can take a while.</span> <i class="fa fa-spin fa-spinner"></i></p>
          <p ng-if="searched && users.length == 0" translate>No users found. Try another search.</p>
          <p ng-if="searched && users.length == 50" translate>Not found what you are looking for? Please specify your search.</p>
        </div>
        <div class="col-md-6" ng-if="users">
          <br />
          <label translate>Non-migrated users</label>
          <ul>
            <li ng-repeat="user in users" ng-if="!user.id">
              <a href="#/user/ldap/{{ user.username }}">{{ user.username }}</a>
            </li>
          </ul>
        </div>
        <div class="col-md-6" ng-if="users">
          <br />
          <label translate>Migrated users</label>
          <ul>
            <li ng-repeat="user in users" ng-if="user.id">
              <a  href="#/user/{{ user.id }}/edit">{{ user.username }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

