<div id="collection-new">
  <div class="main-bar">
    <a class="back" href="#/collectiongroup/edit/{{ group.dataCollectionGroupId }}">
      <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title">Edit data collection definition</h1>
  </div>

  <form name="skryv_collection_form" class="white-form">
    <div class="row">
      <div class="col-md-6">
        <p ng-if="ddeEnabled || publishEnabled" translate>Collection actions</p>
        <button class="btn btn-secundary" ng-click="save()" translate>Save</button>
        <a class="btn btn-secundary" ng-click="remove()" ng-if="!isPublished && isAdmin" href="" translate>Delete</a>
        <a class="btn btn-secundary" href="#/dde/{{ collection.dataCollectionDefinitionId }}" ng-if="isPublished && ddeEnabled" translate>View in DDE</a>
      </div>
      <div class="col-md-6" ng-if="ddeEnabled || publishEnabled">
        <p ng-if="ddeEnabled || publishEnabled" translate>Version actions</p>
        <a class="btn btn-secundary" ng-if="!isPublished && ddeEnabled" href="#/dde/{{ collection.dataCollectionDefinitionId }}" translate>Edit in DDE</a>
        <a class="btn btn-secundary" ng-if="!isPublished && ddeEnabled" href="#/collection/raw/{{ collection.dataCollectionDefinitionId }}"
           translate>Edit raw</a>
        <a class="btn btn-secundary" ng-if="!isPublished && publishEnabled && isAdmin" ng-click="openPublishDialog()" translate>Publish</a>
        <a class="btn btn-secundary" ng-if="showRepublish && publishEnabled && isAdmin" ng-click="openRePublishDialog()" translate>Republish</a>
        <a class="btn btn-secundary" ng-if="isPublished" ng-click="createNewVersion()" translate>Create new version</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-5">
        <label translate>Name</label>
        <p>{{ collection.dataCollectionDefinitionName }}</p>
      </div>
      <div class="col-md-2">
        <label translate>Version</label>
        <p>{{ group.majorVersion }}.{{ collection.minorVersion }}</p>
      </div>
      <div class="col-md-2">
        <label translate>Published</label>
        <p>{{ collection.published }}</p>
      </div>
    </div>
    <hr>
    
    <div class="row">
      <div class="col-md-4">
        <label for="collection.label.en" translate class="req-label">Name EN</label>
        <input
          autocomplete="false"
          id="collection.label.en"
          ng-model="collection.label.en"
          class="form-control"
          required>
      </div>
      <div class="col-md-4">
        <label for="collection.label.nl" translate class="req-label">Name NL</label>
        <input
          autocomplete="false"
          id="collection.label.nl"
          ng-model="collection.label.nl"
          class="form-control"
          required>
      </div>
      <div class="col-md-4">
        <label for="collection.label.fr" translate class="req-label">Name FR</label>
        <input
          autocomplete="false"
          id="collection.label.fr"
          ng-model="collection.label.fr"
          class="form-control"
          required>
      </div>
    </div><br />
    <div class="row">
      <div class="col-md-4">
        <label for="collection.description.en" class="req-label" translate>Description EN</label>
        <textarea
          id="collection.description.en"
          required
          ng-model="collection.description.en"
          class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="collection.description.nl" class="req-label" translate>Description NL</label>
        <textarea
          id="collection.description.nl"
          required
          ng-model="collection.description.nl"
          class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="collection.description.fr" class="req-label" translate>Description FR</label>
        <textarea
          id="collection.description.fr"
          required
          ng-model="collection.description.fr"
          class="form-control"></textarea>
      </div>
    </div>
    <hr>

    <div class="row follow-up-container">
      <label class="col-md-12" translate>Follow-up</label>
      <div class="row follow-up" ng-repeat="followUp in collection.followUpDefinitions | orderBy: 'name'"
           ng-click="openFollowUp(followUp)">
        <div class="col-md-2"><i class="fa fa-pencil"></i> {{ followUp.name }}</div>
        <div class="col-md-4">{{ followUp.description }}</div>
      </div>
      <div class="col-md-12"><a href="" ng-click="addFollowUp()"><i class="fa fa-plus"></i> <span translate>add follow-up</span></a></div>
    </div>
    <hr>

    <div class="row">
      <label class="col-md-3" translate>History</label>
      <table class="col-md-10 list-table">
        <thead>
        <tr>
          <th translate>
            Date
          </th>
          <th translate>
            Description
          </th>
          <th translate>
            User
          </th>
          <th translate>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="history in history | orderBy: '-createdOn'">
          <td>
            {{ history.createdOn | date: 'dd/MM/yyyy' }}
          </td>
          <td>
            {{ history.description }}
          </td>
          <td>
            {{ history.userName }}
          </td>
          <td>
            <button class="btn btn-secundary" ng-click="viewWIP(history.historyId)" translate>
              View in DDE
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>








