<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title" translate>Data Collection Definitions</h1>
</div>

<div class="list-table-toolbar">
  <a class="btn btn-secundary" ng-if="ddeEnabled" ng-click="new()" translate>New definition</a>
  <input type="text" ng-keydown="reload()" ng-model="inputFilter.dataCollectionName" placeholder="{{ 'Search name' | translate }}">
</div>

<table class="list-table" data-intro="{{ 'Data Collection list' | translate }}" data-position="bottom">
  <thead>
  <tr class="noselect">
    <th ng-click="sortByColumn('dataCollectionName')"
        ng-class="{activeColumn: columnSort.sortColumn == 'dataCollectionName', activeColumnReverse: columnSort.reverse == true}" translate>Data collection name</th>
    <th ng-click="sortByColumn('version')"
        ng-class="{activeColumn: columnSort.sortColumn == 'version', activeColumnReverse: columnSort.reverse == true}" translate>Version</th>
    <th ng-click="sortByColumn('active')"
        ng-class="{activeColumn: columnSort.sortColumn == 'active', activeColumnReverse: columnSort.reverse == true}" translate>Active</th>
    <th ng-click="sortByColumn('published')"
        ng-class="{activeColumn: columnSort.sortColumn == 'published', activeColumnReverse: columnSort.reverse == true}" translate>Published</th>
    <th ng-click="sortByColumn('createdOn')"
        ng-class="{activeColumn: columnSort.sortColumn == 'createdOn', activeColumnReverse: columnSort.reverse == true}" translate>Created on</th>
    <th ng-click="sortByColumn('period.start')"
        ng-class="{activeColumn: columnSort.sortColumn == 'period.start', activeColumnReverse: columnSort.reverse == true}" translate>Data collection period</th>
  </tr>
  </thead>
  <tbody>
  <!--If no collections found -->
  <tr ng-if="collectionsList.length == 0"><td colspan="8" translate>No data collection definitions found</td></tr>
  <!--Collections loading -->
  <tr ng-if="loading" class="list-table-loading">
    <td colspan="8">
      <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
      <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
    </td>
  </tr>
  <tr ng-repeat="collection in collectionsList = (collections | filter:(inputFilter)) | orderBy:columnSort.sortColumn:columnSort.reverse" ng-click="viewCollection(collection.dataCollectionName)">
    <td>{{ collection.dataCollectionName }}</td>
    <td>v{{ collection.version.major }}.{{ collection.version.minor }}</td>
    <td class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collection.active === 'active' || collection.active === 'finished' , 'collection-invalid-value': collection.active === 'inactive' }">{{ collection.active | translate }}</td>
    <td class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collection.published, 'collection-invalid-value': !collection.published }">{{ collection.published | translate }}</td>
    <td>{{ collection.createdOn | date:'dd/MM/yyyy' }}</td>
    <td>{{ collection.period.start }} - {{ collection.period.end }}</td>
  </tr>
  </tbody>
</table>