<div id="collection-new">
  <div class="main-bar">
    <a class="back" href="#/collectiongroup/edit/{{ group.dataCollectionGroupId }}">
      <i class="fa fa-arrow-left"></i>
    </a>

    <h1 class="main-title" translate>New data collection</h1>
  </div>

  <form name="skryv_collection_form" class="white-form">
    <div class="row">
      <div class="col-md-4">
        <label for="collection.dataCollectionDefinitionName" translate class="req-label">Technical name</label>
        <input type="text"
               id="collection.dataCollectionDefinitionName"
               autocomplete="false" ng-trim="false"
               class="form-control"
               ng-change="calculateMinorVersion()"
               ng-model="collection.dataCollectionDefinitionName"
               typeahead-min-length="1"
               typeahead-on-select="collection.dataCollectionDefinitionName=inputFormatter($model); calculateMinorVersion()"
               uib-typeahead="match as renderMatch(match) for match in getCollections($viewValue)"
               typeahead-loading="false"
               size="4"/>
      </div>
      <div class="col-md-2">
        <label translate>Version</label>
        <p>{{ group.majorVersion }}.{{ collection.minorVersion }}</p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-md-4">
        <label for="collection.label.en" translate class="req-label">Name EN</label>
        <input
                maxlength="60"
                autocomplete="false"
                id="collection.label.en"
                ng-model="collection.label.en"
                class="form-control"
                required>
      </div>
      <div class="col-md-4">
        <label for="collection.label.nl" translate class="req-label">Name NL</label>
        <input
                maxlength="60"
                autocomplete="false"
                id="collection.label.nl"
                ng-model="collection.label.nl"
                class="form-control"
                required>
      </div>
      <div class="col-md-4">
        <label for="collection.label.fr" translate class="req-label">Name FR</label>
        <input
                maxlength="60"
                autocomplete="false"
                id="collection.label.fr"
                ng-model="collection.label.fr"
                class="form-control"
                required>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-4">
        <label for="collection.description.en" class="req-label" translate>Description EN</label>
        <textarea
                maxlength="255"
                id="collection.description.en"
                ng-model="collection.description.en"
                required
                class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="collection.description.nl" class="req-label" translate>Description NL</label>
        <textarea
                maxlength="255"
                id="collection.description.nl"
                ng-model="collection.description.nl"
                required
                class="form-control"></textarea>
      </div>
      <div class="col-md-4">
        <label for="collection.description.fr" class="req-label" translate>Description FR</label>
        <textarea
                maxlength="255"
                id="collection.description.fr"
                ng-model="collection.description.fr"
                required
                class="form-control"></textarea>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-12">
        <button ng-if="!previousNotPublished" class="btn btn-secundary" ng-click="save()" translate>
          Save
        </button>
        <span ng-if="previousNotPublished"
             uib-popover="You can only submit a new version if the previous minor version is published."
             popover-trigger="'mouseenter'"
             popover-append-to-body="true"
             popover-placement="auto bottom">
          <button class="btn btn-secundary"
                  ng-disabled="previousNotPublished"
                  translate>Save
          </button>
        </span>
        <a class="btn btn-primary" href="#/collectiongroup/edit/{{ group.dataCollectionGroupId }}" translate>Cancel</a>
      </div>
    </div>
  </form>
</div>