<div>
  <h1 class="main-title" translate>Edit raw of data collection definition</h1>

  <div class="white-form">
    <div class="row">
      <div class="col-md-3">
        <label translate>Name</label>
        <p>{{ collection.dataCollectionDefinitionName }}</p>
      </div>
      <div class="col-md-2">
        <label translate>Version</label>
        <p>{{ collection.minorVersion }}</p>
      </div>
      <div class="col-md-4">
        <label translate>Work-in-progress</label>
        <p>WIP {{ latestWip.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</p>
      </div>
    </div><br/>
    <div class="row">
      <div class="col-md-12 collection-raw">
        <div ng-if="isValid && isDirty" class="json-valid" translate>JSON is valid and will be saved</div>
        <div ng-if="!isValid && isDirty" class="json-invalid" translate>JSON is invalid and won't be saved</div>
        <textarea ng-change="changeRaw()" ng-model="latestContent"></textarea>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-secundary" ng-click="save()" ng-disabled="!isValid" ng-if="!collection.published" translate>Save</button>
        <a class="btn btn-primary" href="#/collection/edit/{{ collection.dataCollectionDefinitionId }}" translate>Back</a>
      </div>
    </div>
  </div>
</div>