<h1 class="main-title"><translate translate>Versions for:</translate> <span>{{ collectionName | translate }}</span></h1>
<div class="list-table-toolbar">
  <a class="btn btn-primary" href="#/collection" translate>Back</a>
  <a class="btn btn-secundary" ng-click="newVersion()" ng-if="ddeEnabled" ng-disabled="toVersions.length <= 0" translate>Create version</a>
  <div class="list-table-toolbar-input noselect">
    <label><input type="checkbox" ng-model="showWIP" value="true">{{ 'Show history' | translate }}</label>
  </div>
</div>

<table class="list-table" data-intro="{{ 'Data Collection list' | translate }}" data-position="bottom">
  <thead>
  <tr class="noselect">
    <th translate>Version</th>
    <th translate>Active</th>
    <th translate>Published</th>
    <th ng-if="showWIP" translate>Created by</th>
    <th translate>Updated on</th>
    <th translate>Created on</th>
    <th translate>Data collection period</th>
    <th ng-if="showWIP" translate>Participation Def</th>
    <th ng-if="showWIP" translate>Description</th>
  </tr>
  </thead>
  <tbody>
  <!--If no collections found -->
  <tr ng-if="collections.length == 0"><td colspan="12" translate>No data collections found</td></tr>
  <!--Collections loading -->
  <tr ng-if="loading" class="list-table-loading">
    <td colspan="12">
      <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
      <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
    </td>
  </tr>
  <tr ng-repeat="collection in collections" ng-click="viewCollection(collection)"
      ng-if="collection.wip === showWIP || !collection.wip"
      ng-class="{ 'collection-higlight-version': showWIP && !collection.wip }">
    <!--Name-->
    <!--Version-->
    <td ng-if="!collection.wip">v{{ collection.version.major }}.{{ collection.version.minor }}</td>
    <td ng-if="collection.wip">v{{ collection.parent.version.major }}.{{ collection.parent.version.minor }}-wip-{{ collection.name }}</td>
    <!--Active-->
    <td ng-if="!collection.wip" class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collection.active === 'active' || collection.active === 'finished', 'collection-invalid-value': collection.active === 'inactive' }">{{ collection.active | translate }}</td>
    <td ng-if="collection.wip" translate></td>
    <!--Published-->
    <td class="collection-is-active-cell" ng-class="{ 'collection-valid-value': collection.published, 'collection-invalid-value': !collection.published }">{{ collection.published | translate }}</td>
    <!--Created by-->
    <td ng-if="showWIP">{{ collection.userName }}</td>
    <!--Updated on-->
    <td>{{ collection.updatedOn | date:'dd/MM/yyyy HH:mm:ss' }}</td>
    <!--Created on-->
    <td>{{ collection.createdOn | date:'dd/MM/yyyy HH:mm:ss' }}</td>
    <!--Period-->
    <td>{{ collection.period.start }} - {{ collection.period.end }}</td>
    <!--Participation-->
    <td ng-if="showWIP"><span ng-if="collection.participationDefinition" translate>true</span></td>
    <td ng-if="showWIP"><span ng-if="collection.content.description" class="prewrap">{{ collection.content.description }}</span></td>
  </tr>
  </tbody>
</table>