<div class="loadingBar" ng-if="queue.length > 0" ng-click="dismissLoadingbar(current.id)">
    {{ current.label }}
    <span ng-if="current.completed" class="close-loadingBar fa fa-remove"></span>
</div>