<div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="login-form">
      <form name="loginForm">
        <div class="form-group">
          <p translate>Welcome to the HD4PRC application</p>
          <p><small translate>The login button will redirect you to a separate page, where you can login by using your electronic identification card.</small></p>
          <a href="#/eid?accessToken=ff277530-d9c4-4fd6-96a8-ca303f8fd3bc" class="btn btn-secundary" translate>Log in</a>
        </div>
      </form>
    </div>
  </div>
</div>
