<div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id="login-form">
      <form name="loginForm">
        <div class="form-group">
          <p>You have been successfully logged in by using your eid.</p>
          <a href="#/data collection" class="btn btn-secundary" translate>Start collecting data</a>
        </div>
      </form>
    </div>
  </div>
</div>
