<div class="row user-view user-view-request">
  <div id="request-form">
    <div id="login-info" class="lx-msg" translate>Forgot password</div>
    <form name="request_form" class="user-form white-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p>Please select the appropriate organization and enter your email address.</p>
            <p>A reset-link will be sent to the email address.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="inputOrganization" translate>Organization</label>
            <select id="inputOrganization"
                    ng-if="organizations.length > 1"
                    ng-model="selectedOrganization"
                    ng-options="o.name for o in organizations | orderBy:'name'"
                    required></select>
            <p ng-if="!organizations" translate>loading...</p>
            <p ng-if="organizations.length == 1">{{ organizations[0].name }}</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="inputEmail" translate>Email</label>
            <input
                    id="inputEmail"
                    class="form-control"
                    autocomplete="false"
                    placeholder="{{ 'email' | translate }}"
                    ng-model="email"
                    required
                    type="email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="top-padding" id="user-request" class="white-form">
            <button ng-disabled="loading || !email || !selectedOrganization" ng-click="sendResetMail()"
                    class="btn btn-secundary" translate>Send email
            </button>
            <a class="btn btn-primary" href="#/login" translate>Back</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
