<div ng-show="!SessionActive">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" id="login-form">
      <div id="login-info" class="lx-msg" translate>Please enter username and password</div>
      <form name="loginForm">
        <div class="form-group">
          <label for="inputOrganization" translate>Organization</label>
          <select id="inputOrganization"
                  ng-if="organizations.length > 1"
                  ng-model="user.organization"
                  ng-options="o.name for o in organizations | orderBy:'name'"
                  required></select>
          <p ng-if="!organizations" translate>loading...</p>
          <p ng-if="organizations.length == 1">{{ user.organization.name }}</p>
        </div>

        <div class="form-group">
          <label for="inputUsername" translate>Username</label>
          <input
            id="inputUsername"
            class="form-control"
            autocomplete="false"
            placeholder="{{ 'Username' | translate }}"
            ng-model="user.email"
            required>
        </div>

        <div class="form-group">
          <label for="inputPassword" translate>Password</label>
          <input
            id="inputPassword"
            class="form-control"
            placeholder="{{ 'Password' | translate }}"
            ng-model="user.password"
            type="password"
            autocomplete="off"
            required>
          <a href="#/forgotPassword" class="input-help">Forgot password</a>
        </div>

        <div class="form-group top-padding">
          <button ng-if="!loading && user.email && user.password && user.organization" ng-click="doSignin()"
                  class="btn btn-secundary" translate>Log in</button>
          <button ng-if="!loading && (!user.email || !user.password || !user.organization)" disabled class="btn btn-primary" translate>Log in</button>
          <button ng-if="loading" disabled class="btn btn-primary"><i class="fa fa-spin fa-spinner"></i>  <span translate>Logging in</span></button>
          <a ng-if="platform === 'hd4dp'" class="login-request" href="#/userRequest" translate>Request account</a>
          <a ng-if="reqAccUrl" class="login-request" href="{{ reqAccUrl }}" translate>Request account</a>
        </div>
      </form>
    </div>
  </div>
</div>
