<div class="row">
    <div class="col-md-6 col-md-offset-3" id="login-form">
        <div id="login-info" class="lx-msg" translate>Reset password</div>
        <form name="loginForm">
            <div class="form-group">
                <p>Please enter the new password for this account.</p>
            </div>

            <div class="form-group">
                <label for="inputPassword" translate>Password</label>
                <input
                        id="inputPassword"
                        class="form-control"
                        autocomplete="false"
                        placeholder="{{ 'password' | translate }}"
                        ng-model="password"
                        required
                        type="password">
            </div>

            <div class="form-group">
                <label for="inputConfirmPassword" translate>Confirm password</label>
                <input
                        id="inputConfirmPassword"
                        class="form-control"
                        autocomplete="false"
                        placeholder="{{ 'confirm password' | translate }}"
                        ng-model="confirmPassword"
                        required
                        type="password">
            </div>

            <div class="form-group top-padding">
                <button ng-disabled="!password || !confirmPassword" ng-click="resetPassword()"
                        class="btn btn-secundary" translate>Reset password</button>
            </div>
        </form>
    </div>
</div>
