/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$lightGrey: #777;

.collection-overview {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  & > div {
    padding-left: 30px;
    margin-top: 30px;
    border-bottom: solid 1px #bbb;
  }

  & > div:last-child {
    border-bottom: none;
  }
}

.heading {
  display: inline-flex;
  justify-content: space-between;

  margin-bottom: 20px;
  padding-right: 40px;

  min-width: 100%;

  label {
    color: $main;
    font-size: medium;
  }

  .heading-actions {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .small {
      cursor: pointer;
      font-size: small;
      color: $main;
    }

    & > * {
      min-width: 100px;
      margin-right: 10px;
    }
  }

  .search {
    max-width: 200px;
  }
}
//
.dataproviders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;

  .dataprovider {
    cursor: pointer;
    user-select: none;

    width: 150px;
    text-overflow: ellipsis;
    text-align: center;
    padding: 5px 10px;
    border: 1px solid $lightGrey;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .selected {
    color: $main;
    border-color: $main;
    font-weight: bolder;
  }
}

.show-more {
  display: inline-block;
  padding-bottom: 30px;
  color: $main;
  cursor: pointer;
}

.data-collection-users {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 20%;
  flex-grow: 1;
  width: 100%;
  align-content: space-around;
  padding-bottom: 30px;

  .selected {
    font-weight: bolder;
    color: $black;
  }

  .user {
    cursor: pointer;
    user-select: none;

    width: 200px;
    text-overflow: ellipsis;
  }
}