/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.dataprovider-participation-document {
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;

  .comment-button, .sticky-text, .fa-circle {
    display: none;
  }

  .doc-control {
    clear: both;
    margin-left: 0px;
    border-left: none;
    padding: 0;
  }

  &.read_only {
    input {
      background-color: #f7f7f7 !important;
      pointer-events: none !important;
      border: 1px solid #ddd !important;
    }
  }
}

.subdatacollections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 30px;
}

.subdatacollection {
  cursor: pointer;
  user-select: none;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid;
  text-align: center;

  &:hover {
    color: $lightorange;
  }
}

.tab-content-separator-1, .tab-content-separator-2 {
  position: absolute;
  border-right: 1px solid #ddd;
  bottom: 20px;
  left: 270px;
  top: 20px;
}

.tab-content-separator-2 {
  left: 520px;
}

li + .participate-none {
  display: none;
}

.participate-none {
  color: #aaa !important;
  cursor: default !important;
}

.participation-dropdown {
  background: #fafafa;
  border: 1px solid #ddd;
  padding: 10px;
  display: inline-block;

  font-size: 18px;
  color: $main;
}

.participation-detail {

  &.participation-detail-hd4res {
    width: calc(100% - 550px);
  }
  &.participation-detail-hd4dp {
    width: calc(100% - 350px);
  }

  .btn {
    margin-top: 10px;
  }

  .fa-info {
    padding: 3px 6px;
    font-size: 10px;
    color: #aaa;
    &:hover {
      cursor: pointer;
      color: $main;
    }
  }
}

.tab-content .participation-users, .tab-content .validations {
  padding-left: 18px;
  list-style: inherit;

  li:hover {
    color: #666;
    cursor: default;
  }
}

.tab-content .participation-users {
  .participation-users-email {
    font-weight: bold;
    &:hover {
      cursor: pointer;
    }
  }
}

.participation-wrapper {
  .participation-info {
    color: #aaa;
    margin-top: 8px;
  }

  .progress {
    margin-bottom: 0;
    width: 200px;
  }
}

.participation-doc-wrapper {
  max-width: 500px;
}