/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under thfe License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

// make it fullpage
.participation-fullpage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  color: $black;

  // clear the navigation bar
  padding-top: 46px;
}

.topbar {

  min-height: 70px;
  height: 5%;

  display: flex;
  flex-direction: row;
  align-items: center;

  .mainbar {
    background-color: #F3F3F3;
    border-bottom: 1px solid #e0e0e0;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-self: center;

    .collection-label {
      align-items: baseline;
      display: inline-block;

      h3 {
        color: $black;
        margin: 0;
        font-weight: normal;
      }

      * {
        display: inline-block;
      }
    }

    .mainbar-actions {
      float: right;
      display: inline-block;
    }
  }
}

.participation-doc-wrapper {
  max-width: 500px;
}

.participation-content {
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.mainview {
  height: 90%; //
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.participation-document{
  max-width: 95%;
  border: 1px solid #ddd;
  padding: 20px;
  margin-top: 10px;

  .comment-button, .sticky-text, .fa-circle {
    display: none;
  }

  .doc-control {
    clear: both;
    margin-left: 0px;
    border-left: none;
    padding: 0;
  }

  &.read_only {
    input {
      background-color: #f7f7f7 !important;
      pointer-events: none !important;
      border: 1px solid #ddd !important;
    }
  }
}

#email-box {
  width: 100%;
  margin-bottom: 15px;
}

.hideToggle {
  i {
    font-size: 20px;
    margin-right: 10px;
  }

  * {
    display: inline-block;
    cursor: pointer !important;
  }
}

@import './collectionParticipation';
@import './dataProviderParticipation';
@import './versionParticipation';
