/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

$valBlueSecondary: #29b6f6;
$valPurple: #b39ddb;
$valGreenSecondary: #4db6ac;

.dataprovider-section {
  padding-bottom: 5px !important;
}

.active-rounds {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 30px;

  max-height: 400px;

  .version {
    display: inline-block;
    color: $valOrange;
    cursor: pointer;
  }
}

.color-codes {
  * {
    display: inline-block;
  }
}

.color-codes {
  .participating, .not-participating, .finalised {
    border: none;
  }
}

.participating {
  color: $valBlueSecondary !important;
  border-color: $valBlueSecondary !important;
}

.nonParticipating {
  color: $valPurple !important;
  border-color: $valPurple !important;
}

.finalised {
  color: $valGreenSecondary !important;
  border-color: $valGreenSecondary !important;
}

.dataproviders {
  .selected .participating {
    border-color: $valPurple !important;
    font-weight: bolder; //
  }

  .selected .nonParticipating {
    color: $valPurple;
    border-color: $valPurple !important;
    font-weight: bolder;
  }
}

#participationInfo {
  padding-bottom: 20px;
}

.version {
  &.active {
    color: $green !important;
  }

  &.finished {
    color: $red !important;
  }

  color: #777;
}

.roundDetails {
  padding-bottom: 30px;
  float: left;
  max-width: 50%;
  display: inline-block;
}

.sub-collections {
  margin-left: 100px;
  max-width: 50%;
  display: inline-block;
}