<!--Title-->
<div class="main-bar">
  <a class="back" href="#/settings">
    <i class="fa fa-arrow-left"></i>
  </a>

  <h1 class="main-title" translate>Configurations</h1>
</div>
<!--Options-->
<div class="config-list-toolbar">
  <p class="btn" ng-click="changeAdvanced(false)"
     ng-class="{ 'btn-secundary': inputFilter.advanced == false || inputFilter.key, 'btn-primary': inputFilter.advanced != false && !inputFilter.key}"
     translate>Basic</p>

  <p class="btn" ng-click="changeAdvanced(true)"
     ng-class="{ 'btn-secundary': inputFilter.advanced || inputFilter.key, 'btn-primary': !inputFilter.advanced && !inputFilter.key}"
     translate>Advanced</p>
  <!--Search-->
  <input type="text" ng-keydown="reload()" ng-model="inputFilter.key"
         placeholder="{{ 'Search config' | translate }}">
</div>
<!--Table-->
<div ng-if="loading" class="loader">
  <img src="images/loader_hd4dp.gif" id="loading-indicator" ng-if="platform == hd4dp"/>
  <img src="images/loader_hd4res.gif" id="loading-indicator" ng-if="platform == hd4res"/>
</div>
<table class="list-table" ng-show="!loading" data-cache="false" data-sort-name="key" data-sort-order="desc"
       data-intro="{{ 'Edit or delete a configuration key-value pair.' | translate }}" data-position="top">
  <thead
    data-intro="{{ 'Click on the column title to sort ascending or descending according to the selected column.' | translate }}"
    data-position="top">
  <th width="400" class="noselect" ng-click="sortByColumn('key')"
      ng-class="{activeColumn: columnSort.sortColumn == 'key'}">
    <span translate>Config</span> <table-sort sort-by="'key'"></table-sort>
  </th>
  <th class="noselect" ng-click="sortByColumn('value')"
      ng-class="{activeColumn: columnSort.sortColumn == 'value'}"
      width="300">
    <span translate>Value</span> <table-sort sort-by="'value'"></table-sort>
  </th>
  <th class="noselect" ng-click="sortByColumn('description')"
      ng-class="{activeColumn: columnSort.sortColumn == 'description'}">
    <span translate>Description</span> <table-sort sort-by="'description'"></table-sort>
  </th>
  <th ng-if="!isMainOrg" class="noselect" ng-click="sortByColumn('useFromMain')"
      ng-class="{activeColumn: columnSort.sortColumn == 'useFromMain'}">
    <span translate>Use main organisation</span> <table-sort sort-by="'useFromMain'"></table-sort>
  </th>
  <th></th>
  </thead>
  <tbody>
  <tr width="400" ng-if="configs.length == 0">
    <td colspan="4" translate>No configurations found</td>
  </tr>
  <!--Configurations-->
  <tr
    ng-repeat="config in filtered = (configs | filter:inputFilter | orderBy:columnSort.sortColumn:columnSort.reverse)"
    ng-if="($index + 1) < ((currentPage * itemsPerPage) + 1)
                        && ((currentPage * itemsPerPage) - itemsPerPage)  < ($index + 1) "
    class="edit-hover"
    ng-class="{ 'config-active': editable.key  == config.key }">
    <!--Config-->
    <td class="edit-config" ng-click="editConfig(config)"><span class="edit-config-key">{{ config.key }}</span></td>
    <!--Value-->
    <td class="edit-config" ng-click="editConfig(config)" ng-if="editable.key  != config.key">{{ config.value }}
    </td>
    <td ng-if="editable.key  == config.key" width="300">
      <!--String-->
      <div ng-if="config.type == 'STRING'">
        <input type="text" autocomplete="false" ng-if="config.readable" ng-model="editable.value">
        <input type="password" autocomplete="false" ng-if="!config.readable" ng-model="editable.value">
      </div>
      <!--Integer-->
      <div ng-if="config.type == 'INTEGER'">
        <input type="number" autocomplete="false" ng-model="editable.value">
      </div>
      <!--Date-->
      <div ng-if="editable.type == 'DATE'">
        <label class="configuration-date">
          <input type="text"
                 class="form-control datepicker-template"
                 is-open="editable.isOpen"
                 placeholder="dd-mm-yyyy"
                 uib-datepicker-popup="{{ datepicker.format }}"
                 ng-change="searchFiltersChanged()"
                 ng-model="editable.value">
          <button type="button"
                  class="btn btn-default"
                  ng-click="open($event, editable)">
            <i class="glyphicon glyphicon-calendar"></i>
          </button>
        </label>
      </div>
      <!--Boolean-->
      <div ng-if="config.type == 'BOOLEAN'">
        <div class="radio">
          <label><input type="radio" ng-model="editable.value" value="true">True</label>
        </div>
        <div class="radio">
          <label><input type="radio" ng-model="editable.value" value="false">False</label>
        </div>
      </div>
      <!--Select-->
      <div ng-if="config.type == 'ENUM'">
        <select ng-model="editable.value">
          <option ng-repeat="option in editable.allowedValues">{{ option }}</option>
        </select>
      </div>
    </td>
    <!--Description-->
    <td class="edit-config" ng-click="editConfig(config)">{{ config.description }}</td>
    <!--Main Organisation-->
    <td width="110" class="main-org" ng-click="editConfig(config)" ng-if="editable.key != config.key && !isMainOrg">
      <input type="checkbox" ng-model="config.useFromMain" disabled>
    </td>
    <td width="110" class="main-org" ng-if="editable.key  == config.key && !isMainOrg">
      <input type="checkbox" ng-model="editable.useFromMain">
    </td>
    <!--Actions-->
    <td width="90" class="config-icons">
      <div ng-if="editable.key  == config.key">
        <span ng-click="saveConfig(config)" title="save" class="fa fa-check"></span>
        <span ng-click="cancelConfig()" title="cancel" class="fa fa-remove"></span>
        <span ng-click="defaultConfig()" title="default" class="fa fa-undo"></span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<!--Pagination-->
<div class="list-pagination">
  <ul uib-pagination
      direction-links="false"
      boundary-links="true"
      total-items="filtered.length"
      max-size="itemsPerPage"
      ng-model="currentPage"
      num-pages="numPages"
      items-per-page="itemsPerPage"
      ng-show="numPages > 1"
      class="pagination-sm"
      first-text="{{ 'First' | translate }}"
      last-text="{{ 'Last' | translate }}"
      next-text="{{ 'Next' | translate }}"
      previous-text="{{ 'Previous' | translate }}" rotate="false"></ul>
</div>
