<!--TODO: Make cleaner -->
<style>
  .introjs-helperLayer {
    background-color: transparent;
  }
  .introjs-overlay {
    background: transparent;
  }
</style>

<div ng-controller="WorkflowOverviewCtrl">
  <!--LEFT CONTAINER-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'left'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc','info']">
  </skr-editor-side-menu>

  <!--LEFT RESPONSIVE-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'responsive'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc','info', 'validation', 'comments']">
  </skr-editor-side-menu>

  <!--DOCUMENT SECTION-->
  <div class="doc-container doc-container-middle">
    <div class="doc-menu noselect">
      <a class="alignleft" href="#/data%20collection" translate>Back</a>
      <div ng-if="documentLoaded" ng-include="'views/document/menu/actions.html'"></div>
    </div>
    <div class="doc-content" id="doc-form" ng-class="{no_comments: !needComments || !canComment, read_only: readOnly}">
      <div ng-if="documentLoaded">
        <skr-editor-component
          skr-editor-options="{ debug: displayDebugInfo, dataCollectionName: dcd.dataCollectionName }"
          component="documentModel.component"
          manipulator="documentModel.manipulator">
        </skr-editor-component>
      </div>
    </div>
  </div>

  <!--MOBILE MENU-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'mobile'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc','info', 'validation', 'comments']">
  </skr-editor-side-menu>

  <!--RIGHT MENU-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'right'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    default-tab="defaultTab"
    items="['validation','comments']">
  </skr-editor-side-menu>
</div>










