<div ng-controller="WorkflowOverviewCtrl" class="doc-full-height">
  <div class="doc-container doc-container-left">
    <div class="doc-menu noselect doc-not-responsive">
      <a ng-click="activeTabLeft = 'toc'" ng-class="{active: activeTabLeft === 'toc'}">{{ 'Table of contents' | translate }}</a>
      <a ng-click="activeTabLeft = 'info'" ng-class="{active: activeTabLeft === 'info'}">{{ 'Info' | translate }}</a>
    </div>

    <div class="doc-content doc-not-responsive">
      <div class="doc-content-section" ng-if="activeTabLeft === 'info' || activeTabLeft === 'toc'" ng-include="'views/document/side/summary.html'"></div>
      <div class="doc-content-section" ng-if="activeTabLeft === 'info'" ng-include="'views/document/side/registration.html'"></div>
      <div class="doc-content-section" ng-if="activeTabLeft === 'toc'" ng-include="'views/document/side/toc.html'"></div>
    </div>

    <div class="doc-menu noselect doc-responsive">
      <a ng-click="activeTabResopnsive = 'toc'" ng-class="{active: activeTabResopnsive === 'toc'}"><i class="fa fa-list"></i></a>
      <a ng-click="activeTabResopnsive = 'info'" ng-class="{active: activeTabResopnsive === 'info'}"><i class="fa fa-info-circle"></i></a>
      <a ng-click="activeTabResopnsive = 'validation'" ng-class="{active: activeTabResopnsive === 'validation'}"><i class="fa fa-exclamation-triangle"></i></a>
    </div>
    <div class="doc-content doc-responsive">
      <div class="doc-content-section" ng-if="activeTabResopnsive === 'info' || activeTabResopnsive === 'toc'" ng-include="'views/document/side/summary.html'"></div>
      <div class="doc-content-section" ng-if="activeTabResopnsive === 'info'" ng-include="'views/document/side/registration.html'"></div>
      <div class="doc-content-section" ng-if="activeTabResopnsive === 'toc'" ng-include="'views/document/side/toc.html'"></div>
      <div class="progress-section doc-responsive" ng-if="activeTabResopnsive === 'validation'" ng-include="'views/document/side/validation.html'"></div>
    </div>

  </div>

  <div class="doc-container doc-container-middle">
    <div class="doc-menu noselect">
      <div class="alignright">
        <div class="silent-save" ng-if="autoSaveObj.saving">
          <i class="fa fa-spinner fa-spin"></i> {{ 'Saving...' | translate }}
        </div>

        <div class="silent-save silent-save-success" ng-if="autoSaveObj.success">
          <i class="fa fa-check"></i> {{ 'Saved' | translate }}
        </div>

        <div class="silent-save silent-save-error" ng-if="autoSaveObj.error">
          <i class="fa fa-times"></i> {{ 'Failed saving' | translate }}
        </div>
      </div>
    </div>
    <div class="doc-content no_comments" id="doc-form">
      <div ng-if="documentLoaded">
        <skr-editor-component
          skr-editor-options="{ debug: displayDebugInfo, dataCollectionName: dcd.dataCollectionName }"
          component="documentModel.component"
          manipulator="documentModel.manipulator">
        </skr-editor-component>
      </div>
    </div>
  </div>

  <div class="noselect doc-mobile-menu">
    <a ng-click="clickTabMobile('toc')" ng-class="{active: activeTabMobile === 'toc'}">{{ 'Table of contents' | translate }}</a>
    <a ng-click="clickTabMobile('info')" ng-class="{active: activeTabMobile === 'info'}">{{ 'Info' | translate }}</a>
    <a ng-click="clickTabMobile('validation')" ng-class="{active: activeTabMobile === 'validation'}">{{ 'Validation' | translate }}</a>
  </div>
  <div class="doc-content doc-mobile-content" ng-if="activeTabMobile">
    <i ng-click="clickTabMobile('')" class="fa fa-times"></i>
    <div class="doc-content-section" ng-if="activeTabMobile === 'info' || activeTabMobile === 'toc'" ng-include="'views/document/side/summary.html'"></div>
    <div class="doc-content-section" ng-if="activeTabMobile === 'info'" ng-include="'views/document/side/registration.html'"></div>
    <div class="doc-content-section" ng-if="activeTabMobile === 'toc'" ng-include="'views/document/side/toc.html'"></div>
    <div class="progress-section" ng-if="activeTabMobile === 'validation'" ng-include="'views/document/side/validation.html'"></div>
  </div>

  <div class="doc-container doc-container-right">
    <div class="doc-menu noselect">
      <a class="active">{{ 'Validation' | translate }} <span id="counter-validation" class="counter-rounded" ng-if="documentModel.document.errors.length > 0">{{ documentModel.document.errors.length }}</span></a>
    </div>
    <div class="doc-content">
      <div class="progress-section" ng-include="'views/document/side/validation.html'"></div>
    </div>
  </div>
</div>










