
<h3 class="no-print">{{ 'Print preview' | translate }}</h3>
<div class="no-print">
  <button ng-if="result" class="btn btn-secundary" ng-click="print()"><i class="fa fa-print"></i> {{ 'Print' | translate }}</button>
  <button ng-if="result" class="btn btn-primary" ng-click="redirect()"><i class="fa fa-file"></i> {{ 'Back to registration' | translate }}</button>
  <br/>
  <br/>
</div>
<div ng-if="loading" class="text-center">
  <i class="fa fa-spinner fa-spin"></i><br/><span translate>Generating preview</span>
</div>
<div class="pdf" ng-bind-html="sanitizeMe(result)"></div>
