
  <!--LEFT CONTAINER-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'left'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    items="['toc']">
  </skr-editor-side-menu>

  <!--DOCUMENT SECTION-->
  <div class="doc-container doc-container-middle">
    <div class="doc-menu noselect">
      <a class="alignleft" href="#/data%20collection">Back</a>
      <div ng-include="'views/document/menu/actions.html'"></div>
    </div>
    <div class="doc-content" id="doc-form" ng-class="{no_comments: !needComments || !validDate, read_only: readOnly}">

      <div>
        <label>Read-only? <input type="checkbox" ng-model="workbenchInput.readOnly" /></label><br />
        <label>Document Definition:</label>
        <textarea ng-model="workbenchInput.documentDefinition"></textarea><br />
        <label>Document content:</label>
        <textarea ng-model="workbenchInput.documentData"></textarea>
        <button ng-click="loadDocumentWorkbench()">Load</button><br /><br />

        <label>Document data:</label>
        <pre>{{ documentModel.document.documentData | json }}</pre>
        <button ng-click="generateCSV()">CSV</button>
        <pre>{{ CSVresult }}</pre>
      </div>


      <div ng-if="documentLoaded">
        <skr-editor-component
          skr-editor-options="{ debug: displayDebugInfo, dataCollectionName: dcd.dataCollectionName }"
          component="documentModel.component"
          manipulator="documentModel.manipulator">
        </skr-editor-component>
      </div>
    </div>
  </div>

  <!--RIGHT MENU-->
  <skr-editor-side-menu
    ng-if="documentLoaded"
    position="'right'"
    registration="registration"
    valid-date="validDate"
    workflow="workflow"
    dcd="dcd"
    document-model="documentModel"
    default-tab="defaultTab"
    items="['validation']">
  </skr-editor-side-menu>