<div id="footer" class="no-print" ng-controller="FooterCtrl" ng-show="visible">
    <p>{{ 'Powered by healthdata.be (WIV-ISP) - Financed by RIZIV/INAMI' | translate }} <span ng-if="version"> - v{{ version }}</span> <status-box></status-box></p>
</div>
