<nav ng-controller="MainMenuCtrl"
     class="navbar navbar-default navbar-fixed-top"
     id="mainmenu"
     ng-if="SessionActive"
     role="navigation">
    <div ng-if="showNavigation" class="collapse navbar-collapse" id="menu-bar">
        <div class="dropdown menuDropdown" uib-dropdown>
          <p class="menu-hd">{{ platform }}</p>
        </div>
        <ul class="nav navbar-nav screen">
            <li ng-repeat="item in mainMenu" ng-if="item.position == 'left' && !item.hidden && (item.auth == authType || !item.auth) " ng-class="{ active: isActive(item) }">
                <a ng-href="{{item.url}}" target="{{item.blank ? '_blank' : '_self'}}" ng-class="itemClass(item)">
                    {{ item.label | translate }}
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav user-nav screen">
            <li ng-repeat="item in mainMenu" class="navigation-item-{{ item.name }}" ng-if="item.position == 'right' && (item.auth == authType || !item.auth) " ng-class="{ active: isActive(item) }">
                <a ng-if="item.click" ng-click="item.click()">{{ item.label | translate }}</a>
                <a ng-if="item.url" ng-href="{{item.url}}" target="{{item.blank ? '_blank' : '_self'}}" ng-class="itemClass(item)">
                    {{ item.name | translate }}
                </a>
                <div ng-if="item.dropdownPosition" class="dropdown" uib-dropdown>
                  <button uib-dropdown-toggle type="button">
                   <i ng-if="item.icon" class="{{ item.icon }}"></i> {{ item.label | translate }} <i class="fa fa-caret-down"></i>
                  </button>
                  <ul uib-dropdown-menu role="menu" aria-labelledby="dropdownHelp" class="navigation-dropdown-menu">
                    <li ng-repeat="ddItem in item.dropdownItems">
                      <a href="{{ ddItem.url }}" target="{{ddItem.blank ? '_blank' : '_self'}}"><i ng-if="ddItem.icon" class="{{ ddItem.icon }}"></i> {{ ddItem.label | translate }}</a>
                    </li>
                  </ul>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mobile">
            <li class="dropdown" uib-dropdown>
                <p ng-repeat="item in mainMenu" ng-if="isActive(item)" aria-expanded="false" class="title-mobile" uib-dropdown-toggle>{{ item.label | translate }}</p>
                <a href="#" uib-dropdown-toggle role="button" aria-expanded="false"><i class="fa fa-bars"></i></a>

                <ul class="menu-mobile" uib-dropdown-menu role="menu">
                  <li ng-repeat="item in mainMenu" ng-if="item.position == 'right' && (item.auth == authType || !item.auth) " ng-class="{ active: isActive(item) }">
                    <a ng-if="!item.dropdown"  ng-href="{{item.url}}" target="{{item.blank ? '_blank' : '_self'}}" ng-class="itemClass(item)" ng-click="item.click()">
                      {{ item.label | translate }}
                    </a>
                    <a ng-if="item.dropdown && item.label === 'help'" target="_blank"  href="http://support.healthdata.be/customer/portal/topics/764536-use-hd4dp/articles">
                      {{ item.label | translate }}
                    </a>
                  </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
