<div class="loader">
    <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
    <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
    <p ng-if="!submittingWorkflows">{{ message | translate }}</p>
    <p ng-if="time" translate>This process can take some time</p>
    <p ng-if="submittingWorkflows"><span ng-if="submitting" translate>Submitted</span><span ng-if="deleting" translate>Deleting </span>{{ submittingWorkflows }} <span teanslate>of </span>{{ selectedValidArray.length }}</p>
</div>