<h1>Profile</h1>
<div class="form-group">
    <label for="email" translate>E-mail</label>
    <input
            id="email"
            ng-model="user.email"
            class="form-control"
            placeholder="{{'email' | translate}}"
            readonly="true"
            ng-required="true">
</div>
<div class="form-group">
    <label for="role" translate>Role</label>
    <input
            id="role"
            ng-model="user.role"
            class="form-control"
            placeholder="{{'role'|translate}}"
            readonly="true">
</div>
<div class="form-group">
    <label for="password" translate>Password</label>
    <input
            id="password"
            ng-model="user.newpassword"
            class="form-control"
            placeholder="{{'new password'|translate}}"
            type="password">
</div>
