<div class="progress-bar progress-bar-success"
     role="progressbar"
     aria-valuenow="{{ progress.valid }}"
     aria-valuemin="0"
     aria-valuemax="{{ progress.total }}"
     uib-popover="{{ progress.valid + '/' + progress.total + ' ' + ('valid' | translate) }}" popover-placement="top" popover-trigger="'mouseenter'"
     ng-style="{ 'width': progress.validRatio * 100 + '%' }">
    <span class="sr-only">{{ progress.valid }} valid</span>
</div>
<div class="progress-bar progress-bar-danger"
     role="progressbar"
     aria-valuenow="{{ progress.invalid }}"
     aria-valuemin="0"
     aria-valuemax="{{ progress.total }}"
     uib-popover="{{ progress.invalid + '/' + progress.total + ' ' + ('invalid' | translate) }}" popover-placement="top" popover-trigger="'mouseenter'"
     ng-style="{ 'width': progress.invalidRatio * 100 + '%' }">
    <span class="sr-only">{{ progress.invalid }} invalid</span>
</div>
<div class="progress-bar progress-bar-info"
     role="progressbar"
     aria-valuenow="{{ progress.optional }}"
     aria-valuemin="0"
     aria-valuemax="{{ progress.total }}"
     uib-popover="{{ progress.optional + '/' + progress.total + ' ' + ('optional' | translate)  }}" popover-placement="top" popover-trigger="'mouseenter'"
     ng-style="{ 'width': progress.optionalRatio * 100 + '%' }">
    <span class="sr-only">{{ progress.optional }} optional</span>
</div>
