<div class="row">
  <div class="col-md-12" id="settings">
    <!--Column left-->
    <div class="col-md-6">
      <!--Language-->
      <div class="settings-item" data-intro="{{ 'Choose your language.' | translate }}" data-position="top">
        <h2 translate>Language</h2>
        <select ng-model="selectedLang" ng-change="selectedLangChanged()">
          <option value="en">English</option>
          <option value="fr">Français</option>
          <option value="nl">Nederlands</option>
        </select>
      </div>
      <!--User management-->
      <div ng-if="admin"
           class="settings-item"
           data-intro="{{ 'Add, update or delete users. For each user, the username, the password, the rights and the data collection access can be set. A user can also be activated or deactivated.' | translate }}"
           data-position="top">
        <h2 translate>User Management</h2>
        <div class="settings-buttons">
          <a href="#/user/list" translate>User list</a>
          <a ng-if="!platform" href="#/user/requests">{{ 'User requests' | translate }} <span ng-if="requests.length > 0"
                                                                                              class="numberCircle">{{ requests.length }}</span></a>

          <a ng-if="!platform" href="#/dcrequests">
            {{ 'Data collection requests' | translate}}
            <span ng-if="dcRequests.length > 0" class="numberCircle">{{ dcRequests.length }}</span>
          </a>
        </div>
      </div>
      <!--Collections-->
      <!-- Shouldn't be viewed by the guest -->
      <div ng-if="platform && ddeEnabled && loggedUser.username !== 'guest'"
           class="settings-item"
           data-intro="{{ 'View, add, update or delete data collection definitions.' | translate }}"
           data-position="top">
        <h2 translate>Data Collections</h2>
        <a href="#/collectiongroup" translate>Data collection list</a>
        <a href="#/collectiongroup/new" ng-if="admin" translate>Add collection</a>
      </div>
      <!--User profile-->
      <!-- Shouldn't be viewed by the guest -->
      <div class="settings-item">
        <h2 translate>User Profile</h2>
        <p>{{ 'Username' | translate }}: {{ loggedUser.username }}</p>
        <p><span translate>Rights</span>: <span ng-repeat="auth in loggedUser.authorities"><span
          ng-repeat="a in authorities" ng-if="a.name == auth.authority">{{ a.label | translate }} </span></span></p>
        <a ng-if="!admin && authType == 'DATABASE' && loggedUser.username !== 'guest'" href="#/settings/profile"
           data-intro="{{ 'Edit your profile.' | translate }}" data-position="top" translate>Edit profile</a>
        <a ng-if="!admin && !platform" href="#/admins/list" translate>
          View administrators
        </a>
      </div>
    </div>
    <!--Column right-->
    <div class="col-md-6">
      <!--Notifications-->
      <div ng-if="!admin" class="settings-item" ng-include="'views/settings/notifications.html'"></div>
      <!--Configurations-->
      <div ng-if="admin"
           class="settings-item"
           data-intro="{{ 'Configure the application: set directories, addresses and other values.' | translate }}"
           data-position="top">
        <h2 translate>Configurations</h2>
        <a href="#/configurations" translate>Configurations</a>
      </div>
      <!--Elastic search-->
      <div ng-if="admin"
           class="settings-item" data-intro="{{ 'Rebuild the Elasticsearch index.' | translate }}"
           data-position="left"
           ng-init="refreshElasticsearchStatus()">
        <div class="elastic-status"
             ng-show="elasticsearchRebuildStatus.status != 'NOT_STARTED' && elasticsearchRebuildStatus.status">
          <span>{{ 'Status' | translate }}: {{ elasticsearchRebuildStatus.status }}</span>
          <span ng-if="elasticsearchRebuildStatus.indexing_task.status == 'RUNNING'">{{ 'Progress' | translate }}: {{ progress }}</span>
          <span ng-if="elasticsearchRebuildStatus.indexing_task.status == 'RUNNING'">{{ 'Percentage' | translate }}: {{ percentage }}%</span>
        </div>
        <h2>{{ 'Elasticsearch' | translate }} <i class="fa fa-circle status-circle"
                                                 ng-class="{'status-circle-offline': elasticsearchRebuildStatus.status == 'NOK', 'status-circle-busy': elasticsearchRebuildStatus.indexing_task.status == 'RUNNING'}"></i>
        </h2>
        <a href="" ng-click="refreshElasticsearchStatus()" translate>Refresh status</a>
        <a href="" ng-click="rebuildDialog()" translate>Rebuild</a>
      </div>
      <!--Status messaging-->
      <div ng-if="platform" class="settings-item">
        <h2 translate>Status messages</h2>
        <a ng-if="admin" href="#/status/list" translate>Status messages list</a>
        <a href="#/status/report" translate>Status messages report</a>
      </div>

      <div ng-if="admin" class="settings-item">
        <h2 translate>
          Clear caches
        </h2>
        <table class="table">
          <thead>
            <tr>
              <th>{{ 'Cache name' | translate }}</th>
              <th>
                <button class="btn btn-secundary" ng-click="clearAllCaches()">
                  Clear all caches
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="cache in caches">
              <td>{{ cache.label | translate }}</td>
              <td>
                <button class="btn btn-secundary" ng-click="clearCache(cache.name)">
                  Clear cache
                </button>
              </td>
            </tr>
            <tr ng-if="platform">
              <td>{{ 'catalogue caches' | translate }}</td>
              <td>
                <button class="btn btn-secundary" ng-click="clearCatalogueCaches()">
                  Clear cache
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
