<div class="btn-group dropup status-display"
     ng-class="{'offline': down, 'online': !down, 'busy': esDown && !down }">
  <!--LOADER-->
    <i ng-if="loading" class="fa fa-refresh fa-spin"></i>
  <!--DISPLAY-->
  <div ng-if="!error" class="status-dropdown" data-toggle="dropdown"
      aria-expanded="false"
      uib-dropdown-toggle>
    <p>
      <i ng-if="!loading" class="fa fa-circle status-circle"></i>
    </p>
    <p ng-if="!loading && esDown && !down" class="status-display-status" translate>limited</p>
    <p ng-if="!loading && !esDown && !down" class="status-display-status" translate>online</p>
    <p ng-if="!loading && down" class="status-display-status" translate>offline</p>
  </div>

  <div ng-if="error" ng-click="refresh()" class="status-dropdown status-dropdown-error">
    <i class="fa fa-exclamation-triangle"></i> {{ 'failed loading status' | translate }}
  </div>


  <!--DROPDOWN-->
    <ul class="dropdown-menu dropdown-menu-right" role="menu" ng-if="!loading">
        <li ng-repeat="(status,val) in statuses">
          <i class="fa fa-circle status-circle-online" ng-class="{'status-circle-offline': val == 'DOWN'}"></i> {{ status | translate }}
        </li>
        <li ng-click="refresh()" class="status-refresh">{{ 'refresh' | translate }} <i class="fa fa-refresh"></i></li>
    </ul>
</div>