<p translate>Are you sure you want to delete this data collection definition</p>
<div class="row">
  <button class="btn btn-secundary" ng-click="remove(true)" translate>Yes</button>
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>No</a></button>
</div>