<div class="follow-up-dialog">
  <h3>{{ action | translate }}</h3>
  <form name="followUpForm">
    <div class="row">
      <div class="col-md-5">
        <label class="req-label" translate>Name</label>
        <input class="form-control" type="text" ng-model="followUp.name" required />
      </div>
      <div class="col-md-5">
        <label class="noselect req-label"><span translate>Label</span>
          <small ng-click="toggleTranslations()">see translations</small>
        </label>
        <input class="form-control" ng-change="change()" type="text" ng-model="followUp.label" required />
      </div>
    </div>
    <br/>

    <div class="row" ng-if="showTranslations">
      <div class="col-md-5">
        <label class="req-label" translate>Label NL</label>
        <input required class="form-control" type="text" ng-model="nl">
      </div>

      <div class="col-md-5">
        <label class="req-label" translate>Label FR</label>
        <input required class="form-control" type="text" ng-model="fr">
      </div>
    </div>
    <br ng-if="showTranslations"/>

    <div class="row">
      <div class="col-md-10">
        <label class="req-label" translate>Description</label>
        <textarea class="form-control" ng-model="followUp.description" required></textarea>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-md-12">
        <label translate>Conditions</label>
        <tags-input ng-model="conditions" placeholder="{{ 'add condition' | translate }}"></tags-input>
      </div>
    </div>
    <br/>
    <div class="row follow-up-timing">
      <div class="col-md-12">
        <label class="req-label" translate>Timing</label>
        <input type="text" class="form-control" ng-model="followUp.timing" required />
        {{ 'after' | translate }}
        <select ng-model="followUp.baseline.type" class="form-control" required>
          <option translate value="COMPUTED_EXPRESSION">Computed expression</option>
          <option translate value="REGISTRATION_SUBMISSION_DATE">Registration submission date</option>
          <!--<option translate value="FOLLOW_UP_SUBMISSION_DATE">Follow-up submission date</option>-->
        </select>
        <input ng-if="followUp.baseline.type === 'COMPUTED_EXPRESSION'"
               ng-model="followUp.baseline.value"
               class="form-control"
               required
               type="text"
               placeholder="Computed expression">
      </div>
    </div>
    <br/>

    <div class="row">
      <p class="follow-up-message" translate>Changes to follow-ups will immediately be pushed to the data collection.</p>
      <button class="btn btn-secundary" ng-click="addFollowUp()" translate>Save</button>
      <button class="btn btn-primary" ng-click="deleteFollowUp()" ng-if="deleteEnabled"><a translate>Delete</a></button>
      <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button>
    </div>
  </form>
</div>