
<div class="row">
  <h3 translate>Create version</h3>
  <p translate>Please note that new versions can only be created on published versions.</p>
  <label translate>From version</label>
  <select ng-model="fromVersion" ng-change="update()">
    <option value="" selected>--<span translate>Select</span>--</option>
    <option ng-repeat="version in versions | orderBy: ['major', 'minor']"
            ng-if="version.published"
            value="{{ version }}">
      v{{ version.major }}.{{ version.minor }}
    </option>
  </select><br />

  <label translate>To version</label>
  <select ng-model="toVersion" ng-change="update()">
    <option value="" selected>--<span translate>Select</span>--</option>
    <option ng-repeat="version in toVersions | orderBy: ['major', 'minor']"
            value="{{ version }}">
      v{{ version.major }}.{{ version.minor }}
    </option>
  </select><br />
  <button class="btn btn-secundary" ng-disabled="!fromVersion || !toVersion" ng-click="create()" translate>Create</button>
</div>