<p translate>Are you sure you want to publish this version?</p>
<div class="row">
  <button class="btn btn-secundary" ng-click="publish()" translate>Publish</button>
  <button class="btn btn-secundary" ng-click="saveAndPublish()" translate>Save & Publish</button>
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button>
</div>