<p translate>Are you sure you want to republish this version?</p>
<div class="row">
  <button class="btn btn-secundary" ng-click="rePublish()" translate>Republish</button>
  <button class="btn btn-secundary" ng-click="saveAndRePublish()" translate>Save & Republish</button>
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button>
</div>