<p translate>Saving the data collection definition will result in a new work-in-progress version (wip).</p>
<p translate>Add a description of what has changed to the definition (required):</p>
<textarea type="text"
   ng-model="description"
   placeholder="Description"
   cols="50"
   rows="5">
</textarea>
<br />
<div class="row">
  <button class="btn btn-secundary" ng-click="createWip()" translate ng-disabled="!description">Save</button>
  <button class="btn btn-primary" ng-click="closeThisDialog()"><a translate>Cancel</a></button>
</div>