<span ng-repeat="error in manipulator.errors" ng-if="error != 'required'" class="field-errors">
  <span>{{ 'Error' | translate }}: {{ manipulator.description.messages[error] | translate }}</span>
</span>
<span ng-repeat="warning in manipulator.warnings" class="field-errors">
  <span>{{ 'Warning' | translate }}: {{ manipulator.description.messages[warning] | translate }}</span>
</span>