<span class="pop-help field-help-icon"
      ng-show="::(component.help && !component.helpInLine)"
     popover-append-to-body= "true"
     popover-trigger="'mouseenter'"
      uib-popover-html="component.help | translate | trustAsHtml"
      popover-placement="bottom-left">
  <i class="fa fa-info"></i>
</span>


<small class="field-help-text" ng-if="::(component.help && component.helpInLine)"><i class="fa fa-info-circle"></i> <span ng-bind-html="component.help | translate | trustAsHtml"></span></small>