<span ng-repeat="linked in linkedMessages('errors')" class="field-linked-message">
  {{ 'Error' | translate }}:
  <span linked-message
        assertion="linked.assertion"
        manipulator="linked.manipulator">
  </span>
</span>
<span ng-repeat="linked in linkedMessages('warnings')" class="field-linked-message">
  {{ 'Warning' | translate }}:
  <span linked-message
        assertion="linked.assertion"
        manipulator="linked.manipulator">
  </span>
</span>