<!--REQUIRED-->
<i class="validation-icon fa fa-asterisk"
   ng-if="hasError('required')
    && !linkedMessages('errors').length > 0
    && !linkedMessages('warnings').length > 0
    && manipulator.warnings.length === 0"></i>
<!--VALID-->
<i class="validation-icon fa fa-check"
   ng-if="manipulator.errors.length === 0
   && !manipulator.description.isAbsent(manipulator.read(), manipulator)
   && !manipulator.description.isEmpty(manipulator.read(), manipulator)
   && manipulator.warnings.length === 0
   && linkedMessages('warnings').length === 0
   && linkedMessages('errors').length === 0"></i>
<!--ERROR-->
<i class="validation-icon fa fa-times"
   ng-if="linkedMessages('errors').length > 0
   || (manipulator.errors.length > 0 && !(manipulator.errors.length === 1 && hasError('required')))"></i>
<!--WARNING-->
<i class="validation-icon fa fa-exclamation"
   ng-if="(manipulator.warnings.length > 0 || linkedMessages('warnings').length > 0)
   && linkedMessages('errors').length === 0
   && manipulator.errors.length === 0"></i>
