<div class="listview-fullpage">
  <collection-sidebar
          collections="collections"
          select-group="selectGroup(group); selectLatestVersion(group);"
          select-version="selectVersionAndFirstCollection(version)"
          select-collection="selectCollection(collection)"
          open-children="true"
          show-icons="true">
  </collection-sidebar>

  <div class="topbar">
    <div class="mainbar" ng-if="selectedCollection">
      <div class="collection-label">
        <h3>{{ selectedCollection.label.en | translate }}</h3>
        <span ng-if="selectedCollection">
                    v{{ selectedVersion.majorVersion }}.{{ selectedCollection.minorVersion }}
                </span>
      </div>

      <div class="mainbar-actions">
        <button class="btn btn-primary"
                ng-click="goToParticipation()" translate>Go to the participation page</button>

        <span
          uib-popover="{{ getDisabledHelpText() }}"
          popover-enable="!validCreationDate || !validStartDate || !selectedVersion.participationId"
          popover-trigger="'mouseenter'"
          popover-placement="auto bottom">
          <button ng-if="platform == 'hd4dp'"
                  ng-class="{read_grey: !validCreationDate || !validStartDate || !selectedVersion.participationId}"
                  ng-disabled="!validCreationDate || !validStartDate || !selectedVersion.participationId"
                  type="button"
                  ng-click="redirect('/document/new/' + selectedCollection.id)"
                  data-intro="{{ 'Start a new registration.' | translate }}"
                  data-position="bottom"
                  class="btn btn-secundary">
            <i class="fa fa-plus"></i>
            {{ 'New registration' | translate }}
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="listview-content mainview">

    <div id="listview-wrapper">
      <!--=========================-->
      <!-- TOOLBAR -->
      <!--=========================-->

      <div id="listview-toolbar">
        <!-- ACTIONS=========================-->
        <div id="toolbar-search-actions">
          <div ng-class="{ 'active': inputFilter, 'search-with-action': platform == 'hd4dp', 'search-with-no-actions': platform == 'hd4res' }"
               class="toolbar-search"
               data-intro="{{ 'Search in all data items of all registrations.' | translate }}"
               data-position="bottom">
            <input type="text"
                   class="form-control"
                   ng-change="searchFiltersChangedDebounced()"
                   ng-model="inputFilter"
                   placeholder="{{ 'Search registrations' | translate }}">
          </div><!--
  --><div class="toolbar-btn" uib-dropdown
          ng-if="platform != 'hd4res'"
          data-intro="{{ 'Upload CSV-files or download (selected) registrations in CSV-format.' | translate }}"
          data-position="bottom">
          <button uib-dropdown-toggle
                  type="button"
                  ng-class="{read_grey: !selectedCollection || !selectedVersion.participationId}"
                  ng-disabled="!selectedCollection || !selectedVersion.participationId" id="dropdownCsv" ng-click="activateListner()">
            <i class="fa fa-download"></i>
            {{ 'CSV' | translate }}
            <i class="fa fa-caret-down"></i>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="dropdownCsv">
            <li class="dropdown-submenu-toolbar" ng-class="{read_grey: !validCreationDate  }">
              <a ng-if="validCreationDate" ng-click="upload()">{{ 'CSV upload' | translate }}</a>
              <a ng-if="!validCreationDate">{{ 'CSV upload' | translate }}</a>
            </li>
            <li><a ng-click="downloadAllCSV()">{{ 'CSV download all' | translate }}</a></li>
            <li><a ng-click="downloadAllStableCSV()">{{ 'CSV download all (stable data)' | translate }}</a></li>
            <li ng-class="{read_grey: selectedRegistrations.length == 0 }">
              <a ng-click="downloadCSV(selectedRegistrations)">{{ 'CSV download selected' | translate }}</a>
            </li>
            <li ng-class="{read_grey: selectedRegistrations.length == 0 }">
              <a ng-click="downloadStableCSV(selectedRegistrations)">{{ 'CSV download selected (stable data)' | translate }}</a>
            </li>
          </ul>
        </div><!--
  --><div class="toolbar-btn" uib-dropdown
          data-intro="{{ 'Perform actions on all or selected registrations.' | translate }}"
          data-position="bottom" ng-if="platform == 'hd4dp'">
          <button ng-class="{read_grey: !selectedCollection}"
                  ng-disabled="!selectedCollection"
                  uib-dropdown-toggle type="button" id="dropdownActions" ng-click="activateListner()">
            <i class="fa fa-file-o"></i>
            {{ 'Actions' | translate }} <span ng-if="selectedValidSubmit.length > 0">({{ selectedValidSubmit.length }})</span>
            <i class="fa fa-caret-down"></i>
          </button>
          <ul uib-dropdown-menu role="menu" aria-labelledby="dropdownFilter">
            <li ng-class="{read_grey: selectedValidSubmit.length == 0}"
                ng-click="submitSelectedDialog()"><a>{{ 'Submit registrations' | translate }} <span ng-if="selectedValidSubmit.length > 0">({{selectedValidSubmit.length}})</span></a></li>
            <li ng-class="{read_grey: selectedValidDelete.length == 0}"
                ng-click="deleteSelectedDialog()"><a>{{ 'Delete registrations' | translate }} <span ng-if="selectedValidDelete.length > 0">({{selectedValidDelete.length}})</span></a></li>
            <li ng-class="{read_grey: selectedRegistrations.length == 0 }"
                ng-click="clearRegistrationSelection()">
              <a>{{ 'Clear selection' | translate }}</a>
            </li>
          </ul>
        </div>
        </div>
        <!-- FILTERS=========================-->
        <div id="toolbar-filters" data-intro="{{ 'Use the filters to narrow down the number of registrations shown.' | translate }}" data-position="bottom">
          <div>
            <div class="dropdown-md toolbar-filters-btn toolbar-filters-separation" ng-class="{ 'active': activeView.name }" uib-dropdown>
              <button uib-dropdown-toggle type="button" id="dropdownViews" data-intro="{{ 'Save your newly created view or retrieve a previously stored view.' | translate }}" data-position="bottom">
                <i class="fa fa-eye"></i>
                {{ activeView.name || 'Views' | translate }}
                <i class="fa fa-caret-down"></i>
              </button>
              <ul class="disable-close" uib-dropdown-menu role="menu" aria-labelledby="dropdownViews">
                <li class="dropdown-header" translate>Actions</li>
                <li ng-click="addView()"><a>{{ 'Save view as...' | translate }}</a></li>
                <li ng-click="updateView()" ng-if="activeView.name && views.length > 0">
                  <a>{{ 'Update view' | translate }}</a>
                </li>
                <li ng-click="deleteView()" ng-if="activeView.name && views.length > 0">
                  <a>{{ 'Delete view' | translate }}</a>
                </li>
                <li ng-click="defaultView()">
                  <a>{{ 'Restore default view' | translate }}</a></li>
                <li ng-if="views.length > 0" class="dropdown-header" translate>Views</li>
                <li ng-repeat="view in views track by $index" ng-click="changeView(view)">
                  <a><i class="fa fa-pencil" ng-if="activeView.name == view.name"></i>{{ view.name }}</a></li>
              </ul>
            </div>

            <!-- CHECKBOX FILTER -->
            <div ng-repeat="filter in filters"
                 class="toolbar-filters-checkbox noselect"
                 ng-if="(filter.platform === platform || !filter.platform) && filter.type == 'checkbox'">
              <label><input type="checkbox" ng-model="filter.value" ng-change="searchFiltersChanged()">{{ filter.label | translate }}</label>
            </div>

            <!--DROPDOWN FILTER-->
            <div ng-repeat="(name, filter) in filters"
                 ng-if="(filter.platform === platform || !filter.platform) && filter.type == 'dropdown'"
                 ng-class="{ 'active': filter.isActive() }"
                 class="dropdown-md toolbar-filters-btn"
                 uib-dropdown> <!-- TODO: active class -->
              <button uib-dropdown-toggle type="button" id="{{ 'dropdown' + name }}">
                <i class="fa fa-filter"></i>
                {{ filter.label | translate }}
                <i class="fa fa-caret-down"></i>
              </button>
              <ul class="disable-close" uib-dropdown-menu role="menu" aria-labelledby="{{ 'dropdown' + name }}">
                <li ng-if="filter.help" class="dropdown-header">{{ filter.help | translate }}</li>
                <li ng-repeat="(name, field) in filter.fields"
                    ng-if="(field.platform === platform || !field.platform)"
                    ng-click="$event.stopPropagation();"
                    ng-class="{ 'dropdown-datepicker': field.type == 'date',
                'dropdown-checkbox': field.type == 'checkbox',
                'dropdown-text': field.type == 'string' || field.type == 'autocomplete',
                 'dropdown-nested': field.type == 'nested',
                 'dropdown-submenu': field.type == 'nested'}">
                  <!--DATE FIELD-->
                  <span ng-if="field.type == 'date'">
                <label>{{ field.label | translate }}</label>
                <input type="text"
                       class="form-control datepicker-template"
                       uib-datepicker-popup="{{ datepicker.format }}"
                       is-open="openDatePicker[name]"
                       placeholder="dd-mm-yyyy"
                       ng-change="searchFiltersChanged()"
                       ng-click="open($event, name)"
                       ng-model="field.value">
                <button type="button"
                        class="btn btn-default btn-append"
                        ng-click="open($event, name)">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
                  <!--CHECKBOX-->
                  <span ng-if="field.type == 'checkbox'">
                <label ng-click="field.toggleValue(); searchFiltersChanged();">
                  <i ng-class="{'fa-check': field.value, 'fa-plus': !field.value }" class="fa listview-active-icon"></i> {{ field.label | translate }}
                </label>
              </span>
                  <!--STRING-->
                  <span ng-if="field.type == 'string'">
               <label>{{ field.label | translate }}</label>
              <input type="text"
                     class="form-control"
                     ng-change="searchFiltersChanged()"
                     ng-model="field.value">
              </span>
                  <!--AUTOCOMPLETE-->
                  <span ng-if="field.type == 'autocomplete'">
                <label>{{ field.label | translate }}</label>
                  <input type="text"
                         autocomplete="false"
                         ng-trim="false"
                         class="form-control"
                         ng-model="field.value"
                         ng-change="searchFiltersChanged()"
                         typeahead-min-length="1"
                         typeahead-on-select="field.value=field.inputFormatter(); searchFiltersChanged()"
                         uib-typeahead="match as field.renderMatch(match) for match in field.promise($viewValue)"
                         typeahead-loading="false">
              </span>
                  <!--DROPDOWN-->
                  <a ng-if="field.type == 'nested'"
                     title="{{ field.label | translate }}"
                     ng-click="openColumnDropdown(name); $event.stopPropagation();"
                     ng-class="{ 'force-dropdown-submenu': openMenu == name }">
                    {{ field.label | translate }}
                    <ul uib-dropdown-menu>
                      <li ng-if="field.help" class="dropdown-header">{{ field.help | translate }}</li>
                      <li ng-repeat="(nestedName, nested) in field.fields" ng-if="nested.type == 'checkbox'" class="dropdown-checkbox">
                        <label ng-click="nested.toggleValue(); searchFiltersChanged()">
                          <i ng-class="{'fa-check': nested.value, 'fa-plus': !nested.value }" class="fa listview-active-icon"></i> {{ nested.label | translate }}
                        </label>
                      </li>
                    </ul>
                  </a>
                </li>
              </ul>
            </div>
            <p ng-if="filtersActive"  ng-click="clearFilters()" class="toolbar-filters-clear">
              <i class="fa fa-times"></i> {{ 'Clear filters' | translate }}
            </p>
          </div>
        </div>

        <div class="listview-holder">
          <!--=========================-->
          <!--PAGINATION TOP -->
          <!--=========================-->
          <div class="listview-pagination list-pagination listview-pagination-top">
            <ul uib-pagination
                direction-links="false"
                boundary-links="true"
                total-items="totalNumberOfWorkflows"
                first-text="{{ 'First' | translate }}"
                last-text="{{ 'Last' | translate }}"
                next-text="{{ 'Next' | translate }}"
                previous-text="{{ 'Previous' | translate }}"
                max-size="5"
                ng-model="currentPage"
                ng-change="setPage(currentPage)"
                num-pages="numPages"
                items-per-page="itemsPerPage"
                ng-show="numPages > 1 && (platform == 'hd4res' || selectedVersion.participationId)"
                ng-if="totalNumberOfWorkflows"
                class="pagination-sm"
                boundary-links="true" rotate="false"></ul>

            <div class="listview-pagination-select" data-intro="{{ 'Choose the number of registrations displayed per page.' | translate }}" data-position="top">
              <select ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <p>{{ selectedRegistrations.length }} <span>{{ 'selected' | translate }}</span></p>
            <p>{{ totalNumberOfWorkflows }} <span>{{ 'registrations' | translate }}</span></p>
          </div>

          <!--=========================-->
          <!--TABLE VIEW-->
          <!--=========================-->
          <div class="listview-tables" data-intro="{{ 'Click on any line to go to the corresponding registration.' | translate }}" data-position="top">
            <table class="list-table listview-table">
              <thead>
              <tr data-intro="{{ 'Click on any column title to sort ascending or descending according to this column.' | translate }}" data-position="top">
                <th width="35" class="noselect"><input ng-click="clickMainCheckbox()" class="select-all" ng-model="checked" type="checkbox" ></th>
                <!--STATUS-->
                <th ng-if="docActiveColumns.length > 0 || extraActives.length > 0"  class="noselect listivew-status-column"
                    data-intro="{{ 'To learn more about the status of a registration, please click the help-icon.' | translate }}" data-position="top"
                    ng-click="sortByColumn('status')"
                    ng-class="{activeColumn: columnSort.sortColumn == 'status', 'status-collapse': activeView.statusCollapsed }">

                  <div ng-if="!activeView.statusCollapsed">
                    <i ng-click="toggleStatusColumn(); $event.stopPropagation();" class="icon-arrow-down"></i>
                    <span translate>Status</span> <a ng-if="platform == 'hd4res'" target="_blank" href="https://support.healthdata.be/customer/portal/articles/2371661"><i class="fa fa-info-circle"></i></a><a ng-if="platform == 'hd4dp'" target="_blank" href="https://support.healthdata.be/customer/portal/articles/2371660"><i class="fa fa-info-circle"></i></a>  <table-sort column="columnSort" sort-by="'status'"></table-sort>
                  </div>

                  <div ng-if="activeView.statusCollapsed">
                    <i ng-click="toggleStatusColumn(); $event.stopPropagation();" class="icon-arrow-right"></i>
                  </div>
                </th>

                <th ng-if="docActiveColumns.length == 0 && extraActives.length == 0" class="noselect listivew-status-column-empty" ng-click="sortByColumn('status')">
                  <span translate>Status</span> <a ng-if="platform == 'hd4res'" target="_blank" href="https://support.healthdata.be/customer/portal/articles/2371661"><i class="fa fa-info-circle"></i></a><a ng-if="platform == 'hd4dp'" target="_blank" href="https://support.healthdata.be/customer/portal/articles/2371660"><i class="fa fa-info-circle"></i></a>  <table-sort column="columnSort" sort-by="'status'"></table-sort>
                </th>

                <!--EXTRA COLUMNS-->
                <th ng-repeat="(name, field) in extraColumns | orderBy: 'order' | getNestedColumns"
                    ng-if="field.active"
                    ng-click="sortByColumn(getSortColumn(field.key, field.valueLocation))"
                    class="noselect"
                    ng-class="{activeColumn: columnSort.sortColumn == getSortColumn(field.key, field.valueLocation), 'th-content': field.parent === 'qualities'}"
                    data-sortable="true">
                  <span once-text="field.label | translate"></span> <table-sort column="columnSort" sort-by="getSortColumn(field.key, field.valueLocation)"></table-sort>
                  <i class="fa fa-times" ng-click="field.toggleActive();updateLastView();$event.stopPropagation();"></i>
                </th>
                <!--COLUMNS-->
                <th
                        ng-click="sortByColumn('document.documentContent.display.nested.' + column.key)"
                        class="noselect th-content"
                        ng-if="column.active"
                        ng-repeat="column in docActiveColumns"
                        ng-class="{activeColumn: columnSort.sortColumn === 'document.documentContent.display.nested.' + column.key}">
                  <span ng-show="column.label.length > 25 && columnSort.sortColumn != column"><span bind-html-compile="column.label | translate | limitTo : 25"></span><span>...</span></span>
                  <span ng-show="column.label.length > 25 && columnSort.sortColumn == column" bind-html-compile="column.label | translate"></span>
                  <span ng-show="column.label.length <= 25" bind-html-compile="column.label | translate"></span> <table-sort column="columnSort" sort-by="'document.documentContent.display.nested.' + column.key"></table-sort>
                  <i class="fa fa-times" ng-click="column.toggleActive();updateLastView(); $event.stopPropagation();"></i>
                </th>

                <!--ADD COLUMNS DROPDOWN -->
                <th class="dropdown-add-columns" uib-dropdown>
                  <button uib-dropdown-toggle ng-click="openMenu = null" type="button" id="dropdownCOLS" data-intro="{{ 'Click this settings button to add new columns to the view. Columns can be selected from all data items of the data collection, data quality items or information about the source of data or the timings of the registrations.' | translate }}" data-position="left">
                    <i class="fa fa-cog"></i>
                  </button>
                  <ul class="disable-close" uib-dropdown-menu role="menu" aria-labelledby="dropdownCOLS">
                    <li class="dropdown-header ng-scope" translate>Add columns</li>
                    <li class="dropdown-submenu remove-sub-menus"
                        ng-click="openMenu = 'columns'; initColumnDropdown(); $event.stopPropagation();"
                        title="{{ 'Data items' | translate }}"
                        ng-class="{ 'force-dropdown-submenu': openMenu == 'columns' }">
                      <a translate>Data items</a>
                      <div
                              ng-if="docColumns"
                              class="disable-close"
                              uib-dropdown-menu
                              role="menu"
                              aria-labelledby="dropdownCOLS">
                        <column-object
                                level="0"
                                update-last-view="updateLastView()"
                                object="docColumns">
                        </column-object>
                      </div>
                    </li>
                    <li class="dropdown-submenu disable-close"
                        ng-repeat="(name, column) in extraColumns | orderBy: 'order'"
                        ng-if="(!column.platform || column.platform == platform) && column.type == 'dropdown'"
                        title="{{ column.label | translate }}"
                        ng-click="openColumnDropdown(name); $event.stopPropagation();"
                        ng-class="{ 'force-dropdown-submenu': openMenu == name }">
                      <a role="menuitem" >{{ column.label | translate }}</a>
                      <ul class="disable-close" uib-dropdown-menu>
                        <li class="dropdown-header">{{ column.label | translate }}</li>
                        <li ng-repeat="(fieldName, field) in column.columns"
                            title="{{ field.label | translate }}">
                          <label class="dropdown-checkbox" ng-click="field.toggleActive(); updateLastView()">
                            <i ng-class="{'fa-check': field.active, 'fa-plus': !field.active }" class="fa listview-active-icon"></i> {{ field.label | translate }}
                          </label>
                        </li>
                      </ul>
                    </li>
                    <li ng-repeat="(name, column) in extraColumns | orderBy: 'order'"
                        ng-if="column.type == 'checkbox'"
                        ng-click="$event.stopPropagation();"
                        title="{{ column.label | translate }}">
                      <label ng-click="column.toggleActive(); updateLastView()" class="dropdown-checkbox">
                        <i ng-class="{'fa-check': column.active, 'fa-plus': !column.active }" class="fa listview-active-icon"></i> {{ column.label | translate }}
                      </label>
                    </li>
                    <li ng-click="clearColumns()"><a>{{ 'Clear added columns' | translate }}</a></li>
                  </ul>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr ng-show="!loading && shownWorkflows.length >= 1 && (selectedVersion.participationId || platform == 'hd4res')" ng-click="goToDoc(workflow.id)" ng-repeat="workflow in shownWorkflows">
                <td width="30" class="td-workflow" stop-event><input type="checkbox" ng-model="workflow.checked" ng-change="selectRegistration(workflow)" name="workflowBox"></td>

                <!--STATUS-->
                <td ng-if="activeView.statusCollapsed && (docActiveColumns.length > 0 || extraActives.length > 0)" class="listview-status-icons td-workflow" ng-class="{ 'listview-status-icons-action': statusNeedsAction(workflow.status) }">
                  <i class="icon-{{ workflow.status }}"></i>
                </td>

                <td class="listview-status-td td-workflow" ng-if="!activeView.statusCollapsed || (docActiveColumns.length == 0 && extraActives.length == 0)" ng-class="{ 'listview-status-icons-action': statusNeedsAction(workflow.status) }">
                  <i class="icon-{{ workflow.status }}"></i> <span once-text="getStatusLabel(workflow)"></span>
                </td>

                <!--EXTRA COLUMNS-->
                <td ng-repeat="field in extraColumns | orderBy: 'order' | getNestedColumns" ng-class="{ 'td-workflow': field.parent != 'qualities' }" ng-if="field.active">
              <span ng-if="field.fieldType == 'string' || field.fieldType == 'int'">
                <span ng-if="field.valueLocation">{{ workflow | stringToPath: field.valueLocation + '.' + field.key }}</span>
                <span ng-if="!field.valueLocation">{{ workflow[field.key] }}</span>
              </span>


                  <span ng-if="field.fieldType == 'followup' && workflow.context && workflow.context.followUps" >
                <span ng-repeat="followUp in workflow.context.followUps | orderBy: 'label'" ng-if="followUp.activationDate || followUp.active">
                  <span  ng-if="followUp.submittedOn" class="followup-small">
                    {{ followUp.label | translate }}: {{ 'submitted on' | translate }} {{ followUp.submittedOn | filterDate : 'DD-MM-YYYY' }}
                  </span>
                  <span ng-if="!followUp.active && followUp.activationDate && !followUp.submittedOn" class="followup-small">
                    {{ followUp.label | translate }}: {{ 'planned for' | translate }} {{ followUp.activationDate | filterDate : 'DD-MM-YYYY' }}
                  </span>
                  <span ng-if="followUp.active && !followUp.submittedOn">
                    {{ followUp.label | translate }}: {{ 'active' | translate }}
                  </span>
                  <br />
                </span>
              </span>
                  <span ng-if="field.fieldType == 'date'">
                <span ng-if="field.valueLocation">{{ workflow[field.valueLocation][field.key] | filterDate : 'DD-MM-YYYY HH:mm:ss' }}</span>
                <span ng-if="!field.valueLocation">{{ workflow[field.key] | filterDate : 'DD-MM-YYYY HH:mm:ss' }}</span>
              </span>
                  <div ng-if="field.fieldType == 'progress'"
                       class="progress"
                       ng-controller="ProgressCtrl"
                       document-progress="workflow.progress"
                       ng-include="'views/progressBar.html'">
                  </div>
                </td>

                <!--COLUMNS-->
                <td  ng-repeat="column in docActiveColumns">
              <span class="list-columns"
                    once-text="getPropByString(workflow.trueData, column.key)"></span>
                </td>
              </tr>
              <tr ng-show="loading || shownWorkflows.length == 0 || (!selectedVersion.participationId && platform == 'hd4dp')" class="loading-table">
                <td colspan="99">
                  <div ng-if="loading && (selectedVersion.participationId || platform == 'hd4res')">
                    <img src="images/loader_hd4dp.gif"  id="loading-indicator" ng-if="platform == 'hd4dp'" />
                    <img src="images/loader_hd4res.gif"  id="loading-indicator" ng-if="platform == 'hd4res'" />
                  </div>
                  <div ng-if="!loading && shownWorkflows.length == 0 && !inputFilter && collections && collections.length > 0 && (selectedVersion.participationId || platform == 'hd4res')" class="loader-left">
                    <p translate>No results found</p>
                  </div>
                  <div ng-if="!collections || collections.length == 0" class="loader-left">
                    <p translate>Please select a data collection definition</p>
                  </div>

                  <div class="loader-left" ng-if="!loading && shownWorkflows.length == 0 && inputFilter && (!selectedVersion.participationId && platform == 'hd4res')" >
                    <p translate>There are no registrations matching your search query.</p>
                    <p translate>When searching for specific terms, please also take into account the following behaviour:</p>
                    <ul>
                      <li translate>The search is not case sensitive and does not take non-alphanumeric characters into account.</li>
                      <li translate>The search does not work on the middle of a word. E.g. when searching for "Gate", the search term "gat" will return the result, but the search term "ate" will not. When searching for "Green gate", the search term "gat" will also return this result.</li>
                      <li translate>The search does not work when the search string contains spelling errors.</li>
                    </ul>
                    <p translate>Please note that the search on the status of registrations is not supported in the search bar. Please use the dedicated status filter to obtain the registrations for specific statuses.</p>
                  </div>

                  <div class="loader-center" ng-if="!selectedVersion.participationId && platform == 'hd4dp' && !loading">
                    <p translate>You are not yet participating in this data collection period. Go to the participation page to start participating!</p>
                    <a class="btn btn-primary" href="#/participation?name={{ selectedCollection.dataCollectionName }}&id={{ selectedCollection.id }}" translate>Go to the participation page</a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!--=========================-->
          <!--PAGINATION BOTTOM-->
          <!--=========================-->
          <div class="listview-pagination list-pagination listview-pagination-bottom">
            <ul uib-pagination
                direction-links="false"
                boundary-links="true"
                total-items="totalNumberOfWorkflows"
                first-text="{{ 'First' | translate }}"
                last-text="{{ 'Last' | translate }}"
                next-text="{{ 'Next' | translate }}"
                previous-text="{{ 'Previous' | translate }}"
                max-size="5"
                ng-model="currentPage"
                ng-change="setPage(currentPage)"
                ng-if="totalNumberOfWorkflows"
                num-pages="numPages"
                items-per-page="itemsPerPage"
                ng-show="numPages > 1 && (platform == 'hd4res' || selectedVersion.participationId)"
                class="pagination-sm"
                boundary-links="true" rotate="false"></ul>


            <div class="listview-pagination-select">
              <select ng-model="itemsPerPage" ng-change="itemsPerPageChanged()">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>

            <p>{{ selectedRegistrations.length }} <span>{{ 'selected' | translate }}</span></p>

            <p>{{ totalNumberOfWorkflows }} <span>{{ 'registrations' | translate }}</span></p>
          </div>
        </div>
      </div>

    </div>
</div>: