<div ng-if="allowedCollections.length > 0">
  <p>{{ request.user.firstName }} {{ request.user.lastName }} {{ 'gained access to the following data collections:' | translate }} </p>

  <ul>
    <li ng-repeat="collection in allowedCollections">{{ collection.key }}</li>
  </ul>
</div>
<div ng-if="deniedCollections.length > 0">
  <p>{{ request.user.firstName }} {{ request.user.lastName}} {{ 'was denied access to the following data collections:' | translate}}</p>

  <ul>
    <li ng-repeat="collection in deniedCollections">{{ collection.key }}</li>
  </ul>
</div>