  <div>
    <p>Which collections should {{ request.user.firstName }} {{ request.user.lastName }} gain access to?</p>

    <table class="list-table">
      <thead>
        <tr>
          <th translate>Approve</th>
          <th translate>Data collection</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="collection in request.dataCollections">
          <td><input type="checkbox" ng-model="collection.value" /></td>
          <td>{{ collection.key | translate }}</td>
        </tr>
      </tbody>
    </table>

    <div class="settings-buttons">
      <button class="btn-secundary" ng-click="save()"> {{ 'Save' | translate }}</button>
      <button class="btn-primary" ng-click="cancel()"> {{ 'Cancel' | translate }} </button>
    </div>
  </div>