<div class="row">
  <label translate>Organization</label>
  <p>{{ userOrganization.name }}</p>

  <label>{{ 'Data collections' | translate }} <i class="fa fa-spinner fa-spin" ng-if="collectionLoading"></i></label>
  <select ng-model="selected.collection">
    <option translate value="" selected>All data collections</option>
    <option ng-value="collection.name" ng-repeat="collection in collections | orderBy:'name'">{{ collection.name | translate }}</option>
  </select>
  <p ng-if="colError">{{ 'Could not load data collections' | translate }}</p>

  <br />

  <button class="btn btn-primary" ng-if="!selected.collection" ng-click="esRebuildOrganization(userOrganization.id)">
    <a>{{ 'Rebuild all collections for' | translate }} '{{ userOrganization.name }}'</a>
  </button>
  <button class="btn btn-primary" ng-if="selected.collection" ng-click="esRebuildCollection(userOrganization.id, selected.collection)">
    <a>{{ 'Rebuild' | translate }} '{{ selected.collection | translate }}' {{ 'for' | translate }} '{{ userOrganization.name }}'</a>
  </button>
</div>