<div class="row">
    <label translate>Subject</label><input type="text" ng-model="subject" class="mail-subject"/>
    <label translate>Message</label><textarea ng-model="body" class="mail-body"></textarea>

    <div class="settings-buttons">
        <button class="btn btn-secundary" ng-click="confirm()" translate>Send</button>
        <button class="btn btn-primary" ng-click="closeThisDialog()" translate>Cancel</button>
    </div>
</div>