<!-- Add overview for mother collections -->
<div class="participation-fullpage">
  <collection-sidebar
          collections="collections"
          select-version="selectVersion(version, group)"
          select-group="selectGroup(group)">
  </collection-sidebar>

  <div class="topbar">
    <div class="mainbar">
      <div class="collection-label">
        <h3>{{ selectedVersion.label.en | translate }}</h3>
        <span ng-if="selectedVersion">
          v{{ selectedVersion.majorVersion }}
        </span>
      </div>

      <div class="mainbar-actions" ng-if="isUpdatingCollection">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <div class="mainbar-actions" ng-if="!isUpdatingCollection && selectedVersion">
        <button class="btn btn-primary"
                ng-if="participationDetails && !isLoading"
                ng-click="goToDataCollection()" translate>Go to data collection</button>
        <button class="btn btn-secundary"
                ng-if="!participationDetails && validStartDate && validEndDate"
                ng-click="participate()" translate>Participate</button>
        <button class="btn btn-secundary"
                ng-if="participationDetails && participationDetails.completed && validStartDate"
                ng-click="reopen()" translate>Reopen</button>
        <button class="btn btn-secundary"
                popover-append-to-body= "true"
                popover-trigger="mouseenter"
                popover="{{ 'Finalizing the data collection is used to indicate to the responsible researcher that you have submitted all registrations for the concerned data collection period.' | translate }}"
                popover-placement="right"
                ng-if="participationDetails && !participationDetails.completed && validStartDate"
                ng-click="finalize()" translate>Finalize</button>
        <p ng-if="!validStartDate" translate>Data collection round not yet started.</p>

      </div>
    </div>
  </div>

  <div class="mainview participation-content">
    <div ng-if="!selectedVersion" translate>
      Please select a collection in the left side-menu.
    </div>

    <div class="collection-overview" ng-if="selectedVersion">
      <!-- Details submission&comment&... dates-->
      <div>
        <div class="heading">
          <div ng-click="hide('groupDetails')" class="hideToggle noselect">
                <span>
                    <i ng-class="{'fa fa-caret-down': hiddenSections.indexOf('groupDetails') === -1,
                              'fa fa-caret-right': hiddenSections.indexOf('groupDetails') > -1}"></i>
                </span>

            <label translate>Data collection details</label>
          </div>
        </div>

        <div ng-if="hiddenSections.indexOf('groupDetails') === -1">
          <p>
            {{ 'Start date' | translate }}: {{ selectedVersion.startDate | date:'dd/MM/yyyy' }}

            <i class="fa fa-info"
               popover-append-to-body="true"
               popover-trigger="'mouseenter'"
               uib-popover="{{ 'The data collection is active and new registrations can be created' | translate }}"
               popover-placement="right"></i>
          </p>

          <p>
            {{ 'End creation date' | translate }}: {{ selectedVersion.endDateCreation | date:'dd/MM/yyyy' }}

            <i class="fa fa-info" popover-append-to-body="true"
               popover-trigger="'mouseenter'"
               uib-popover="{{ 'The data collection is still active, but it is no longer possible to create new registrations. It is only possible to submit or correct existing registrations.' | translate }}"
               popover-placement="right"></i>
          </p>

          <p>
            {{ 'End submission date' | translate }}: {{ selectedVersion.endDateSubmission | date:'dd/MM/yyyy' }}

            <i class="fa fa-info" popover-append-to-body= "true"
               popover-trigger="'mouseenter'"
               uib-popover="{{ 'The data collection is still active, but it is no longer possible to create new or submit registrations. It is only possible to correct existing registrations.' | translate }}"
               popover-placement="right"></i>
          </p>

          <p>
            {{ 'End comment date' | translate }}: {{ selectedVersion.endDateComments | date:'dd/MM/yyyy' }}

            <i class="fa fa-info" popover-append-to-body= "true"
               popover-trigger="'mouseenter'"
               uib-popover="{{ 'The data collection is no longer active.' | translate }}"
               popover-placement="right">
            </i>
          </p>

          <p>
            {{ 'Participation info' }}: {{ participationInfo }}

            <i class="fa fa-info" popover-append-to-body= "true"
               popover-trigger="'mouseenter'"
               uib-popover="{{ 'Additional information about the data collection.' | translate }}"
               popover-placement="right">
            </i>
          </p>
        </div>
      </div>

      <!-- Collection of dataCollectionDefinitions -->
      <div ng-if="selectedVersion.participationId && selectedVersion.dataCollectionDefinitions.length > 1">
        <div class="heading">
          <div ng-click="hide('groupChildren')" class="hideToggle noselect">
            <span>
              <i ng-class="{'fa fa-caret-down': hiddenSections.indexOf('groupChildren') === -1,
                            'fa fa-caret-right': hiddenSections.indexOf('groupChildren') > -1}"></i>
            </span>

            <label translate>Sub-data collections</label>
          </div>
        </div>

        <div id="groupChildren" ng-if="hiddenSections.indexOf('groupChildren') === -1">
          <div class="subdatacollections">
            <div class="subdatacollection" ng-repeat="definition in selectedVersion.dataCollectionDefinitions | orderBy: 'dataCollectionName'"
                 ng-click="goToSubDataCollection(definition.dataCollectionDefinitionId)">
              {{ definition.label.en | translate }}
            </div>
          </div>
        </div>
      </div>

      <!-- participation status -->
      <div>
        <div class="heading">
          <div ng-click="hide('participationStatus')" class="hideToggle noselect">
            <span>
              <i ng-class="{'fa fa-caret-down': hiddenSections.indexOf('participationStatus') === -1,
                            'fa fa-caret-right': hiddenSections.indexOf('participationStatus') > -1}"></i>
            </span>

            <label translate>Participation status</label>
          </div>
        </div>

        <div id="participationStatus" ng-if="hiddenSections.indexOf('participationStatus') === -1">
          <p>Started on: {{ participationDetails.createdOn | date:'dd/MM/yyyy' }}</p>
          <p>Completed on: {{ participationDetails.completedOn | date:'dd/MM/yyyy' }}</p>
        </div>
      </div>

      <!-- Participation document / Model -->
      <div ng-if="participationModel">
        <div class="heading">
          <div ng-click="hide('participationDocument')" class="hideToggle noselect">
            <span>
              <i ng-class="{'fa fa-caret-down': hiddenSections.indexOf('participationDocument') === -1,
                            'fa fa-caret-right': hiddenSections.indexOf('participationDocument') > -1}"></i>
            </span>

            <label translate>Participation document</label>
          </div>
        </div>

        <div id="participationDocument" ng-if="hiddenSections.indexOf('participationDocument') === -1">
          <div class="dataprovider-participation-document no_comments" id="doc-form" ng-if="participationModel && participationDetails && !isLoading"
               ng-class="{ read_only: participationDetails.status != 'IN_PROGRESS' }">
            <skr-editor-component
                    ng-if="participationModel && participationDetails"
                    skr-editor-options="{}"
                    component="participationModel.component"
                    manipulator="participationModel.manipulator">
            </skr-editor-component>
          </div>

          <div class="top-padding" ng-if="participationDetails.status === 'IN_PROGRESS'">
            <a class="btn btn-secundary" ng-click="save()" translate>Save</a>
            <a class="btn btn-secundary" ng-click="submit()" translate>Submit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>