<div class="participation-fullpage">
    <collection-sidebar
            collections="collections"
            select-group="selectGroup(group)"
            select-version="selectVersion(version)">
    </collection-sidebar>

    <div class="topbar">
        <div class="mainbar" ng-if="selectedGroup">
            <div class="collection-label">
                <h3>{{ selectedGroup.name | translate }}</h3>
                <span ng-if="selectedVersion">
                    v{{ selectedVersion.majorVersion }}
                </span>
            </div>

            <div class="mainbar-actions">
                <button class="btn-new" ng-click="goToList()" translate>Consult data collection</button>
                <button class="btn-new" ng-click="goToStatus()" translate>Consult registration progress report</button>
            </div>
        </div>
    </div>

    <div class="mainview participation-content">
        <div ng-if="selectedGroup && !selectedVersion"
             class="collection-overview"
             ng-include="'views/participation/templates/hd4res/groupTemplate.html'">
        </div>
        <div ng-if="selectedVersion"
             class="collection-overview"
             ng-include="'views/participation/templates/hd4res/collectionTemplate.html'">
        </div>
        <div ng-if="!selectedVersion && !selectedGroup" translate>
            Please select a collection in the left side-menu.
        </div>
    </div>
</div>