    /*
    Flaticon icon font: Flaticon
    Creation date: 16/09/2016 12:55
    */

    @font-face {
  font-family: 'Flaticon';
  src: font-url('flaticons/Flaticon.eot');
  src: font-url('flaticons/Flaticon.eot?#iefix') format('embedded-opentype'),
  font-url('flaticons/Flaticon.woff') format('woff'),
  font-url('flaticons/Flaticon.ttf') format('truetype'),
  font-url('flaticons/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Flaticon';
    src: font-url('flaticons/Flaticon.svg#Flaticon') format('svg');
  }
}

    .fi:before{
        display: inline-block;
  font-family: 'Flaticon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-eyeglasses:before { content: '\f100'; }
.flaticon-glasses:before { content: '\f101'; }
.flaticon-medical:before { content: '\f102'; }
.flaticon-medical-1:before { content: '\f103'; }
.flaticon-science:before { content: '\f104'; }
.flaticon-tool:before { content: '\f105'; }
.flaticon-vision:before { content: '\f106'; }
    
    $font-Flaticon-eyeglasses: '\f100';
    $font-Flaticon-glasses: '\f101';
    $font-Flaticon-medical: '\f102';
    $font-Flaticon-medical-1: '\f103';
    $font-Flaticon-science: '\f104';
    $font-Flaticon-tool: '\f105';
    $font-Flaticon-vision: '\f106';