	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/09/2016 12:55
  	*/

@font-face {
  font-family: "Flaticon";
  src: font-url("flaticons/Flaticon.eot");
  src: font-url("flaticons/Flaticon.eot?#iefix") format("embedded-opentype"),
  font-url("flaticons/Flaticon.woff") format("woff"),
  font-url("flaticons/Flaticon.ttf") format("truetype"),
  font-url("flaticons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: font-url("flaticons/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-eyeglasses:before { content: "\f100"; }
.flaticon-glasses:before { content: "\f101"; }
.flaticon-medical:before { content: "\f102"; }
.flaticon-medical-1:before { content: "\f103"; }
.flaticon-science:before { content: "\f104"; }
.flaticon-tool:before { content: "\f105"; }
.flaticon-vision:before { content: "\f106"; }