/* Copyright 2014-2016 Healthdata.be
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@font-face {
    font-family: 'icomoon';
    src:    font-url('icomoon/icomoon.eot?x6p3uu');
    src:    font-url('icomoon/icomoon.eot?x6p3uu#iefix') format('embedded-opentype'),
    font-url('icomoon/icomoon.ttf?x6p3uu') format('truetype'),
    font-url('icomoon/icomoon.woff?x6p3uu') format('woff'),
    font-url('icomoon/icomoon.svg?x6p3uu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ANNOTATIONS_IN_PROGRESS:before {
    content: "\e900";
}
.icon-ANNOTATIONS_NEEDED:before {
    content: "\e901";
}
.icon-APPROVED:before {
    content: "\e902";
}
.icon-AUTHORIZATION_FAILED:before {
    content: "\e903";
}
.icon-CORRECTIONS_NEEDED:before {
    content: "\e904";
}
.icon-CORRECTIONS_REQUESTED:before {
    content: "\e905";
}
.icon-DELETED:before {
    content: "\e906";
}
.icon-IN_PROGRESS:before {
    content: "\e907";
}
.icon-LOADED_IN_STG:before {
    content: "\e908";
}
.icon-NEW:before {
    content: "\e909";
}
.icon-NEW_CORRECTIONS:before {
    content: "\e90a";
}
.icon-SENDING:before {
    content: "\e90b";
}
.icon-arrow-down:before {
    content: "\e90c";
}
.icon-arrow-right:before {
    content: "\e90d";
}
.icon-SUBMITTED:before {
    content: "\e90e";
}
.icon-TECHNICAL_ERROR:before {
    content: "\e90f";
}
.icon-UNAUTHORIZED:before {
    content: "\e910";
}
.icon-VALIDATION_FAILED:before {
    content: "\e911";
}
.icon-cross:before {
    content: "\e117";
}
.icon-menu:before {
    content: "\e120";
}
